Euler__Explorer_Prs.json
{
  "name": "Euler- Explorer Prs",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "channel": "#web-tech",
        "text": "=Pull request {{$node[\"Github Trigger1\"].json[\"body\"][\"action\"]}} by {{$node[\"Github Trigger1\"].json[\"body\"][\"pull_request\"][\"user\"][\"login\"]}}:  #{{$node[\"Github Trigger1\"].json[\"body\"][\"pull_request\"][\"number\"]}} \"{{$node[\"Github Trigger1\"].json[\"body\"][\"pull_request\"][\"title\"]}}\"\n{{$node[\"Github Trigger1\"].json[\"body\"][\"pull_request\"][\"html_url\"]}}",
        "attachments": [],
        "otherOptions": {}
      },
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        960,
        140
      ],
      "credentials": {
        "slackApi": {
          "id": "3",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$node[\"Github Trigger1\"].json[\"body\"][\"action\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "opened"
            },
            {
              "value2": "review_requested",
              "output": 1
            }
          ]
        }
      },
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        660,
        320
      ]
    },
    {
      "parameters": {
        "channel": "#web-tech",
        "text": "=Review requested by {{$node[\"Github Trigger1\"].json[\"body\"][\"pull_request\"][\"user\"][\"login\"]}}:  #{{$node[\"Github Trigger1\"].json[\"body\"][\"pull_request\"][\"number\"]}} \"{{$node[\"Github Trigger1\"].json[\"body\"][\"pull_request\"][\"title\"]}}\"\n{{$node[\"Github Trigger1\"].json[\"body\"][\"pull_request\"][\"html_url\"]}}",
        "attachments": [],
        "otherOptions": {}
      },
      "name": "Slack1",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        960,
        340
      ],
      "credentials": {
        "slackApi": {
          "id": "3",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "owner": "eulertools",
        "repository": "euler-explorer",
        "events": [
          "pull_request"
        ]
      },
      "name": "Github Trigger1",
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        460,
        320
      ],
      "webhookId": "8df6f728-db9c-4f08-acf0-8a54f31402dd",
      "credentials": {
        "githubOAuth2Api": {
          "id": "5",
          "name": "Github account"
        }
      }
    }
  ],
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Github Trigger1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": 36
}