Held_Sales.json
{
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "append",
        "sheetId": "1eZthTY4Vpr6AvzXnvXiRSn0Lcat2WW6_KqBxAfem6CM",
        "range": "n8n Ventas!A:J",
        "options": {
          "valueInputMode": "RAW"
        }
      },
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        1620,
        280
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "35",
          "name": "Dev"
        }
      }
    },
    {
      "parameters": {
        "amount": 0.5,
        "unit": "seconds"
      },
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1460,
        280
      ],
      "webhookId": "53075884-4518-49d3-8f65-18b2119a3616"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Fecha",
              "value": "={{$json[\"data\"]}}"
            },
            {
              "name": "Num",
              "value": "={{$json[\"docNumber\"]}}"
            },
            {
              "name": "Cliente",
              "value": "={{$json[\"contactName\"]}}"
            },
            {
              "name": "Descripcion",
              "value": "= {{$json[\"products\"][0][\"desc\"]}}"
            },
            {
              "name": "Subtotal",
              "value": "={{$json[\"subtotal\"]}}"
            },
            {
              "name": "Total",
              "value": "={{$json[\"total\"]}}"
            },
            {
              "name": "Cobrado",
              "value": "={{$json[\"paymentsDetail\"][0][\"amount\"]}}"
            },
            {
              "name": "Estado",
              "value": "={{$json[\"status\"]}}"
            },
            {
              "name": "Id de Cuenta",
              "value": "={{$node[\"SplitInBatches1\"].json[\"products\"][0][\"account\"]}}"
            },
            {
              "name": "Numero y nombre de Cuenta",
              "value": "=="
            }
          ]
        },
        "options": {}
      },
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1280,
        280
      ]
    },
    {
      "parameters": {
        "value": "={{$json[\"date\"]}}",
        "custom": true,
        "toFormat": "DD/MM/YYYY",
        "options": {}
      },
      "name": "Date & Time1",
      "type": "n8n-nodes-base.dateTime",
      "position": [
        1080,
        280
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": false
        }
      },
      "name": "SplitInBatches1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        900,
        280
      ]
    },
    {
      "parameters": {
        "url": "https://api.holded.com/api/invoicing/v1/documents/invoice",
        "options": {
          "splitIntoItems": true
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "key",
              "value": "e05e43ae75eaa5957443a3fc3bbe50fb"
            }
          ]
        }
      },
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        720,
        280
      ]
    },
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        540,
        280
      ]
    }
  ],
  "connections": {
    "Google Sheets": {
      "main": [
        [
          {
            "node": "SplitInBatches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches1": {
      "main": [
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "SplitInBatches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}