Held_Payroll.json
{
  "name": "Payroll",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        400,
        140
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "append",
        "sheetId": "1eZthTY4Vpr6AvzXnvXiRSn0Lcat2WW6_KqBxAfem6CM",
        "range": "n8n Nomina!A:Z",
        "options": {
          "valueInputMode": "RAW"
        }
      },
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        1480,
        360
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "amount": 0.5,
        "unit": "seconds"
      },
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1300,
        360
      ],
      "webhookId": "53075884-4518-49d3-8f65-18b2119a3616"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Fecha",
              "value": "={{$json[\"2\"]}}"
            },
            {
              "name": "Descripcion",
              "value": "={{$json[\"3\"]}}"
            },
            {
              "name": "Empleado",
              "value": "= {{$json[\"4\"]}}"
            },
            {
              "name": "Salario",
              "value": "={{$json[\"12\"]}}"
            },
            {
              "name": "Total Seguridad Social",
              "value": "={{$json[\"8\"]}}"
            },
            {
              "name": "Seguridad Social",
              "value": "={{$json[\"9\"]}}"
            },
            {
              "name": "Retencion",
              "value": "={{$json[\"10\"]}}"
            },
            {
              "name": "A pagar",
              "value": "={{$json[\"12\"]}}"
            },
            {
              "name": "Pagado",
              "value": "={{$json[\"13\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1120,
        360
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": false
        }
      },
      "name": "SplitInBatches1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        940,
        360
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.data",
        "options": {}
      },
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        740,
        360
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://app.holded.com/purchases/payrolls/load",
        "responseFormat": "string",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "start",
              "value": "31%2F12%2F2021&end=30%2F12%2F2022&filters=%7B%7D"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "key",
              "value": "e05e43ae75eaa5957443a3fc3bbe50fb"
            },
            {
              "name": "cookie",
              "value": "_gcl_au=1.1.1489254274.1658935808; __gtm_first_int=http_referer%3Anull%2C%20landing_page%3Ahttps%3A%2F%2Fapp.holded.com%2Flogin%3Furl_after_login%3D%252Fboards%253Flang%253Den%2C%20landing_date%3A1658935808552; _fbp=fb.1.1658935808929.1432085206; hubspotutk=6a8f5eb9df5022d0db9e9f93df8bc55d; intercom-id-gwbpci68=643e4932-91d4-4c5d-a7a8-cd45477260eb; _hjSessionUser_1006434=eyJpZCI6IjNiYWZmYjE1LWRjZDEtNTIxZS04ZGQ4LTFjNTIxYTc3ZDg4NiIsImNyZWF0ZWQiOjE2NTg5MzU4MDkwOTEsImV4aXN0aW5nIjp0cnVlfQ==; _BEAMER_USER_ID_GjNAaLnU30253=3998bdd7-b024-47c0-8d4f-38dc84a1a1a7; _BEAMER_FIRST_VISIT_GjNAaLnU30253=2022-07-27T15:30:59.985Z; navgem-hr=1; navgem-invoicing=1; skipInitSurvey_62383b49253a013d296992ee_hello1=1; skipInitSteps_62383b49253a013d296992ee=1; navgem-banking=1; navgem-projects=1; gemsintro=1659097647; skipInitSurvey_6239cd8de752f1547653f48a_hello1=1; skipInitSteps_6239cd8de752f1547653f48a=1; teamzone-show-private-info=0; _BEAMER_DATE_GjNAaLnU30253=2022-08-03T14:25:49.780Z; OptanonConsent=isIABGlobal=false&datestamp=Mon+Aug+08+2022+11%3A35%3A22+GMT-0300+(hora+est%C3%A1ndar+de+Argentina)&version=6.16.0&hosts=&landingPath=https%3A%2F%2Fwww.holded.com%2F&groups=C0002%3A1%2CC0001%3A1%2CC0004%3A1%2CC0003%3A1; _BEAMER_BOOSTED_ANNOUNCEMENT_DATE_GjNAaLnU30253=2022-08-17T19:58:02.556Z; _gid=GA1.2.1909052096.1661127325; __gtm_clientId=1884566051.1658935809; surveys_hello1=%7B%22_id%22%3A%7B%22%24oid%22%3A%226239ce4490a7174b3b7a2cbd%22%7D%2C%22acc%22%3A%7B%22%24oid%22%3A%226239cdfa90a51c54767ccfe0%22%7D%2C%22user%22%3A%7B%22%24oid%22%3A%226239cd8de752f1547653f48a%22%7D%2C%22key%22%3A%22hello1%22%2C%22fields%22%3A%7B%22usedBefore%22%3A%22never%22%2C%22businessType%22%3A%22both%22%2C%22mainActivity%22%3A%22all%22%2C%22startWhen%22%3A%22comingmonths%22%2C%22currentTool%22%3A%22spreadsheet%22%7D%2C%22accountType%22%3A%22freelance%22%2C%22createdAt%22%3A1647955524%7D; PHPSESSID=05b139976297a4dffafa75e54ad218f4; ab_abtest_signup=v1; _amplitude_sessionid=1661180141214; _amplitude_deviceid=tLCu8tVGA_8yUJx6m9zJPN; _hjIncludedInSessionSample=0; _hjSession_1006434=eyJpZCI6IjYzZDA0MmE5LWZjOTktNDk3MS04ZDdiLWI0NjAwNTZmMWYwNiIsImNyZWF0ZWQiOjE2NjExODAxNDE3NDcsImluU2FtcGxlIjpmYWxzZX0=; _hjAbsoluteSessionInProgress=0; outbrain_cid_fetch=true; __hstc=160523682.6a8f5eb9df5022d0db9e9f93df8bc55d.1658935810367.1661134264857.1661180142254.39; __hssrc=1; hat=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJhcHAuaG9sZGVkLmNvbSIsImlhdCI6MTY2MTE4MDE1NCwibmJmIjoxNjYxMTgwMTU0LCJleHAiOjE2NzE1NDgxNTQsInVzZXIiOiI2MjM5Y2Q4ZGU3NTJmMTU0NzY1M2Y0OGEiLCJwbGF0Zm9ybSI6IndlYiIsImlkIjoiMDFnYjMwdjR6ZzcyNTBnZ2I0ZWMyYmE1N3MifQ.btGLzJ7HNB9dvDgatyJPBtd6Li05NKzn2ujpkL-46ds; lang=en; accountid=622f7139a6b37d22dc590404; __gtm_user_name=José; __gtm_user_mrr=167.5; _hjCachedUserAttributes=eyJhdHRyaWJ1dGVzIjp7ImFjb3VudF9jb3VudHJ5IjoiRVMiLCJlbWFpbCI6Impvc2VAZXVsZXIudG9vbHMiLCJucHMiOiIxMCIsInVzZXJfbGFuZ3VhZ2UiOiJlbiIsInVzZXJfcm9sZSI6ImFkbWluIiwidXNlcl90b3RhbF9tcnIiOjE2Ny41fSwidXNlcklkIjoiNjIzOWNkOGRlNzUyZjE1NDc2NTNmNDhhIn0=; _BEAMER_FILTER_BY_URL_GjNAaLnU30253=false; _ga=GA1.2.1884566051.1658935809; _dc_gtm_UA-66362989-1=1; _uetsid=8509758021af11ed93cf8b662d3d0e30; _uetvid=ff7095800dc011edb8f74def92dfd459; __hssc=160523682.4.1661180142254; amp_faba0f=tLCu8tVGA_8yUJx6m9zJPN.NjIzOWNkOGRlNzUyZjE1NDc2NTNmNDhh..1gb30qnku.1gb30sse6.c9.i.cr; _BEAMER_LAST_UPDATE_GjNAaLnU30253=1661180212764; intercom-session-gwbpci68=NDFYM01zUzJVdllyWWo0bFQ2ZXU0TEppMklHdHF0MTl3NGtHWjR6N2cxSUc4NUlvMmpZVVRiOGpTVDhtT3JnTy0tSWdRbElrWWE1QkZmUm1hOWhFbkVJQT09--0ae74f5ee64890f6a5eabf088ad7bff81da8ba55; _ga_P5G2YFXN2W=GS1.1.1661180141.47.1.1661180220.0.0.0"
            }
          ]
        }
      },
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        580,
        360
      ]
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 5
            }
          ]
        }
      },
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        360,
        360
      ]
    }
  ],
  "connections": {
    "Google Sheets": {
      "main": [
        [
          {
            "node": "SplitInBatches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches1": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "SplitInBatches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "timezone": "Europe/Madrid",
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  },
  "id": 5
}