Pre_Birth__Villages_2_.json
{
  "meta": {
    "instanceId": "cd387a108e59f407338aaa3dd1fc1392753e7785132f8d58d189493b0d889a53"
  },
  "nodes": [
    {
      "parameters": {
        "from": "+14175413741",
        "to": "={{ $('SplitInBatches').item.json[\"name village member 2\"] }}",
        "message": "=Hi family! As {{ $('SplitInBatches').item.json.name }} {{ $json[\"village message\"] }} ",
        "options": {}
      },
      "id": "6d9bf260-a986-401e-9c02-13ece3a862ce",
      "name": "Twilio2",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        920,
        1020
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "from": "+14175413741",
        "to": "={{ $('SplitInBatches').item.json[\"phone village member 2\"] }}",
        "message": "={{ $('SplitInBatches').item.json.name }} {{ $json[\"village message\"] }} ",
        "options": {}
      },
      "id": "235c3088-a7c6-40c9-9b95-a9ef4a0d0fe4",
      "name": "Twilio1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        920,
        840
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "from": "+14175413741",
        "to": "={{ $('SplitInBatches').item.json[\"phone village member 2\"] }}",
        "message": "={{ $('SplitInBatches').item.json.name }}{{ $json[\"village message\"] }} ",
        "options": {}
      },
      "id": "1f1ad381-3cd3-4fd0-aa72-5194c6226f01",
      "name": "Twilio",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        920,
        680
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "value1": "={{ $json.weeks }}",
        "rules": {
          "rules": [
            {
              "operation": "equal",
              "value2": 8
            },
            {
              "operation": "equal",
              "value2": 14,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 18,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 21,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 10,
              "output": 2
            },
            {
              "operation": "equal",
              "value2": 17,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 29,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 34,
              "output": 1
            }
          ]
        }
      },
      "id": "6d0b5f0a-821e-451c-9c62-a17d85014866",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        620,
        840
      ]
    },
    {
      "parameters": {
        "from": "+14175413741",
        "to": "={{ $('SplitInBatches').item.json[\"phone village member 2\"] }}",
        "message": "={{ $json[\"village message\"] }} ",
        "options": {}
      },
      "id": "4c752f62-21e6-459c-b2bd-ae9af30563e3",
      "name": "Twilio3",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        920,
        520
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d5913d0c-5922-45cc-a08b-ad7464622a9a",
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        620,
        520
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.weeks }}",
              "operation": "notEqual",
              "value2": 14
            },
            {
              "value1": "={{ $json.weeks }}",
              "operation": "notEqual",
              "value2": 18
            },
            {
              "value1": "={{ $json.weeks }}",
              "operation": "notEqual",
              "value2": 8
            },
            {
              "value1": "={{ $json.weeks }}",
              "operation": "notEqual",
              "value2": 10
            },
            {
              "value1": "={{ $json.weeks }}",
              "operation": "notEqual",
              "value2": 17
            },
            {
              "value1": "={{ $json.weeks }}",
              "operation": "notEqual",
              "value2": 34
            },
            {
              "value1": "={{ $json.weeks }}",
              "operation": "notEqual",
              "value2": 29
            }
          ]
        }
      },
      "id": "013f7891-7654-4c61-96fd-f66e5dddd45d",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        680
      ]
    },
    {
      "parameters": {},
      "id": "1f0f46a9-7681-47d5-927c-874c7240b093",
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        400,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"village message\"] }}"
            }
          ]
        }
      },
      "id": "c5e4cb03-bbd1-47ec-96d4-2f0adfba9453",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        180,
        500
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "village message",
              "value": "={{ $('Busca pre-birth messages').item.json[\"Village 2 SMSs\"][$json.weeks].slice(0) }}"
            }
          ],
          "number": [
            {
              "name": "weeks",
              "value": "={{ $json.weeks }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5a8afd5d-cdf1-4022-9f62-f3558b679712",
      "name": "Set2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -20,
        500
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "5464ba66-9c7b-418e-a507-581e58fa0cda",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        -240,
        500
      ]
    },
    {
      "parameters": {
        "collection": "Mevi",
        "options": {},
        "query": "={\"weeks\": {\"$in\": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40]}}"
      },
      "id": "30830417-21b2-479e-8128-5a874c13ce19",
      "name": "Busca primary parent",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        -500,
        500
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "collection": "Pre-Birth",
        "options": {},
        "query": "={\n  \"Pregnant Messages\": {\"$in\":[\"\"]}\n  \n}"
      },
      "id": "dc53ba4a-abb5-4cc1-8abb-ecc27b783c35",
      "name": "Busca pre-birth messages",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        -740,
        500
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "8932fc91-251d-4a06-b60e-e7d6b2c445b7",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -1000,
        500
      ]
    }
  ],
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Twilio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Twilio1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Twilio2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "Twilio3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set2": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "Busca primary parent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca primary parent": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca pre-birth messages": {
      "main": [
        [
          {
            "node": "Busca primary parent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Busca pre-birth messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}