Resourse_messages__Village_.json
{
  "meta": {
    "instanceId": "cd387a108e59f407338aaa3dd1fc1392753e7785132f8d58d189493b0d889a53"
  },
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "3fb9e833-c00a-4d52-97dd-47415763be4b",
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        820,
        360
      ]
    },
    {
      "parameters": {},
      "id": "9c5b1c6a-5c45-4fd1-ba24-f7316de25df5",
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        820,
        180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"Village message\"] }}"
            }
          ]
        }
      },
      "id": "74433088-4ff1-400e-bbcc-594ead099d96",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        260
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Village message",
              "value": "={{ $node[\"Resource Messages\"].json[\"Village\"][ $json[\"diasPasados\"]]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "b6f04c45-ca05-4a55-bbb1-9da1ebff9cf1",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        380,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "// Obtenemos las fechas del flujo de trabajo\nconst fechaInicio = new Date($node[\"SplitInBatches\"].json[\"due date\"]);\nconst fechaFin = new Date();\n\n// Calculamos la diferencia en milisegundos entre las fechas\nconst diferenciaMs = fechaFin - fechaInicio ;\n\n// Convertimos la diferencia a días\nconst diasPasados = Math.floor(diferenciaMs / (1000 * 60 * 60 * 24));\n\n// Devolvemos el resultado\nreturn { diasPasados };\n"
      },
      "id": "db1f9328-6514-4060-8fe9-6a3d827b32ae",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        180,
        260
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "56eb1861-c650-4196-a114-f0222cc1376e",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        -40,
        260
      ]
    },
    {
      "parameters": {
        "collection": "Mevi",
        "options": {},
        "query": "={\"Weeks\": {\"$in\": [13, 5, 6, 7]}}"
      },
      "id": "1f0086b9-b460-407f-b256-c24b363247da",
      "name": "Busca primary parent1",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        -240,
        260
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "collection": "Resource Messages",
        "options": {},
        "query": "{\"Primary\":{\"$in\":[\"\"]}}"
      },
      "id": "58742049-3d5e-4f56-955a-20b00d5fdacf",
      "name": "Resource Messages",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        -420,
        260
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "9d1d3542-17d1-4ab4-97da-2fa043335b5a",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -600,
        260
      ]
    }
  ],
  "connections": {
    "IF": {
      "main": [
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          },
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca primary parent1": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resource Messages": {
      "main": [
        [
          {
            "node": "Busca primary parent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Resource Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}