Resource_Messages__VILLAGE_2_.json
{
  "name": "Resource Messages (VILLAGE 2)",
  "nodes": [
    {
      "parameters": {},
      "id": "bf0b2f56-a1de-4427-a0d3-24a8082e8aab",
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        820,
        180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"Village message\"] }}"
            }
          ]
        }
      },
      "id": "048fe1ad-05c8-4867-9455-9d2b12143474",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        260
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Village message",
              "value": "={{ $node[\"Resource Messages\"].json[\"Village\"][ $json[\"diasPasados\"]]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "63a1bf7c-5ca9-4844-9fb7-d3d53be6887f",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        380,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "// Obtenemos las fechas del flujo de trabajo\nconst fechaInicio = new Date($node[\"SplitInBatches\"].json[\"due date\"]);\nconst fechaFin = new Date();\n\n// Calculamos la diferencia en milisegundos entre las fechas\nconst diferenciaMs = fechaFin - fechaInicio ;\n\n// Convertimos la diferencia a días\nconst diasPasados = Math.floor(diferenciaMs / (1000 * 60 * 60 * 24));\n\n// Devolvemos el resultado\nreturn { diasPasados };\n"
      },
      "id": "a3fd57be-1f29-4b77-a29a-4452fb00bd85",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        180,
        260
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "9d1411fa-7bc0-4138-9d09-02e4ec97c730",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        -40,
        260
      ]
    },
    {
      "parameters": {
        "collection": "Test Mevi",
        "options": {},
        "query": "={\"weeks\": null}"
      },
      "id": "61838612-8ae4-4af4-a400-042c5cc08f4d",
      "name": "Busca primary parent1",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        -240,
        260
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "collection": "Resource Messages",
        "options": {},
        "query": "{\"Primary\":{\"$in\":[\"\"]}}"
      },
      "id": "8dd8161c-9c00-4098-aa04-789176e3f0c7",
      "name": "Resource Messages",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        -420,
        260
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "a6084e0a-e4c8-4322-b1bd-62000464ff3a",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -600,
        260
      ]
    },
    {
      "parameters": {
        "from": "+14175413741",
        "to": "={{ $('SplitInBatches').item.json[\"phone village member 1\"] }} ",
        "message": "={{ $('SplitInBatches').item.json.name }}{{ $('Resource Messages').item.json.Village[$('Set').item.json.diasPasados] }} ",
        "options": {}
      },
      "id": "8dfb0a71-6756-4852-a5a1-142a8f1b618b",
      "name": "Twilio",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1340,
        60
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $('Set').item.json.diasPasados }}",
              "operation": "equal",
              "value2": 2
            },
            {
              "value1": "={{ $('Set').item.json.diasPasados }}",
              "operation": "equal",
              "value2": 7
            },
            {
              "value1": "={{ $('Set').item.json.diasPasados }}",
              "operation": "equal",
              "value2": 9
            },
            {
              "value1": "={{ $('Set').item.json.diasPasados }}",
              "operation": "equal",
              "value2": 25
            },
            {
              "value1": "={{ $('Set').item.json.diasPasados }}",
              "operation": "equal",
              "value2": 40
            },
            {
              "value1": "={{ $('Set').item.json.diasPasados }}",
              "operation": "equal",
              "value2": 44
            },
            {
              "value1": "={{ $('Set').item.json.diasPasados }}",
              "operation": "equal",
              "value2": 95
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "20bf190c-b8cf-4c9a-ac7f-cfca9a85e19c",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        820,
        440
      ]
    },
    {
      "parameters": {
        "value1": "={{ $json.diasPasados }}",
        "rules": {
          "rules": [
            {
              "operation": "equal",
              "value2": 2
            },
            {
              "operation": "equal",
              "value2": 7,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 9,
              "output": 2
            },
            {
              "operation": "equal",
              "value2": 25
            },
            {
              "operation": "equal",
              "value2": 40
            },
            {
              "operation": "equal",
              "value2": 44,
              "output": 3
            },
            {
              "operation": "equal",
              "value2": 95
            }
          ]
        }
      },
      "id": "ff5c3d23-a086-496d-b986-ddb84d399a9e",
      "name": "Switch2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1080,
        360
      ]
    },
    {
      "parameters": {
        "from": "+14175413741",
        "to": "={{ $('SplitInBatches').item.json[\"phone village member 1\"] }} ",
        "message": "={{ $('Resource Messages').item.json.Village[$('Set').item.json.diasPasados] }} ",
        "options": {}
      },
      "id": "5d49f505-8b99-4512-9abc-9fc4d8ad3da0",
      "name": "Twilio5",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1080,
        640
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "from": "+14175413741",
        "to": "={{ $('SplitInBatches').item.json[\"phone village member 1\"] }} ",
        "message": "=What {{ $('SplitInBatches').item.json.name }}{{ $('Resource Messages').item.json.Village[$('Set').item.json.diasPasados] }} ",
        "options": {}
      },
      "id": "938be221-6e4c-42c8-9a24-4a9694c3bf94",
      "name": "Twilio6",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1340,
        220
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "from": "+14175413741",
        "to": "={{ $('SplitInBatches').item.json[\"phone village member 1\"] }} ",
        "message": "=Intimate time between {{ $('SplitInBatches').item.json.name }}{{ $('Resource Messages').item.json.Village[$('Set').item.json.diasPasados] }} ",
        "options": {}
      },
      "id": "42694875-716a-496d-ab68-6c456631bdc1",
      "name": "Twilio7",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1340,
        360
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "from": "+14175413741",
        "to": "={{ $('SplitInBatches').item.json[\"phone village member 1\"] }} ",
        "message": "=Hi {{ $('SplitInBatches').item.json[\"name village member 1\"] }}{{ $('Resource Messages').item.json.Village[$('Set').item.json.diasPasados] }}  ",
        "options": {}
      },
      "id": "d2c697cc-7a8f-4f16-90f0-0db1a0971275",
      "name": "Twilio8",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1340,
        500
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "IF": {
      "main": [
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          },
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca primary parent1": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resource Messages": {
      "main": [
        [
          {
            "node": "Busca primary parent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Resource Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Twilio5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Twilio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Twilio6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Twilio7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Twilio8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "18"
  },
  "versionId": "28336a03-5b6e-4fce-93a9-611d756cdc80",
  "id": "19",
  "meta": {
    "instanceId": "cd387a108e59f407338aaa3dd1fc1392753e7785132f8d58d189493b0d889a53"
  },
  "tags": [
    {
      "createdAt": "2023-07-29T00:50:00.285Z",
      "updatedAt": "2023-07-29T00:50:00.285Z",
      "id": "4",
      "name": "Post -birth"
    }
  ]
}