Resourse_messages__Spouse_.json
{
  "meta": {
    "instanceId": "cd387a108e59f407338aaa3dd1fc1392753e7785132f8d58d189493b0d889a53"
  },
  "nodes": [
    {
      "parameters": {},
      "id": "ef0529fc-6a2e-4f99-bca8-c63f10c83372",
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        880,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"Spouse message\"][$json.diasPasados] }} "
            }
          ]
        }
      },
      "id": "6b1e54b2-c364-4b23-9f38-d04bcf28ab62",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        660,
        240
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Spouse message",
              "value": "={{ $node[\"Resource Messages\"].json[\"Spouse\"][ $json[\"diasPasados\"]]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "4b8df515-55cc-4f4b-8958-353bbed8ec4a",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        440,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "// Obtenemos las fechas del flujo de trabajo\nconst fechaInicio = new Date($node[\"SplitInBatches\"].json[\"due date\"]);\nconst fechaFin = new Date();\n\n// Calculamos la diferencia en milisegundos entre las fechas\nconst diferenciaMs = fechaFin - fechaInicio ;\n\n// Convertimos la diferencia a días\nconst diasPasados = Math.floor(diferenciaMs / (1000 * 60 * 60 * 24));\n\n// Devolvemos el resultado\nreturn { diasPasados };\n"
      },
      "id": "c5735407-4ebd-422d-a521-09b9238f78c8",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        240,
        240
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "27a10582-5a0f-4342-880b-7355b3d5e059",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        20,
        240
      ]
    },
    {
      "parameters": {
        "collection": "Mevi",
        "options": {},
        "query": "={\"weeks\": null}"
      },
      "id": "292d387b-b4a7-4351-8331-4ec6b83bb289",
      "name": "Busca primary parent1",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        -180,
        240
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "collection": "Resource Messages",
        "options": {},
        "query": "{\"Primary\":{\"$in\":[\"\"]}}"
      },
      "id": "0d6dd42b-aabb-40c2-9e8f-e3b89f6ecab0",
      "name": "Resource Messages",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        -360,
        240
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "16086f9d-c1e1-406e-95d6-db3e2a34d467",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -540,
        240
      ]
    },
    {
      "parameters": {
        "from": "+14175413741",
        "to": "={{ $('SplitInBatches').item.json['spouse phone'] }} ",
        "message": "=Hey {{ $('SplitInBatches').item.json[\"spouse name\"] }}{{ $('Resource Messages').item.json.Spouse[$json.diasPasados] }} ",
        "options": {}
      },
      "id": "fda36447-6eb5-4202-aefd-86397a146c4c",
      "name": "Twilio",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1420,
        260
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.diasPasados }}",
              "operation": "equal",
              "value2": 12
            },
            {
              "value1": "={{ $json.diasPasados }}",
              "operation": "equal",
              "value2": 45
            },
            {
              "value1": "={{ $json.diasPasados }}",
              "operation": "equal",
              "value2": 2
            },
            {
              "value1": "={{ $json.diasPasados }}",
              "operation": "equal",
              "value2": 5
            },
            {
              "value1": "={{ $json.diasPasados }}",
              "operation": "equal",
              "value2": 20
            },
            {
              "value1": "={{ $json.diasPasados }}",
              "operation": "equal",
              "value2": 30
            },
            {
              "value1": "={{ $json.diasPasados }}",
              "operation": "equal",
              "value2": 40
            },
            {
              "operation": "equal",
              "value2": 57
            }
          ]
        }
      },
      "id": "4537ef1d-62a4-4206-bf97-0f6622db3333",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        940,
        320
      ]
    },
    {
      "parameters": {
        "value1": "={{ $json.diasPasados }}",
        "rules": {
          "rules": [
            {
              "operation": "equal",
              "value2": 12
            },
            {
              "operation": "equal",
              "value2": 45
            },
            {
              "operation": "equal",
              "value2": 20,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 30,
              "output": 2
            },
            {
              "operation": "equal",
              "value2": 5,
              "output": 3
            }
          ]
        }
      },
      "id": "3e687af6-daa4-4eed-b634-335120bf36b0",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1180,
        460
      ]
    },
    {
      "parameters": {
        "from": "+14175413741",
        "to": "={{ $('SplitInBatches').item.json['spouse phone'] }} ",
        "message": "=Hey {{ $('SplitInBatches').item.json[\"spouse name\"] }} did you know that listening to calming music can reduce stress and anxiety? Maybe you could create a relaxing playlist for {{ $('SplitInBatches').item.json.name }} to listen to while they're resting or feeding the baby. \n ",
        "options": {}
      },
      "id": "5c51c9f5-b34b-4fd6-bc3c-ca6392da4409",
      "name": "Twilio1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1420,
        420
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "from": "+14175413741",
        "to": "={{ $('SplitInBatches').item.json['spouse phone'] }} ",
        "message": "=Hey {{ $('SplitInBatches').item.json[\"spouse name\"] }} shows that massage can reduce postpartum depression symptoms. Could you book a professional massage for {{ $('SplitInBatches').item.json.name }} or learn some basic techniques to help them relax? \n ",
        "options": {}
      },
      "id": "70801f5f-0ff0-413b-9799-b5949f8d0d38",
      "name": "Twilio2",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1420,
        580
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "from": "+14175413741",
        "to": "={{ $('SplitInBatches').item.json['spouse phone'] }} ",
        "message": "={{ $('SplitInBatches').item.json.name }} is in the throws of a period called matresence, which is the hormonal, physical, emotional, and spiritual adjustment to motherhood. This is a period marked by ups, downs, hopes and fears -- just like adolesence!  ",
        "options": {}
      },
      "id": "50849971-1448-4c70-ac05-6bd466a21d78",
      "name": "Twilio3",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1420,
        760
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "value1": "={{ $json.diasPasados }}",
        "rules": {
          "rules": [
            {
              "operation": "equal",
              "value2": 2
            },
            {
              "operation": "equal",
              "value2": 40,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 57,
              "output": 2
            }
          ]
        }
      },
      "id": "b0e83f59-03b2-4496-be89-3de9be762832",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1600,
        340
      ]
    },
    {
      "parameters": {
        "from": "+14175413741",
        "to": "={{ $('SplitInBatches').item.json['spouse phone'] }} ",
        "message": "=Hey {{ $('SplitInBatches').item.json[\"spouse name\"] }}, welcome home. You are stepping in to a new chapter of your life as a family. While your newborn is your primary focus for now, {{ $('SplitInBatches').item.json.name }}{{ $('Resource Messages').item.json.Spouse[ $json.diasPasados ] }} ",
        "options": {}
      },
      "id": "7ba603e8-261c-4ef8-a301-0bc59150156a",
      "name": "Twilio4",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1860,
        120
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "from": "+14175413741",
        "to": "={{ $('SplitInBatches').item.json['spouse phone'] }} ",
        "message": "=As you settle into your family routine, take note of all the things that your partner, {{ $('SplitInBatches').item.json.name }} {{ $('Resource Messages').item.json.Spouse[ $json.diasPasados ] }} ",
        "options": {}
      },
      "id": "f16b1737-7672-4542-a420-ca489df3fd8f",
      "name": "Twilio5",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1860,
        300
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "from": "+14175413741",
        "to": "={{ $('SplitInBatches').item.json['spouse phone'] }} ",
        "message": "=It can be hard to understand what's going on in {{ $('SplitInBatches').item.json.name }}{{ $('Resource Messages').item.json.Spouse[ $json.diasPasados ] }} https://michaelssorensen.com/validation-the-most-powerful-relationship-skill-you-were-never-taught/",
        "options": {}
      },
      "id": "4384769d-9249-422c-8d79-e410c9182860",
      "name": "Twilio6",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1860,
        480
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    }
  ],
  "connections": {
    "IF": {
      "main": [
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          },
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca primary parent1": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resource Messages": {
      "main": [
        [
          {
            "node": "Busca primary parent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Resource Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        null,
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Twilio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Twilio1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Twilio2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Twilio3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Twilio4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Twilio5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Twilio6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}