Resourse_messages__Village_.json
{
  "meta": {
    "instanceId": "cd387a108e59f407338aaa3dd1fc1392753e7785132f8d58d189493b0d889a53"
  },
  "nodes": [
    {
      "parameters": {
        "from": "+14175413741",
        "to": "={{ $('SplitInBatches').item.json[\"phone village member 1\"] }} ",
        "message": "={{ $('Resource Messages').item.json.Village[$('Set').item.json.diasPasados] }} ",
        "options": {}
      },
      "id": "64696967-d469-4236-9aec-f72fb36f7f2a",
      "name": "Twilio5",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1080,
        640
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "from": "+14175413741",
        "to": "={{ $('SplitInBatches').item.json[\"phone village member 1\"] }} ",
        "message": "=Hi {{ $('SplitInBatches').item.json[\"name village member 1\"] }}{{ $('Resource Messages').item.json.Village[$('Set').item.json.diasPasados] }}  ",
        "options": {}
      },
      "id": "9476cce6-2115-414f-9a23-05a4eeade06c",
      "name": "Twilio8",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1340,
        500
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "from": "+14175413741",
        "to": "={{ $('SplitInBatches').item.json[\"phone village member 1\"] }} ",
        "message": "=Intimate time between {{ $('SplitInBatches').item.json.name }}{{ $('Resource Messages').item.json.Village[$('Set').item.json.diasPasados] }} ",
        "options": {}
      },
      "id": "51256a3b-2b4f-4122-acff-1747bcff34e7",
      "name": "Twilio7",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1340,
        360
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "from": "+14175413741",
        "to": "={{ $('SplitInBatches').item.json[\"phone village member 1\"] }} ",
        "message": "=What {{ $('SplitInBatches').item.json.name }}{{ $('Resource Messages').item.json.Village[$('Set').item.json.diasPasados] }} ",
        "options": {}
      },
      "id": "cbcdb8e0-359c-4e13-89f0-179e733cad2a",
      "name": "Twilio6",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1340,
        220
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "from": "+14175413741",
        "to": "={{ $('SplitInBatches').item.json[\"phone village member 1\"] }} ",
        "message": "={{ $('SplitInBatches').item.json.name }}{{ $('Resource Messages').item.json.Village[$('Set').item.json.diasPasados] }} ",
        "options": {}
      },
      "id": "5719139a-f5b0-41f5-91b9-44ab48ed16cf",
      "name": "Twilio",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1340,
        60
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "value1": "={{ $json.diasPasados }}",
        "rules": {
          "rules": [
            {
              "operation": "equal",
              "value2": 2
            },
            {
              "operation": "equal",
              "value2": 7,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 9,
              "output": 2
            },
            {
              "operation": "equal",
              "value2": 25
            },
            {
              "operation": "equal",
              "value2": 40
            },
            {
              "operation": "equal",
              "value2": 44,
              "output": 3
            },
            {
              "operation": "equal",
              "value2": 95
            }
          ]
        }
      },
      "id": "a351086b-c754-4e1f-8fec-015c04ed7dfc",
      "name": "Switch2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1080,
        360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $('Set').item.json.diasPasados }}",
              "operation": "equal",
              "value2": 2
            },
            {
              "value1": "={{ $('Set').item.json.diasPasados }}",
              "operation": "equal",
              "value2": 7
            },
            {
              "value1": "={{ $('Set').item.json.diasPasados }}",
              "operation": "equal",
              "value2": 9
            },
            {
              "value1": "={{ $('Set').item.json.diasPasados }}",
              "operation": "equal",
              "value2": 25
            },
            {
              "value1": "={{ $('Set').item.json.diasPasados }}",
              "operation": "equal",
              "value2": 40
            },
            {
              "value1": "={{ $('Set').item.json.diasPasados }}",
              "operation": "equal",
              "value2": 44
            },
            {
              "value1": "={{ $('Set').item.json.diasPasados }}",
              "operation": "equal",
              "value2": 95
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "c68eac9c-bbc9-4099-bfc8-0560978d4cbc",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        820,
        440
      ]
    },
    {
      "parameters": {},
      "id": "9c5b1c6a-5c45-4fd1-ba24-f7316de25df5",
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        820,
        180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"Village message\"] }}"
            }
          ]
        }
      },
      "id": "74433088-4ff1-400e-bbcc-594ead099d96",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        260
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Village message",
              "value": "={{ $node[\"Resource Messages\"].json[\"Village\"][ $json[\"diasPasados\"]]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "b6f04c45-ca05-4a55-bbb1-9da1ebff9cf1",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        380,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "// Obtenemos las fechas del flujo de trabajo\nconst fechaInicio = new Date($node[\"SplitInBatches\"].json[\"due date\"]);\nconst fechaFin = new Date();\n\n// Calculamos la diferencia en milisegundos entre las fechas\nconst diferenciaMs = fechaFin - fechaInicio ;\n\n// Convertimos la diferencia a días\nconst diasPasados = Math.floor(diferenciaMs / (1000 * 60 * 60 * 24));\n\n// Devolvemos el resultado\nreturn { diasPasados };\n"
      },
      "id": "db1f9328-6514-4060-8fe9-6a3d827b32ae",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        180,
        260
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "56eb1861-c650-4196-a114-f0222cc1376e",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        -40,
        260
      ]
    },
    {
      "parameters": {
        "collection": "Mevi",
        "options": {},
        "query": "={\"weeks\": null}"
      },
      "id": "1f0086b9-b460-407f-b256-c24b363247da",
      "name": "Busca primary parent1",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        -240,
        260
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "collection": "Resource Messages",
        "options": {},
        "query": "{\"Primary\":{\"$in\":[\"\"]}}"
      },
      "id": "58742049-3d5e-4f56-955a-20b00d5fdacf",
      "name": "Resource Messages",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        -420,
        260
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "9d1d3542-17d1-4ab4-97da-2fa043335b5a",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -600,
        260
      ]
    }
  ],
  "connections": {
    "Switch2": {
      "main": [
        [
          {
            "node": "Twilio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Twilio6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Twilio7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Twilio8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Twilio5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          },
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca primary parent1": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resource Messages": {
      "main": [
        [
          {
            "node": "Busca primary parent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Resource Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}