Resourse_messages__Primary_.json
{
  "meta": {
    "instanceId": "cd387a108e59f407338aaa3dd1fc1392753e7785132f8d58d189493b0d889a53"
  },
  "nodes": [
    {
      "parameters": {
        "from": "+14175413741",
        "to": "={{ $('SplitInBatches').item.json.phone }} ",
        "message": "=Hey {{ $('SplitInBatches').item.json.name }}{{ $json[\"primary message\"] }}",
        "options": {}
      },
      "id": "6a91fc6c-3d04-4cf0-99a9-c6928855a772",
      "name": "Twilio",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        840,
        420
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {},
      "id": "2026af81-5a83-4e3c-9587-e86320547f4c",
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        840,
        220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"primary message\"] }}"
            }
          ],
          "number": [
            {
              "value1": "={{ $json.diasPasados }}",
              "operation": "smallerEqual",
              "value2": 1
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "fc579f6a-602f-4095-b9b0-f2689aa7ae29",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        620,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "primary message",
              "value": "={{ $node[\"Resource Messages\"].json[\"Primary\"][ $json[\"diasPasados\"]]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "a0eeaebb-376f-4814-b28f-37b8f83aa12c",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Obtenemos las fechas del flujo de trabajo\nconst fechaInicio = new Date($node[\"SplitInBatches\"].json[\"due date\"]);\nconst fechaFin = new Date();\n\n// Calculamos la diferencia en milisegundos entre las fechas\nconst diferenciaMs = fechaFin - fechaInicio ;\n\n// Convertimos la diferencia a días\nconst diasPasados = Math.floor(diferenciaMs / (1000 * 60 * 60 * 24));\n\n// Devolvemos el resultado\nreturn { diasPasados };"
      },
      "id": "e682d61c-cc69-41dd-82c7-df273c8ab543",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "ed5c9fdb-ffbe-479d-9cb0-493035954087",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        -20,
        300
      ]
    },
    {
      "parameters": {
        "collection": "Mevi",
        "options": {},
        "query": "={\"weeks\": {\"$in\": [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40]}}"
      },
      "id": "1a199677-5cdd-4b14-9a48-4004c82045d8",
      "name": "Busca primary parent1",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        -220,
        300
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "collection": "Resource Messages",
        "options": {},
        "query": "{\"Primary\":{\"$in\":[\"\"]}}"
      },
      "id": "032a0d0b-e52a-41df-a93d-b7c03d39b94f",
      "name": "Resource Messages",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        -400,
        300
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "137e270f-6d3a-4bb0-858b-a5a9d3ae8469",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -580,
        300
      ]
    }
  ],
  "connections": {
    "IF": {
      "main": [
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Twilio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          },
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca primary parent1": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resource Messages": {
      "main": [
        [
          {
            "node": "Busca primary parent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Resource Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}