Slack_Mongodb.json
{
  "name": "Slack_Mongodb",
  "nodes": [
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "varios",
        "user": "={{$node[\"Webhook\"].json[\"body\"][\"user_id\"]}}",
        "text": "={{ $node[\"/series5\"].json[\"Text 2\"] }}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "01626bee-1926-4f45-8380-3715ce28b282",
      "name": "Aproaches1",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        3560,
        840
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "amount": 4,
        "unit": "seconds"
      },
      "id": "2ad9bc20-1486-4388-9ccb-aa13b13c2aaa",
      "name": "Wait7",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        3360,
        840
      ],
      "webhookId": "be80de20-681f-4a2f-9989-a4e58317d793"
    },
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "varios",
        "user": "={{$node[\"Webhook\"].json[\"body\"][\"user_id\"]}}",
        "text": "={{ $json[\"Text 1\"] }}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "0cbc1195-1395-4e1e-a122-b32333fec08b",
      "name": "Series 5 Partner Greeting",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        3160,
        840
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "varios",
        "user": "={{$node[\"Webhook\"].json[\"body\"][\"user_id\"]}}",
        "text": "={{ $node[\"/series4\"].json[\"Text 2\"] }}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "efce240a-86ba-4bbe-a1be-393e2b056031",
      "name": "Aproaches",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        3560,
        640
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "amount": 4,
        "unit": "seconds"
      },
      "id": "f41306fd-01ca-4e00-9f6e-c9260f7c1958",
      "name": "Wait6",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        3360,
        640
      ],
      "webhookId": "06670397-bc87-4bae-a627-3a6ae3ad3292"
    },
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "varios",
        "user": "={{$node[\"Webhook\"].json[\"body\"][\"user_id\"]}}",
        "text": "={{ $json[\"Text 1\"] }}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "d97aa888-9547-4d03-86c1-ef6818ac3bae",
      "name": "Series 4 Greetings",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        3160,
        640
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json[\"body\"][\"command\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "/series4"
            },
            {
              "value2": "/series5",
              "output": 1
            }
          ]
        }
      },
      "id": "d8012f33-5cc2-4fda-b825-48ff5ed5c0bb",
      "name": "Series",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        2640,
        880
      ]
    },
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "=varios",
        "user": "={{$node[\"Webhook\"].json[\"body\"][\"user_id\"]}}",
        "text": "={{ $node[\"/11am\"].json[\"PM receive confirmation\"] }}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "d69dd4f5-76ab-40d3-a576-22f353fef456",
      "name": "PN Notification3",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        2320,
        1580
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "6ccbad0a-08c0-4eed-92cf-9742373acce6",
      "name": "Wait5",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2140,
        1580
      ],
      "webhookId": "87ebb1ce-0630-47ab-8ec2-8af1d62ed0a5"
    },
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "varios",
        "user": "={{$node[\"Webhook\"].json[\"body\"][\"user_id\"]}}",
        "text": "={{ $json[\"Confirmation sent to PM\"] }}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "880492b1-29a5-4b96-8064-6cd5e02f3bea",
      "name": "Village member shedule a block time",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        1960,
        1580
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "varios",
        "user": "={{ $node[\"Webhook\"].json[\"body\"][\"user_id\"] }}",
        "text": "={{ $json[\"Village schedule\"] }}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "ba4e5d68-ab5a-43b1-bd15-0ace518ffadc",
      "name": "Village member accepted to help",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        1960,
        1380
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "=varios",
        "user": "={{$node[\"Webhook\"].json[\"body\"][\"user_id\"]}}{{ $json[\"body\"][\"user_id\"] }}",
        "text": "={{ $node[\"/support\"].json[\"Village Greeting\"] }}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "73b2c762-81af-4e4b-b04d-b0ed550e9e54",
      "name": "Village Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        2300,
        1200
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "9c3ef519-b3b0-4ee1-ae06-00c4c5db738e",
      "name": "Wait4",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2120,
        1200
      ],
      "webhookId": "6bcd384f-6ccb-4cea-b9a2-8b094ba3e0d9"
    },
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "varios",
        "user": "={{ $node[\"Webhook\"].json[\"body\"][\"user_id\"] }}",
        "text": "={{ $json[\"We're on it\"] }}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "e4db91dd-edaa-49b0-8ba1-bf9893f40a3b",
      "name": "Mama Support acepted",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        1960,
        1200
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "varios",
        "user": "={{ $node[\"Webhook\"].json[\"body\"][\"user_id\"] }}",
        "text": "={{ $json[\"Greetings Day 7\"] }}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "e7f6dda8-5a53-4f98-b22f-b991b108af00",
      "name": "Gretings Series 2",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        1960,
        1020
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json[\"body\"][\"command\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "/series2"
            },
            {
              "value2": "/support",
              "output": 1
            },
            {
              "value2": "/help",
              "output": 2
            },
            {
              "value2": "/11am",
              "output": 3
            }
          ]
        }
      },
      "id": "d84f6896-44b8-4e65-b060-eed14a1637be",
      "name": "Series2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1480,
        1280
      ]
    },
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "=varios",
        "user": "={{$node[\"Webhook\"].json[\"body\"][\"user_id\"]}}{{ $json[\"body\"][\"user_id\"] }}",
        "text": "={{ $node[\"/instacart\"].json[\"PM sms for instacart\"] }}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "543984d5-99c3-4bba-b454-7b65e14c6f9e",
      "name": "PN Notification2",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        2300,
        800
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "d8285712-a40d-4b41-ae40-2f06b96ea2f0",
      "name": "Wait3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2120,
        800
      ],
      "webhookId": "ac871b63-d839-4e80-a6c3-ce5f38e2eba4"
    },
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "varios",
        "user": "={{ $node[\"Webhook\"].json[\"body\"][\"user_id\"] }}",
        "text": "={{ $json[\"answer for instacart\"] }}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "103ebc4b-193d-430f-a868-11fdff08b007",
      "name": "Instacart",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        1940,
        800
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "=varios",
        "user": "={{$node[\"Webhook\"].json[\"body\"][\"user_id\"]}}",
        "text": "={{ $node[\"/uber\"].json[\"PM sms for uber\"] }}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "41d81be6-183e-4c59-bfbd-cd90fb331e69",
      "name": "PN Notification1",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        2300,
        620
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "ed2219cf-020b-4ee0-83f5-399e96bc1769",
      "name": "Wait2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2120,
        620
      ],
      "webhookId": "895eb38d-8c0b-4488-aa8c-9776d644eb9c"
    },
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "varios",
        "user": "={{ $node[\"Webhook\"].json[\"body\"][\"user_id\"] }}",
        "text": "={{ $json[\"answer for uber\"] }}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "f7a95c89-537b-4fe6-8f09-9f29b26d67f9",
      "name": "Uber",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        1940,
        620
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "=varios",
        "user": "={{$node[\"Webhook\"].json[\"body\"][\"user_id\"]}}{{ $json[\"body\"][\"user_id\"] }}",
        "text": "={{ $node[\"/meal\"].json[\"PM sms for meal\"] }}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "2613d84c-8a96-497e-b362-540adb01d1cf",
      "name": "PN Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        2300,
        460
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "208ab17b-58af-446d-8d0b-484cb5a27bbe",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2120,
        460
      ],
      "webhookId": "7051f175-e1b9-4aa8-abf3-ec6ae4fa20fa"
    },
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "varios",
        "user": "={{ $node[\"Webhook\"].json[\"body\"][\"user_id\"] }}",
        "text": "={{ $json[\"answer for meal\"] }}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "c4b4b534-36ad-45b1-9566-85d459ae4862",
      "name": "Meal",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        1940,
        460
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "varios",
        "user": "={{ $node[\"Webhook\"].json[\"body\"][\"user_id\"] }}",
        "text": "={{ $json[\"options to send\"] }}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "0ec50f63-de86-4c2b-9f19-4544a9bb4072",
      "name": "Participate on a meal train",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        1940,
        300
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json[\"body\"][\"command\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "/participate"
            },
            {
              "value2": "/meal",
              "output": 1
            },
            {
              "value2": "/uber",
              "output": 2
            },
            {
              "value2": "/instacart",
              "output": 3
            }
          ]
        }
      },
      "id": "c520d400-c35a-4ddd-9a2a-826721d0469e",
      "name": "Series  1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1460,
        520
      ]
    },
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "varios",
        "user": "={{$node[\"Webhook\"].json[\"body\"][\"user_id\"]}}",
        "text": "={{ $json[\"village invitation\"] }}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "b26751dd-9de4-4322-a68b-f52f57c4a5c8",
      "name": "Village members greeting",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        680,
        1580
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "varios",
        "user": "={{$node[\"Webhook\"].json[\"body\"][\"user_id\"]}}",
        "text": "={{ $json[\"more support\"] }}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "41b92a8e-6b78-4ad9-8c2d-a7533b0b4dc3",
      "name": "Latching help",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        680,
        1380
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "varios",
        "user": "={{$node[\"Webhook\"].json[\"body\"][\"user_id\"]}}",
        "text": "5- I'm good:\nThat's amazing to hear! We'll reach out soon to see how we can help in other ways.\n\n(Write /members to begin the  village members messages.)",
        "otherOptions": {},
        "attachments": []
      },
      "id": "de4d3064-b9ee-4878-b0c0-396e35f8fe61",
      "name": "I'm good",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        680,
        1200
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "varios",
        "user": "={{$node[\"Webhook\"].json[\"body\"][\"user_id\"]}}",
        "text": "={{ $json[\"Other\"] }}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "34df8df6-9c73-4b6c-a71f-efa267779b08",
      "name": "Other",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        680,
        1020
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json[\"body\"][\"command\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "/4"
            },
            {
              "value2": "/5",
              "output": 1
            },
            {
              "value2": "/more",
              "output": 2
            },
            {
              "value2": "/yes",
              "output": 2
            },
            {
              "value2": "/members",
              "output": 3
            }
          ]
        }
      },
      "id": "3828b666-2e6a-4c67-ae17-8c753bf8142d",
      "name": "Series1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        240,
        1280
      ]
    },
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "varios",
        "user": "={{$node[\"Webhook\"].json[\"body\"][\"user_id\"]}}",
        "text": "={{ $json[\"I'm in pain\"] }}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "e348c97e-f5fb-415f-8165-87c21f5fef91",
      "name": "I'm in pain",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        680,
        800
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "varios",
        "user": "={{ $node[\"Webhook\"].json[\"body\"][\"user_id\"] }}",
        "text": "={{ $json[\"Getting enough milk\"] }}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "16d75894-763d-43b4-a867-1585e22b37b2",
      "name": "Getting enough milk",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        680,
        620
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "varios",
        "user": "={{ $node[\"Webhook\"].json[\"body\"][\"user_id\"] }}",
        "text": "={{ $json[\"latching\"] }}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "e2cce153-b21c-4e88-bcd1-43b56f355ffd",
      "name": "Latching",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        680,
        460
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "amount": 4,
        "unit": "seconds"
      },
      "id": "ac69e619-e080-4170-9223-b5cf25c795af",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "webhookId": "cd600a52-87d9-4265-a2aa-526dbc2ebd17"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json[\"body\"][\"command\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "/start"
            },
            {
              "value2": "/1",
              "output": 1
            },
            {
              "value2": "/2",
              "output": 2
            },
            {
              "value2": "/3",
              "output": 3
            }
          ]
        }
      },
      "id": "9adb12a8-4696-4250-b422-1270b5e736d9",
      "name": "Series 1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        240,
        540
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "956e41f4-a666-43da-8825-464e4a1d0188",
        "options": {
          "noResponseBody": true
        }
      },
      "id": "9a7fd1e5-f044-424c-862b-5701c4c0bf49",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -140,
        880
      ],
      "webhookId": "956e41f4-a666-43da-8825-464e4a1d0188"
    },
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "varios",
        "user": "={{ $node[\"Webhook\"].json[\"body\"][\"user_id\"] }}",
        "text": "={{ $json[\"greeting\"] }}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "44667e0a-1b9d-45d8-a362-d2b9e78d10e3",
      "name": "Greeting",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 1",
        "options": {},
        "query": "={\n\"greeting\": { \"$regex\": \"Hey\", \"$options\": \"i\" }\n}"
      },
      "id": "92dd84fe-fe49-406a-92a2-40fc4cffd196",
      "name": "/start",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "varios",
        "user": "={{$node[\"Webhook\"].json[\"body\"][\"user_id\"]}}",
        "text": "={{ $node[\"/start\"].json[\"menu\"] }}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "99537a33-d1ba-4e52-89e0-949c0f51e6a7",
      "name": "Menu",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        1100,
        300
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 1",
        "options": {},
        "query": "={\n\"greeting\": { \"$regex\": \"Hey\", \"$options\": \"i\" }\n}"
      },
      "id": "53b866d5-3021-4e98-a74f-21ce72accdeb",
      "name": "/1",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        460,
        460
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 1",
        "options": {},
        "query": "={\n\"greeting\": { \"$regex\": \"Hey\", \"$options\": \"i\" }\n}"
      },
      "id": "98b1a842-f061-4a50-9458-3b604c5bc050",
      "name": "/2",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        460,
        620
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 1",
        "options": {},
        "query": "={\n\"greeting\": { \"$regex\": \"Hey\", \"$options\": \"i\" }\n}"
      },
      "id": "5167a2a1-540d-4b2a-b1f3-4b2b627ddf66",
      "name": "/3",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        460,
        800
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 1",
        "options": {},
        "query": "={\n\"greeting\": { \"$regex\": \"Hey\", \"$options\": \"i\" }\n}"
      },
      "id": "4b2a9253-1227-4aa3-8dfd-575f30fd9b48",
      "name": "/4",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        460,
        1020
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 1",
        "options": {},
        "query": "={\n\"greeting\": { \"$regex\": \"Hey\", \"$options\": \"i\" }\n}"
      },
      "id": "b007e8d2-43d1-4812-a51b-37ed6f2b89e7",
      "name": "/5",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        460,
        1200
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 1",
        "options": {},
        "query": "={\n\"greeting\": { \"$regex\": \"Hey\", \"$options\": \"i\" }\n}"
      },
      "id": "86b7da5c-d3cb-42d0-9d86-38e4ab8ce134",
      "name": "/more",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        460,
        1380
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Meal_train",
        "options": {},
        "query": "={\n\"village invitation\": { \"$regex\": \"just\", \"$options\": \"i\" }\n}"
      },
      "id": "80e1149c-c6e7-47e9-b6c1-b1417572df88",
      "name": "/members",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        460,
        1580
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Meal_train",
        "options": {},
        "query": "={\n\"village invitation\": { \"$regex\": \"just\", \"$options\": \"i\" }\n}"
      },
      "id": "575a2088-d545-4beb-bbe7-5ef06ce4a53c",
      "name": "/participate",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1760,
        300
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Meal_train",
        "options": {},
        "query": "={\n\"village invitation\": { \"$regex\": \"just\", \"$options\": \"i\" }\n}"
      },
      "id": "0fbfa63a-d743-40d1-ba5a-108c156c8edf",
      "name": "/meal",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1760,
        460
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Meal_train",
        "options": {},
        "query": "={\n\"village invitation\": { \"$regex\": \"just\", \"$options\": \"i\" }\n}"
      },
      "id": "52d3a486-8b1f-4559-a3e1-86c9b5343057",
      "name": "/uber",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1760,
        620
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Meal_train",
        "options": {},
        "query": "={\n\"village invitation\": { \"$regex\": \"just\", \"$options\": \"i\" }\n}"
      },
      "id": "0a9df299-8b19-43b8-acd5-e56c804b975c",
      "name": "/instacart",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1760,
        800
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 2",
        "options": {},
        "query": "={\n\"Greetings Day 7\": { \"$regex\": \"Hey\", \"$options\": \"i\" }\n}"
      },
      "id": "57d26b1a-5861-451d-804b-a161ac99615a",
      "name": "/series2",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1760,
        1020
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 2",
        "options": {},
        "query": "={\n\"Greetings Day 7\": { \"$regex\": \"Hey\", \"$options\": \"i\" }\n}"
      },
      "id": "76f0f461-47ef-42d0-80d1-ad3eb637bcc4",
      "name": "/support",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1760,
        1200
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 2",
        "options": {},
        "query": "={\n\"Greetings Day 7\": { \"$regex\": \"Hey\", \"$options\": \"i\" }\n}"
      },
      "id": "4b3a078e-f41e-4549-97e4-ce64c0f8e317",
      "name": "/help",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1760,
        1380
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 2",
        "options": {},
        "query": "={\n\"Greetings Day 7\": { \"$regex\": \"Hey\", \"$options\": \"i\" }\n}"
      },
      "id": "b211c976-58ac-44bd-ac64-07c58f0b451f",
      "name": "/11am",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1760,
        1580
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 4",
        "options": {},
        "query": "={\n\"Text 1\": { \"$regex\": \"Hey\", \"$options\": \"i\" }\n}"
      },
      "id": "1764803a-8132-4275-b071-8f43757da03d",
      "name": "/series4",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        2960,
        640
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 5",
        "options": {},
        "query": "={\n\"Text 1\": { \"$regex\": \"Hey\", \"$options\": \"i\" }\n}"
      },
      "id": "0281a936-45e9-44d5-8e29-7940c872789f",
      "name": "/series5",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        2960,
        840
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Wait7": {
      "main": [
        [
          {
            "node": "Aproaches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Series 5 Partner Greeting": {
      "main": [
        [
          {
            "node": "Wait7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "node": "Aproaches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Series 4 Greetings": {
      "main": [
        [
          {
            "node": "Wait6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Series": {
      "main": [
        [
          {
            "node": "/series4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/series5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "PN Notification3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Village member shedule a block time": {
      "main": [
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Village Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mama Support acepted": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Series2": {
      "main": [
        [
          {
            "node": "/series2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/support",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/help",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/11am",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "PN Notification2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instacart": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "PN Notification1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Uber": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "PN Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meal": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Series  1": {
      "main": [
        [
          {
            "node": "/participate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/meal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/uber",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/instacart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Series1": {
      "main": [
        [
          {
            "node": "/4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/more",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/members",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Series 1": {
      "main": [
        [
          {
            "node": "/start",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Series 1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Series1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Series  1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Series2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Series",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Greeting": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/start": {
      "main": [
        [
          {
            "node": "Greeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/1": {
      "main": [
        [
          {
            "node": "Latching",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/2": {
      "main": [
        [
          {
            "node": "Getting enough milk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/3": {
      "main": [
        [
          {
            "node": "I'm in pain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/4": {
      "main": [
        [
          {
            "node": "Other",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/5": {
      "main": [
        [
          {
            "node": "I'm good",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/more": {
      "main": [
        [
          {
            "node": "Latching help",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/members": {
      "main": [
        [
          {
            "node": "Village members greeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/participate": {
      "main": [
        [
          {
            "node": "Participate on a meal train",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/meal": {
      "main": [
        [
          {
            "node": "Meal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/uber": {
      "main": [
        [
          {
            "node": "Uber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/instacart": {
      "main": [
        [
          {
            "node": "Instacart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/series2": {
      "main": [
        [
          {
            "node": "Gretings Series 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/support": {
      "main": [
        [
          {
            "node": "Mama Support acepted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/help": {
      "main": [
        [
          {
            "node": "Village member accepted to help",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/11am": {
      "main": [
        [
          {
            "node": "Village member shedule a block time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/series4": {
      "main": [
        [
          {
            "node": "Series 4 Greetings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/series5": {
      "main": [
        [
          {
            "node": "Series 5 Partner Greeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "hash": "0b6bc3dde2ba22c12c8e98f211519e52",
  "id": 12,
  "meta": {
    "instanceId": "99d68c1f0abc8c95b53a5d4a1f9ab40d270b55323018b60c597c3fdcee2d3663"
  },
  "tags": []
}