Twilio_Flow_new_credential.json
{
  "meta": {
    "instanceId": "cd387a108e59f407338aaa3dd1fc1392753e7785132f8d58d189493b0d889a53"
  },
  "nodes": [
    {
      "parameters": {
        "amount": 4,
        "unit": "seconds"
      },
      "id": "170cfd6c-6b25-4edc-8230-04592135d4dc",
      "name": "Wait7",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        760,
        480
      ],
      "webhookId": "936c2ccb-a674-45b3-80fa-b43494a3ce9e"
    },
    {
      "parameters": {
        "amount": 4,
        "unit": "seconds"
      },
      "id": "141295c0-aa8f-4b21-b57a-6a85dade8ca7",
      "name": "Wait6",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        760,
        280
      ],
      "webhookId": "029c804e-2fa3-4251-bece-56bed57784ee"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json[\"body\"][\"Body\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "/series4"
            },
            {
              "value2": "/series5",
              "output": 1
            },
            {
              "value2": "/historical",
              "output": 2
            }
          ]
        }
      },
      "id": "167df110-d4d2-4dc5-8f8b-b8bd08db38a7",
      "name": "Series",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        40,
        460
      ]
    },
    {
      "parameters": {
        "amount": 4,
        "unit": "seconds"
      },
      "id": "fd09da92-a327-4a68-948b-3f3e9859bb4e",
      "name": "Wait5",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2900,
        2080
      ],
      "webhookId": "e32bd055-6b85-4020-ac8e-893abf1b548f"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json[\"body\"][\"Body\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "/series2"
            },
            {
              "value2": "/support",
              "output": 1
            },
            {
              "value2": "/help",
              "output": 2
            },
            {
              "value2": "/11am",
              "output": 3
            }
          ]
        }
      },
      "id": "386900c6-8eb2-446d-aa00-d6f25040cfe0",
      "name": "Series2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        2280,
        1740
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json[\"body\"][\"Body\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "/participate"
            },
            {
              "value2": "/meal",
              "output": 1
            },
            {
              "value2": "/uber",
              "output": 2
            },
            {
              "value2": "/instacart",
              "output": 3
            }
          ]
        }
      },
      "id": "c87a4582-9a27-4aa2-b0c9-857cca14c288",
      "name": "Series  1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        2260,
        880
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json[\"body\"][\"Body\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "/4"
            },
            {
              "value2": "/5",
              "output": 1
            },
            {
              "value2": "/more",
              "output": 2
            },
            {
              "value2": "/yes",
              "output": 2
            },
            {
              "value2": "/yes",
              "output": 3
            }
          ]
        }
      },
      "id": "21910873-a796-4a10-9b9c-e6cc540b6af9",
      "name": "Series1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        3480,
        1260
      ]
    },
    {
      "parameters": {
        "amount": 4,
        "unit": "seconds"
      },
      "id": "5ca64903-f96d-4258-a0c2-ba6b7ce88e2f",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1800,
        660
      ],
      "webhookId": "fa589951-e4eb-468c-ab3e-7bfdcf4e1b56"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json[\"body\"][\"Body\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "/start"
            },
            {
              "value2": "/1",
              "output": 1
            },
            {
              "value2": "/2",
              "output": 2
            },
            {
              "value2": "/3",
              "output": 3
            }
          ]
        }
      },
      "id": "f56654ef-b726-4527-afa2-ebb8f36c2b12",
      "name": "Series 1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1000,
        920
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "956e41f4-a666-43da-8825-464e4a1d0188",
        "options": {
          "noResponseBody": true
        }
      },
      "id": "863b7735-04f0-4af2-937e-ec6c1c71a121",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        620,
        1260
      ],
      "webhookId": "ee0f871a-0b1e-49a9-bf91-0fbb7a720144"
    },
    {
      "parameters": {
        "collection": "Series 1",
        "options": {},
        "query": "={\n\"latching\": { \"$regex\": \"Below\" }\n}"
      },
      "id": "f1007dd8-697c-42ee-98c4-af722cc487c6",
      "name": "/1",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1220,
        840
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 1",
        "options": {},
        "query": "={\n\"Getting enough milk\": { \"$regex\": \"breastfeeding\" }\n}"
      },
      "id": "cd6fc660-892a-47ca-a3e1-6f08a7fdfb50",
      "name": "/2",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1220,
        1000
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 1",
        "options": {},
        "query": "={\n\"I'm in pain\": { \"$regex\": \"You'll\" }\n}"
      },
      "id": "d333eb07-0f81-46ed-b511-d3dcdc662c95",
      "name": "/3",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1220,
        1180
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 1",
        "options": {},
        "query": "={\n\"Other\": { \"$regex\": \"The challenges of feeding\"}\n}"
      },
      "id": "805184f4-12a6-48b4-885f-b479deed13d3",
      "name": "/4",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        3700,
        1000
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 1",
        "options": {},
        "query": "={\n\"I'm good\": { \"$regex\": \"That's amazing\" }\n}"
      },
      "id": "1b99bd04-351a-471e-ba6f-eae84b9bd5a1",
      "name": "/5",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        3700,
        1180
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 1",
        "options": {},
        "query": "={\n\"more support\": { \"$regex\": \"No sweat\" }\n}"
      },
      "id": "9e42a5bd-5960-4bd0-9e51-c219d476f357",
      "name": "/more",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        3700,
        1360
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "collection": "Meal_train",
        "options": {},
        "query": "={\n\"village invitation\": { \"$regex\": \"just\", \"$options\": \"i\" }\n}"
      },
      "id": "bba8b7fc-6c52-4bbc-b6fa-7d8a84e02f6e",
      "name": "/participate",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        2520,
        660
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "collection": "Meal_train",
        "options": {},
        "query": "={\n\"village invitation\": { \"$regex\": \"just\", \"$options\": \"i\" }\n}"
      },
      "id": "0a57c2e4-2f65-4a24-9d30-9db37b6ae45c",
      "name": "/meal",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        2520,
        820
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "collection": "Meal_train",
        "options": {},
        "query": "={\n\"village invitation\": { \"$regex\": \"just\", \"$options\": \"i\" }\n}"
      },
      "id": "32c99169-18b9-499e-a8a5-3aec1073b8d0",
      "name": "/uber",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        2520,
        980
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "collection": "Meal_train",
        "options": {},
        "query": "={\n\"village invitation\": { \"$regex\": \"just\", \"$options\": \"i\" }\n}"
      },
      "id": "df3ec5a3-2bd0-488d-bb84-92c2c0e77a50",
      "name": "/instacart",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        2520,
        1160
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 2",
        "options": {},
        "query": "={\n\"We're on it\": { \"$regex\": \"We're on it!\" }\n}"
      },
      "id": "58698b44-9291-4c14-bb2d-3eb2ba9172e4",
      "name": "/support",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        2520,
        1660
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 2",
        "options": {},
        "query": "={\n\"Village schedule\": { \"$regex\": \"PST\" }\n}"
      },
      "id": "8c2d9892-4c69-411f-b7cd-e9b571188f1f",
      "name": "/help",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        2520,
        1880
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 2",
        "options": {},
        "query": "={\n\"Greetings Day 7\": { \"$regex\": \"Hey\", \"$options\": \"i\" }\n}"
      },
      "id": "5a67c8ec-9a10-458e-8407-f3e9311287d6",
      "name": "/11am",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        2520,
        2080
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 5",
        "options": {},
        "query": "={\n\"Text 1\": { \"$regex\": \"Hey\", \"$options\": \"i\" }\n}"
      },
      "id": "5eb42110-5892-4f0f-8f43-d541d39cd9b8",
      "name": "/series5",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        360,
        480
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $json[\"latching\"] }}",
        "options": {}
      },
      "id": "52f7fca1-68b5-4500-8386-91576d551a5c",
      "name": "Latching2",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1440,
        840
      ],
      "credentials": {
        "twilioApi": {
          "id": "2",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $json[\"Getting enough milk\"] }}",
        "options": {}
      },
      "id": "b330b86a-5338-4928-b52c-6fdc360f0b13",
      "name": "Getting enough milk1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1440,
        1000
      ],
      "credentials": {
        "twilioApi": {
          "id": "2",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $json[\"I'm in pain\"] }}",
        "options": {}
      },
      "id": "d39c688b-fa76-4049-b19e-e71920624a93",
      "name": "I'm in pain1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1440,
        1180
      ],
      "credentials": {
        "twilioApi": {
          "id": "2",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $json[\"Other\"] }}",
        "options": {}
      },
      "id": "6a176b91-6e87-4391-a93a-f64e3d28f72d",
      "name": "Other1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        3920,
        1000
      ],
      "credentials": {
        "twilioApi": {
          "id": "2",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $json[\"I'm good\"] }}",
        "options": {}
      },
      "id": "fa199f5c-6954-4f12-a56c-9281a3d4813d",
      "name": "I'm good1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        3920,
        1180
      ],
      "credentials": {
        "twilioApi": {
          "id": "2",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $json[\"more support\"] }}",
        "options": {}
      },
      "id": "12ac7fce-e76c-42d7-85a3-f2513e0ccae3",
      "name": "Latching help1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        3920,
        1360
      ],
      "credentials": {
        "twilioApi": {
          "id": "2",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $json[\"options to send\"] }}",
        "options": {}
      },
      "id": "b5eec630-0039-4439-b3b8-caa2a6f35e9d",
      "name": "Participate on a meal train1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        2700,
        660
      ],
      "credentials": {
        "twilioApi": {
          "id": "2",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "=Sounds great! We've let {{$node[\"Search sender name3\"].json[\"Village member name\"]}}{{$node[\"/meal\"].json[\"answer for meal\"]}}",
        "options": {}
      },
      "id": "163ffaac-7c33-44f1-a01b-c66479129aa1",
      "name": "Meal1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        2880,
        820
      ],
      "credentials": {
        "twilioApi": {
          "id": "2",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "=whatsapp:{{$node[\"Search sender name3\"].json[\"Village member phone\"]}}",
        "message": "=Hey {{$node[\"Search sender name3\"].json[\"Village member name\"]}}, {{$node[\"Search sender name3\"].json[\"name\"]}} {{ $node[\"/meal\"].json[\"PM sms for meal\"] }}",
        "options": {}
      },
      "id": "d5e8e2eb-13b7-41e8-a1a1-a0b61a9ad87e",
      "name": "PN notifications",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        3080,
        820
      ],
      "credentials": {
        "twilioApi": {
          "id": "2",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "=whatsapp:{{$node[\"Search sender name4\"].json[\"Village member phone\"]}}",
        "message": "=Hey {{$node[\"Search sender name4\"].json[\"Village member name\"]}}, {{$node[\"Search sender name4\"].json[\"name\"]}} {{ $node[\"/uber\"].json[\"PM sms for uber\"] }}",
        "options": {}
      },
      "id": "adcc5169-bdd3-40ed-b88b-4c8fc648fde5",
      "name": "PN notifications1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        3080,
        980
      ],
      "credentials": {
        "twilioApi": {
          "id": "2",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "=whatsapp:{{$node[\"Search sender name5\"].json[\"Village member phone\"]}}",
        "message": "=Hey {{$node[\"Search sender name5\"].json[\"Village member name\"]}}, {{$node[\"Search sender name5\"].json[\"name\"]}} {{ $node[\"/instacart\"].json[\"PM sms for instacart\"] }}",
        "options": {}
      },
      "id": "49e2e5d3-f974-4ad6-9dc0-e91f5eb19813",
      "name": "PN notifications2",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        3080,
        1160
      ],
      "credentials": {
        "twilioApi": {
          "id": "2",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $node[\"/uber\"].json[\"answer for uber\"] }}",
        "options": {}
      },
      "id": "0457d00b-f754-4401-bf5e-951850ed8f04",
      "name": "uber",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        2880,
        980
      ],
      "credentials": {
        "twilioApi": {
          "id": "2",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{$node[\"/instacart\"].json[\"answer for instacart\"]}}",
        "options": {}
      },
      "id": "4acf4a8b-9d45-45b1-8dec-8378fde11560",
      "name": "instacart",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        2880,
        1160
      ],
      "credentials": {
        "twilioApi": {
          "id": "2",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $json[\"We're on it\"] }}",
        "options": {}
      },
      "id": "e314c8c0-4a69-472d-97b7-17c83591c31f",
      "name": "Mama aceptede support",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        2720,
        1660
      ],
      "credentials": {
        "twilioApi": {
          "id": "2",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "=whatsapp:{{ $json[\"Village member phone\"] }}",
        "message": "=Hey {{$node[\"MongoDB\"].json[\"Village member name\"]}}!, {{$node[\"MongoDB\"].json[\"name\"]}} {{ $node[\"/support\"].json[\"Village Greeting\"] }}",
        "options": {}
      },
      "id": "42a1237e-0877-45e0-a890-b0b2ecec65e9",
      "name": "Village Notification1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        3100,
        1660
      ],
      "credentials": {
        "twilioApi": {
          "id": "2",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "=whatsapp:+{{ $node[\"MongoDB1\"].json[\"phone\"] }}",
        "message": "=Great! It's {{$json[\"horaActual\"]}} {{ $node[\"/help\"].json[\"Village schedule\"] }}",
        "options": {}
      },
      "id": "13d6ac24-6ac3-4299-a944-f93ad6a161c0",
      "name": "Village member accepted to help1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        3080,
        1880
      ],
      "credentials": {
        "twilioApi": {
          "id": "2",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $json[\"Confirmation sent to PM\"] }}",
        "options": {}
      },
      "id": "20035bff-899e-4bae-8ca9-008468f71b9f",
      "name": "Village member schedule block time",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        2720,
        2080
      ],
      "credentials": {
        "twilioApi": {
          "id": "2",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $node[\"/11am\"].json[\"PM receive confirmation\"] }}",
        "options": {}
      },
      "id": "4c18be6d-e88a-4745-82ea-ebf398413d6a",
      "name": "PN Notification4",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        3080,
        2080
      ],
      "credentials": {
        "twilioApi": {
          "id": "2",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $json[\"Text 1\"] }}",
        "options": {}
      },
      "id": "d0d11c0e-63e1-4c11-9c2c-623a586b5122",
      "name": "Series 4 Greeting",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        560,
        280
      ],
      "credentials": {
        "twilioApi": {
          "id": "2",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $node[\"/series4\"].json[\"Text 2\"] }}",
        "options": {}
      },
      "id": "f6cf7014-faf4-432c-88cd-191c4464bc42",
      "name": "Aproaches2",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        960,
        280
      ],
      "credentials": {
        "twilioApi": {
          "id": "2",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $json[\"Text 1\"] }}",
        "options": {}
      },
      "id": "726b035d-5ca1-4385-91d6-8207187e43e4",
      "name": "Partner greeting1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        560,
        480
      ],
      "credentials": {
        "twilioApi": {
          "id": "2",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $node[\"/series5\"].json[\"Text 2\"] }}",
        "options": {}
      },
      "id": "e889ff99-fb7e-45d7-b74e-1a8931de99c9",
      "name": "Aproaches",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        960,
        480
      ],
      "credentials": {
        "twilioApi": {
          "id": "2",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Mevi",
        "options": {},
        "query": "={\n  \"phone\": \"+{{$node[\"Webhook\"].json[\"body\"][\"WaId\"]}}\"\n}"
      },
      "id": "dd162d6f-201e-448c-b082-e1993a2923e7",
      "name": "MongoDB",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        2900,
        1660
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "collection": "Mevi",
        "options": {},
        "query": "={\n  \"phone\": \"+{{$node[\"Webhook\"].json[\"body\"][\"WaId\"]}}\"\n}"
      },
      "id": "35ac8fde-2d8c-47f3-8468-846131e58b27",
      "name": "MongoDB1",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        2720,
        1880
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "collection": "Mevi",
        "options": {},
        "query": "={\n\"phone\": \"+{{$node[\"Webhook\"].json[\"body\"][\"WaId\"]}}\"\n}"
      },
      "id": "72023ab4-f1df-4679-b391-2dffd1b5ff17",
      "name": "Search sender name",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1440,
        660
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "collection": "Mevi",
        "options": {},
        "query": "={\n\"phone\": \"+{{$node[\"Webhook\"].json[\"body\"][\"WaId\"]}}\"\n}"
      },
      "id": "6dc54530-9e04-41cc-8a5a-17dd60bfd87a",
      "name": "Search sender name1",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        2720,
        1480
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "collection": "Mevi",
        "options": {},
        "query": "={\n\"phone\": \"+{{$node[\"Webhook\"].json[\"body\"][\"WaId\"]}}\"\n}"
      },
      "id": "3217dabc-fd15-49e2-9514-2ff0acfa868b",
      "name": "Search sender name2",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        3920,
        1580
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "=Hey {{ $json[\"name\"] }}{{ $node[\"Day 7 automatic message for mama\"].json[\"Greetings Day 7\"] }}",
        "options": {}
      },
      "id": "9d3b9b44-8857-4104-a998-ef0dc0c4fd44",
      "name": "Asking for support",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        2900,
        1480
      ],
      "credentials": {
        "twilioApi": {
          "id": "2",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 2",
        "options": {},
        "query": "={\n\"Greetings Day 7\": { \"$regex\": \"we\", \"$options\": \"i\" }\n}"
      },
      "id": "0169a6db-84ed-442d-b85c-7b09e9c50e84",
      "name": "Day 7 automatic message for mama",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        2520,
        1480
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 1",
        "options": {},
        "query": "={\n  \"greeting\": {\n    \"$regex\": \"hope\"\n  }\n}"
      },
      "id": "2b279ea6-1fb9-4758-a122-924f62e49f35",
      "name": "Day 4 Automatic message",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1220,
        660
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "=Hey {{$node[\"Search sender name\"].json[\"name\"]}} {{ $node[\"Day 4 Automatic message\"].json[\"greeting\"] }}",
        "options": {}
      },
      "id": "c1bc6fa2-8dfa-499d-b09c-147b504513e2",
      "name": "Greetings before menu",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1620,
        660
      ],
      "credentials": {
        "twilioApi": {
          "id": "2",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $node[\"Day 4 Automatic message\"].json[\"menu\"] }}",
        "options": {}
      },
      "id": "05af469a-8e57-4334-8880-050fdd06bd36",
      "name": "Menu",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1960,
        660
      ],
      "credentials": {
        "twilioApi": {
          "id": "2",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Meal_train",
        "options": {},
        "query": "={\n\"village invitation\": { \"$regex\": \"just\", \"$options\": \"i\" }\n}"
      },
      "id": "01de588f-6e73-4f9d-8df7-c35e9b562f9e",
      "name": "Day 9 Automatic message",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        3700,
        1580
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "=whatsapp:{{ $json[\"Village member phone\"] }}",
        "message": "=Hey {{$node[\"Search sender name2\"].json[\"Village member name\"]}}, {{ $json[\"name\"] }}{{ $node[\"Day 9 Automatic message\"].json[\"village invitation\"] }}",
        "options": {}
      },
      "id": "9be929d2-1f1c-43f9-91bc-87c1e3c789f6",
      "name": "Meal train invitation to village",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        4120,
        1580
      ],
      "credentials": {
        "twilioApi": {
          "id": "2",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Mevi",
        "options": {},
        "query": "={\n\"phone\": \"+{{$node[\"Webhook\"].json[\"body\"][\"WaId\"]}}\"\n}"
      },
      "id": "b58fe763-4dce-4b7e-8542-a18858bfe7be",
      "name": "Search sender name3",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        2700,
        820
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "collection": "Mevi",
        "options": {},
        "query": "={\n\"phone\": \"+{{$node[\"Webhook\"].json[\"body\"][\"WaId\"]}}\"\n}"
      },
      "id": "68ef7336-9c17-45a0-9448-827646719f7a",
      "name": "Search sender name4",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        2700,
        980
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "collection": "Mevi",
        "options": {},
        "query": "={\n\"phone\": \"+{{$node[\"Webhook\"].json[\"body\"][\"WaId\"]}}\"\n}"
      },
      "id": "fd3b1e03-ae34-46a9-8c53-49f3ee801702",
      "name": "Search sender name5",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        2700,
        1160
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const fechaActual = new Date();\nconst hora = fechaActual.getHours();\nconst minutos = fechaActual.getMinutes();\n\nreturn {\n  horaActual: `${hora}:${minutos}`\n};\n\n\n\n\n"
      },
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2900,
        1880
      ],
      "id": "879f6eed-9177-4909-ad55-5da6ab7fe2c3"
    },
    {
      "parameters": {
        "collection": "Series 4",
        "options": {},
        "query": "={\n\"Text 1\": { \"$regex\": \"!\", \"$options\": \"i\" }\n}\n"
      },
      "id": "752b2f38-fb6d-4337-9de7-39deacb50b40",
      "name": "/series4",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        360,
        280
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $json[\"body messages\"] }}",
        "options": {}
      },
      "id": "969fc81c-2e36-406a-a007-525b58d0de00",
      "name": "Participate on a meal train",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        960,
        680
      ],
      "credentials": {
        "twilioApi": {
          "id": "2",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "body messages",
              "value": "={{ $json[\"body\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "63b562ea-3347-4f3f-9b3b-47ae0e4937e9",
      "name": "Set variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        760,
        680
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "1ce95be2-78a5-43e6-8bb5-ab6a7a41b0ea",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        560,
        680
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "messages",
        "options": {}
      },
      "id": "15ae86a8-3119-4354-9abc-50ecdfdd13fa",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        360,
        680
      ]
    },
    {
      "parameters": {
        "url": "https://api.twilio.com/2010-04-01/Accounts/AC2b2e1730af8d0b5eab2bef01c67c8bc5/Messages.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "+14175413741"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic QUMyYjJlMTczMGFmOGQwYjVlYWIyYmVmMDFjNjdjOGJjNToxNzRjNjQ5ZWY2MzhhZDE2MDkxOWIwN2Q5YjYzZDMxNQ=="
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true
            }
          }
        }
      },
      "id": "78ff9db4-91bc-4742-8cd2-03bd47a9ab33",
      "name": "Messages History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        180,
        680
      ]
    }
  ],
  "connections": {
    "Wait7": {
      "main": [
        [
          {
            "node": "Aproaches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "node": "Aproaches2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Series": {
      "main": [
        [
          {
            "node": "/series4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/series5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Messages History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "PN Notification4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Series2": {
      "main": [
        [
          {
            "node": "Day 7 automatic message for mama",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/support",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/help",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/11am",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Series  1": {
      "main": [
        [
          {
            "node": "/participate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/meal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/uber",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/instacart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Series1": {
      "main": [
        [
          {
            "node": "/4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/more",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Day 9 Automatic message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Series 1": {
      "main": [
        [
          {
            "node": "Day 4 Automatic message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Series 1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Series1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Series  1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Series",
            "type": "main",
            "index": 0
          },
          {
            "node": "Series2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/1": {
      "main": [
        [
          {
            "node": "Latching2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/2": {
      "main": [
        [
          {
            "node": "Getting enough milk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/3": {
      "main": [
        [
          {
            "node": "I'm in pain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/4": {
      "main": [
        [
          {
            "node": "Other1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/5": {
      "main": [
        [
          {
            "node": "I'm good1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/more": {
      "main": [
        [
          {
            "node": "Latching help1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/participate": {
      "main": [
        [
          {
            "node": "Participate on a meal train1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/meal": {
      "main": [
        [
          {
            "node": "Search sender name3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/uber": {
      "main": [
        [
          {
            "node": "Search sender name4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/instacart": {
      "main": [
        [
          {
            "node": "Search sender name5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/support": {
      "main": [
        [
          {
            "node": "Mama aceptede support",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/help": {
      "main": [
        [
          {
            "node": "MongoDB1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/11am": {
      "main": [
        [
          {
            "node": "Village member schedule block time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/series5": {
      "main": [
        [
          {
            "node": "Partner greeting1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meal1": {
      "main": [
        [
          {
            "node": "PN notifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "uber": {
      "main": [
        [
          {
            "node": "PN notifications1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "instacart": {
      "main": [
        [
          {
            "node": "PN notifications2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mama aceptede support": {
      "main": [
        [
          {
            "node": "MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Village member schedule block time": {
      "main": [
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Series 4 Greeting": {
      "main": [
        [
          {
            "node": "Wait6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Partner greeting1": {
      "main": [
        [
          {
            "node": "Wait7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB": {
      "main": [
        [
          {
            "node": "Village Notification1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB1": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search sender name": {
      "main": [
        [
          {
            "node": "Greetings before menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search sender name1": {
      "main": [
        [
          {
            "node": "Asking for support",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search sender name2": {
      "main": [
        [
          {
            "node": "Meal train invitation to village",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Day 7 automatic message for mama": {
      "main": [
        [
          {
            "node": "Search sender name1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Day 4 Automatic message": {
      "main": [
        [
          {
            "node": "Search sender name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Greetings before menu": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Day 9 Automatic message": {
      "main": [
        [
          {
            "node": "Search sender name2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search sender name3": {
      "main": [
        [
          {
            "node": "Meal1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search sender name4": {
      "main": [
        [
          {
            "node": "uber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search sender name5": {
      "main": [
        [
          {
            "node": "instacart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "Village member accepted to help1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/series4": {
      "main": [
        [
          {
            "node": "Series 4 Greeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Participate on a meal train": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set variables": {
      "main": [
        [
          {
            "node": "Participate on a meal train",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "Set variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Messages History": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}