Twilio_Flow.json
{
  "name": "Twilio Flow",
  "nodes": [
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "varios",
        "user": "={{$node[\"Webhook\"].json[\"body\"][\"user_id\"]}}",
        "text": "1. Make sure she has snacks and food she loves readily accessible as she breastfeeds. \n\n2. Tell her throughout the day how incredible she is, how proud you are, and how great of a job she's doing it. It's not implied, she needs to hear it from you.\n\n3. Coordinate ways for her to get as much rest as she possibly can. Her body is putting in invisible work to keep baby feed, at roughly 500 extra calories burned per feed. She's also adjusting to new hormone levels and physically recovering from childbirth. Rest is critical right now. As exhausted as you may be, you can't put yourself in her shoes so make sure her rest is a priority.\n\n4. Do your best to not talk about how difficult this time is for you. Unless you can put yourself in her shoes, make sure your partner and your baby are the center of your world right now. ",
        "otherOptions": {},
        "attachments": []
      },
      "id": "56bf6da9-2fc8-4914-968e-e3b42ec04aa3",
      "name": "Aproaches1",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        2060,
        1180
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "de3eec85-4f88-495c-9745-2232e862031b",
      "name": "Wait7",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1840,
        1180
      ],
      "webhookId": "be80de20-681f-4a2f-9989-a4e58317d793"
    },
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "varios",
        "user": "={{ $json[\"body\"][\"user_id\"] }}",
        "text": "Hey PARTNER!, hope life with your little one is bliss. \n\nOver these past days you've seen your partner go through a lot. She's doing a great job and probably looks like a total natural, but it's important for you to know what might be going on for her as well. [PN] is in her fourth trimsester now, something not talked about a lot. This is an emotionally, physically, and mentally challenging time for her as she navigates adjusting to parenthood. She is the lifeline for your little one and in most cases needs to do some of it alone which means you can't really help her. \n\nWhile you can't help her with baby, you can do absolutely everything else. Your job at this stage is to make sure her every need is taken care of and that if you can't help, you figure out what good help is.  \n\nWe've been tapping into your community to get her support, but as her partner, there is so much you can do in the small moments throughout the day:",
        "otherOptions": {},
        "attachments": []
      },
      "id": "6abac024-5e9f-4c34-82a7-ad9b4870bd98",
      "name": "Series 5 Partner Greeting",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        1640,
        1180
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "varios",
        "user": "={{$node[\"Webhook\"].json[\"body\"][\"user_id\"]}}",
        "text": "1) Keep your own sleeping space dark, cool, and ready to welcome you. Adjust it to your ideal sleeping conditions. As soon as your baby takes their nap, leap into bed and do your best to catch some shut eye. \n\n2) When you're ready to rest do your best to keep your phone in a separate room. If you must have it with you, turn the brightness down and don't look at it before your nap.\n\n3) After night feedings, hand your baby off to your partner so they can handle diaper changes and getting them down for a nap. This helps you catch an extra 10-20 minutes of rest each time which is critical for you right now. \n\n4) Keep snacks around so that you can feed yourself while baby is feeding. Feeding you both at the same time means that as soon as baby doesn't need to be with you for feeding, you can take a little break for yourself as well.",
        "otherOptions": {},
        "attachments": []
      },
      "id": "e6b72802-4b5b-4490-8186-e17b906ba154",
      "name": "Aproaches",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        2060,
        760
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "e8ce3264-6c61-4dde-9c10-6e3af6387647",
      "name": "Wait6",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1840,
        760
      ],
      "webhookId": "06670397-bc87-4bae-a627-3a6ae3ad3292"
    },
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "varios",
        "user": "={{ $json[\"body\"][\"user_id\"] }}",
        "text": "Morning mama! Hope you got some sleep last night, but if you didn't, that's totally normal at this stage. For the firsr 6 weeks of life, your newborn is going to take 4-8 naps per day. Your baby can't handle more than 45-60 minutes of awake time throughout the day, which includes feedings. That doesn't leave a lot of time to get things done with them, but that's okay. Moving slowly, taking things easy, and being kind to yourself is most important right now. If you're in a two parent household, there are some tested approaches that can help you get as much rest as possible. Test them out and see if they work for your family. ",
        "otherOptions": {},
        "attachments": []
      },
      "id": "127e35a8-8b2e-4cfc-99a0-a4fd9bd4ab35",
      "name": "Series 4 Greetings",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        1640,
        760
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json[\"body\"][\"command\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "/series4"
            },
            {
              "value2": "/series5",
              "output": 1
            }
          ]
        }
      },
      "id": "f1d7f5c2-379b-4791-8e14-a0d214331858",
      "name": "Series",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1360,
        1000
      ]
    },
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "=varios",
        "user": "={{$node[\"Webhook\"].json[\"body\"][\"user_id\"]}}{{ $json[\"body\"][\"user_id\"] }}",
        "text": "Hey mama, your family is coming by at 11am to take care of the laundry and other housekeeping tasks. You won't need to lift a finger.\n\nLet us know if you need anything else today 💛.\n\n(Write /series4 to receive Day 11 messages)",
        "otherOptions": {},
        "attachments": []
      },
      "id": "600884c7-28e9-41a4-85ce-ba36267d13a8",
      "name": "PN Notification3",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        1160,
        1640
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "9e037e4f-fa73-4be7-8599-27c8f9543a3f",
      "name": "Wait5",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        980,
        1640
      ],
      "webhookId": "87ebb1ce-0630-47ab-8ec2-8af1d62ed0a5"
    },
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "varios",
        "user": "={{ $json[\"body\"][\"user_id\"] }}",
        "text": "Sounds great. We'll send a message to [PM] to confirm. ",
        "otherOptions": {},
        "attachments": []
      },
      "id": "74239ceb-3e0b-497a-bdef-cfe2eb42b91e",
      "name": "Village member shedule a block time",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        800,
        1640
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "varios",
        "user": "={{ $json[\"body\"][\"user_id\"] }}",
        "text": "Great! It's [x:xx am] PST right now. Let us know if you're available at:\n\n1. 11am - 1pm\n2. 1pm - 4pm \n3. 4pm to 7pm\n\nSelect /11am, /1pm, or /4pm for the time block you are available.",
        "otherOptions": {},
        "attachments": []
      },
      "id": "554ea819-07fd-4dd6-85f6-8c09e1267ab3",
      "name": "Village member accepted to help",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        800,
        1440
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "=varios",
        "user": "={{$node[\"Webhook\"].json[\"body\"][\"user_id\"]}}{{ $json[\"body\"][\"user_id\"] }}",
        "text": "Hey family! [PN] is in need of some household support while she cares for her baby. \n\nStudies show that intimate skin to skin time is critical during this time, so we like to ask if you can support the new family with household tasks like dishes, laundry. and light cleaning while the new parents connect with their newborn. However, new mothers typically find it difficult to ask for this help themselves. That's why we're here to take on these requests for [PN] so that she can focus on what's going on at home. \n\n\nAre you to help household tasks today? Reply /help",
        "otherOptions": {},
        "attachments": []
      },
      "id": "f5fcefea-07f2-4fd4-9aa8-296f5226593b",
      "name": "Village Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        1160,
        1260
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "582ebb39-f20b-46bc-b3d5-c4768ab9db7b",
      "name": "Wait4",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        980,
        1260
      ],
      "webhookId": "6bcd384f-6ccb-4cea-b9a2-8b094ba3e0d9"
    },
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "varios",
        "user": "={{ $json[\"body\"][\"user_id\"] }}",
        "text": "We are on it!",
        "otherOptions": {},
        "attachments": []
      },
      "id": "332239b4-4439-4660-84de-13ec9846baa1",
      "name": "Mama Support acepted",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        800,
        1260
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "varios",
        "user": "={{ $json[\"body\"][\"user_id\"] }}",
        "text": "Hey mama, we know that household things can start to pile up around this time. \n\nIt's really important that you are able to spend intimate time with your little one of that's what calls to you. Your village can lend a hand with stuff around the house so you can focus on baby. \nCan we help you tap into their support? Reply /support.\t\t",
        "otherOptions": {},
        "attachments": []
      },
      "id": "601824db-3298-4a01-8a56-fdf7248dfbcd",
      "name": "Gretings Series 2",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        800,
        1100
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json[\"body\"][\"command\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "/series2"
            },
            {
              "value2": "/support",
              "output": 1
            },
            {
              "value2": "/help",
              "output": 2
            },
            {
              "value2": "/11am",
              "output": 3
            }
          ]
        }
      },
      "id": "272e808d-9469-468f-a3b3-49ffa06573b9",
      "name": "Series2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        520,
        1360
      ]
    },
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "=varios",
        "user": "={{$node[\"Webhook\"].json[\"body\"][\"user_id\"]}}{{ $json[\"body\"][\"user_id\"] }}",
        "text": "Hey mama, your family has purchased an Instacart gift card for the family. Hope it helps with groceries this week. \n\nStay well 🧡\n\n(Write /series2 to receive Day 7 messages.)",
        "otherOptions": {},
        "attachments": []
      },
      "id": "acb56b46-e3f9-4362-ad22-2bd0203d39dd",
      "name": "PN Notification2",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        1160,
        880
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "0aa76a08-5d0a-474f-bd2c-ff1a4dd2452f",
      "name": "Wait3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        980,
        880
      ],
      "webhookId": "ac871b63-d839-4e80-a6c3-ce5f38e2eba4"
    },
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "varios",
        "user": "={{ $json[\"body\"][\"user_id\"] }}",
        "text": "Great! Here's a link to purchase an Instacart gift card.",
        "otherOptions": {},
        "attachments": []
      },
      "id": "7ef57a3b-cd1e-4d33-9867-1c655f043de2",
      "name": "Instacart",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        800,
        880
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "=varios",
        "user": "={{$node[\"Webhook\"].json[\"body\"][\"user_id\"]}}{{ $json[\"body\"][\"user_id\"] }}",
        "text": "Hey mama, your family has purchased an Uber gift card for the family. Hope it keeps you fed today.\n\nStay well 🧡",
        "otherOptions": {},
        "attachments": []
      },
      "id": "ea9f772d-8ad0-456e-97cc-78b89a5df6cd",
      "name": "PN Notification1",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        1160,
        720
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "959c667a-f72f-433b-bf27-a14cb694573a",
      "name": "Wait2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        980,
        720
      ],
      "webhookId": "895eb38d-8c0b-4488-aa8c-9776d644eb9c"
    },
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "varios",
        "user": "={{ $json[\"body\"][\"user_id\"] }}",
        "text": "Great! Here's a link to purchase a gift card.",
        "otherOptions": {},
        "attachments": []
      },
      "id": "a7d66462-babe-496f-b35e-c349384ae65a",
      "name": "Uber",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        800,
        720
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "=varios",
        "user": "={{$node[\"Webhook\"].json[\"body\"][\"user_id\"]}}{{ $json[\"body\"][\"user_id\"] }}",
        "text": "Hey mama, your family will be dropping lunch and dinner off for the day. They'll be reaching out to coordinate delivery shortly. \n\nStay well 🧡",
        "otherOptions": {},
        "attachments": []
      },
      "id": "5c1c8d33-c386-419f-9219-f73aaa8702fd",
      "name": "PN Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        1160,
        540
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "88551d70-9990-45ee-a75c-e094bd1176b7",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        980,
        540
      ],
      "webhookId": "7051f175-e1b9-4aa8-abf3-ec6ae4fa20fa"
    },
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "varios",
        "user": "={{ $json[\"body\"][\"user_id\"] }}",
        "text": "Sounds great! We've let [PM] know and you can reach out to them to coordinate delivery.\t\t\t",
        "otherOptions": {},
        "attachments": []
      },
      "id": "c35cf4c7-c0c9-4e4c-bad7-648e6a08042f",
      "name": "Meal",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        800,
        540
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "varios",
        "user": "={{ $node[\"Webhook\"].json[\"body\"][\"user_id\"] }}",
        "text": "={{ $json[\"options to send\"] }}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "45a3f0e1-c6fc-4de4-8bf7-b754c49df6de",
      "name": "Participate on a meal train",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        980,
        340
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json[\"body\"][\"command\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "/participate"
            },
            {
              "value2": "/meal",
              "output": 1
            },
            {
              "value2": "/uber",
              "output": 2
            },
            {
              "value2": "/instacart",
              "output": 3
            }
          ]
        }
      },
      "id": "68fbe434-d4f2-4d62-9a7a-da2e4960da85",
      "name": "Series  1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        540,
        620
      ]
    },
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "varios",
        "user": "={{$node[\"Webhook\"].json[\"body\"][\"user_id\"]}}",
        "text": "={{ $json[\"village invitation\"] }}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "cdb9c218-f307-4e64-bea4-02ed4c57d418",
      "name": "Village members greeting",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        -280,
        1660
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "varios",
        "user": "={{$node[\"Webhook\"].json[\"body\"][\"user_id\"]}}",
        "text": "={{ $json[\"more support\"] }}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "dc43c8b0-ec75-4874-9b35-c40790217da4",
      "name": "Latching help",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        -280,
        1460
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "varios",
        "user": "={{$node[\"Webhook\"].json[\"body\"][\"user_id\"]}}",
        "text": "5- I'm good:\nThat's amazing to hear! We'll reach out soon to see how we can help in other ways.\n\n(Write /members to begin the  village members messages.)",
        "otherOptions": {},
        "attachments": []
      },
      "id": "ebc24afa-a061-4c46-b62b-083373a18f63",
      "name": "I'm good",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        -280,
        1280
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "varios",
        "user": "={{$node[\"Webhook\"].json[\"body\"][\"user_id\"]}}",
        "text": "={{ $json[\"Other\"] }}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "4bebb8ba-9059-49f0-93e1-43a072268c68",
      "name": "Other",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        -280,
        1100
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json[\"body\"][\"command\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "/4"
            },
            {
              "value2": "/5",
              "output": 1
            },
            {
              "value2": "/more",
              "output": 2
            },
            {
              "value2": "/yes",
              "output": 2
            },
            {
              "value2": "/members",
              "output": 3
            }
          ]
        }
      },
      "id": "fa0dd436-a285-42bf-8040-12722ad6caa7",
      "name": "Series1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -720,
        1360
      ]
    },
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "varios",
        "user": "={{$node[\"Webhook\"].json[\"body\"][\"user_id\"]}}",
        "text": "={{ $json[\"I'm in pain\"] }}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "dff58053-209e-4fd3-aa35-c532416dac9c",
      "name": "I'm in pain",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        -280,
        880
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "varios",
        "user": "={{ $node[\"Webhook\"].json[\"body\"][\"user_id\"] }}",
        "text": "={{ $json[\"Getting enough milk\"] }}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "74051404-947a-4740-9100-5716602649d3",
      "name": "Getting enough milk",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        -280,
        700
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "varios",
        "user": "={{ $node[\"Webhook\"].json[\"body\"][\"user_id\"] }}",
        "text": "={{ $json[\"latching\"] }}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "98f2a5c3-b46e-44c6-a77d-770bea770193",
      "name": "Latching",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        -280,
        540
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "amount": 4,
        "unit": "seconds"
      },
      "id": "92bceba3-31e3-4d58-ad04-5b6d1b6b0d9c",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -60,
        380
      ],
      "webhookId": "cd600a52-87d9-4265-a2aa-526dbc2ebd17"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json[\"body\"][\"command\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "/start"
            },
            {
              "value2": "/1",
              "output": 1
            },
            {
              "value2": "/2",
              "output": 2
            },
            {
              "value2": "/3",
              "output": 3
            }
          ]
        }
      },
      "id": "0c8fd69d-b3be-42c3-87df-b43beae227c6",
      "name": "Series 1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -720,
        620
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "956e41f4-a666-43da-8825-464e4a1d0188",
        "options": {
          "noResponseBody": true
        }
      },
      "id": "e1d41341-2491-4cde-8b22-acd1ce52445d",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1100,
        960
      ],
      "webhookId": "956e41f4-a666-43da-8825-464e4a1d0188"
    },
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "varios",
        "user": "={{ $node[\"Webhook\"].json[\"body\"][\"user_id\"] }}",
        "text": "={{ $json[\"greeting\"] }}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "5add6cc6-9c27-4c35-9998-d34b504a2a45",
      "name": "Greeting",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        -280,
        380
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 1",
        "options": {},
        "query": "={\n\"greeting\": { \"$regex\": \"Hey\", \"$options\": \"i\" }\n}"
      },
      "id": "61eee3f7-f6b4-4c29-b207-c47e1b3ce793",
      "name": "/start",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        -500,
        380
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "operation": "postEphemeral",
        "channel": "varios",
        "user": "={{$node[\"Webhook\"].json[\"body\"][\"user_id\"]}}",
        "text": "={{ $node[\"/start\"].json[\"menu\"] }}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "28838cd4-4fcb-46ff-888f-ef0c912fd5ac",
      "name": "Menu",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        140,
        380
      ],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 1",
        "options": {},
        "query": "={\n\"greeting\": { \"$regex\": \"Hey\", \"$options\": \"i\" }\n}"
      },
      "id": "5634d986-3be3-4b62-8def-35c1ee74dff3",
      "name": "/1",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        -500,
        540
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 1",
        "options": {},
        "query": "={\n\"greeting\": { \"$regex\": \"Hey\", \"$options\": \"i\" }\n}"
      },
      "id": "e4ea8d4a-f98b-4f5f-b1e6-a338a7d36f40",
      "name": "/2",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        -500,
        700
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 1",
        "options": {},
        "query": "={\n\"greeting\": { \"$regex\": \"Hey\", \"$options\": \"i\" }\n}"
      },
      "id": "41189396-072e-4765-b158-1cd37f823c76",
      "name": "/3",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        -500,
        880
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 1",
        "options": {},
        "query": "={\n\"greeting\": { \"$regex\": \"Hey\", \"$options\": \"i\" }\n}"
      },
      "id": "94f4bade-968f-4b51-a5f2-9602af6ec027",
      "name": "/4",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        -500,
        1100
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 1",
        "options": {},
        "query": "={\n\"greeting\": { \"$regex\": \"Hey\", \"$options\": \"i\" }\n}"
      },
      "id": "3dabe65c-e715-4680-a03f-5082909be97a",
      "name": "/5",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        -500,
        1280
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 1",
        "options": {},
        "query": "={\n\"greeting\": { \"$regex\": \"Hey\", \"$options\": \"i\" }\n}"
      },
      "id": "82d05f03-8ffb-49be-9fca-258ae2379f78",
      "name": "/more",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        -500,
        1460
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Meal_train",
        "options": {},
        "query": "={\n\"village invitation\": { \"$regex\": \"just\", \"$options\": \"i\" }\n}"
      },
      "id": "85364778-0d6b-453c-8062-4bdcd4f37ea4",
      "name": "/members",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        -500,
        1660
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Meal_train",
        "options": {},
        "query": "={\n\"village invitation\": { \"$regex\": \"just\", \"$options\": \"i\" }\n}"
      },
      "id": "ee86f3a1-1de8-4b56-983b-f99167b4df5e",
      "name": "/participate",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        800,
        340
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Wait7": {
      "main": [
        [
          {
            "node": "Aproaches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Series 5 Partner Greeting": {
      "main": [
        [
          {
            "node": "Wait7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "node": "Aproaches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Series 4 Greetings": {
      "main": [
        [
          {
            "node": "Wait6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Series": {
      "main": [
        [
          {
            "node": "Series 4 Greetings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Series 5 Partner Greeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "PN Notification3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Village member shedule a block time": {
      "main": [
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Village Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mama Support acepted": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Series2": {
      "main": [
        [
          {
            "node": "Gretings Series 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mama Support acepted",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Village member accepted to help",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Village member shedule a block time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "PN Notification2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instacart": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "PN Notification1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Uber": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "PN Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meal": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Series  1": {
      "main": [
        [
          {
            "node": "/participate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Meal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Uber",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Instacart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Series1": {
      "main": [
        [
          {
            "node": "/4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/more",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/members",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Series 1": {
      "main": [
        [
          {
            "node": "/start",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Series 1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Series1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Series  1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Greeting": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/start": {
      "main": [
        [
          {
            "node": "Greeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/1": {
      "main": [
        [
          {
            "node": "Latching",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/2": {
      "main": [
        [
          {
            "node": "Getting enough milk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/3": {
      "main": [
        [
          {
            "node": "I'm in pain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/4": {
      "main": [
        [
          {
            "node": "Other",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/5": {
      "main": [
        [
          {
            "node": "I'm good",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/more": {
      "main": [
        [
          {
            "node": "Latching help",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/members": {
      "main": [
        [
          {
            "node": "Village members greeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/participate": {
      "main": [
        [
          {
            "node": "Participate on a meal train",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "hash": "cf192150b105c2324b74273e24e82947",
  "id": 9,
  "meta": {
    "instanceId": "99d68c1f0abc8c95b53a5d4a1f9ab40d270b55323018b60c597c3fdcee2d3663"
  },
  "tags": []
}