Twilio_new_credentials__WhatsApp_.json
{
  "name": "Twilio new credentials (WhatsApp)",
  "nodes": [
    {
      "parameters": {
        "amount": 4,
        "unit": "seconds"
      },
      "id": "162c7382-1730-4393-9874-97c5fe37cb23",
      "name": "Wait7",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        760,
        480
      ],
      "webhookId": "ef9dcc86-483e-4cac-9ee1-ed78d45313c2"
    },
    {
      "parameters": {
        "amount": 4,
        "unit": "seconds"
      },
      "id": "b3b41a34-becb-4286-9b51-9a50e447e79f",
      "name": "Wait6",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        760,
        280
      ],
      "webhookId": "81400c77-756d-499f-973c-342eddfc4111"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json[\"body\"][\"Body\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "/series4"
            },
            {
              "value2": "/series5",
              "output": 1
            },
            {
              "value2": "/historical",
              "output": 2
            }
          ]
        }
      },
      "id": "54bd7c2f-4a46-4f07-977d-985dd176f86f",
      "name": "Series",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        40,
        460
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json[\"body\"][\"Body\"].toLowerCase() }}",
        "rules": {
          "rules": [
            {
              "operation": "contains",
              "value2": "series2"
            },
            {
              "operation": "contains",
              "value2": "support",
              "output": 1
            },
            {
              "operation": "contains",
              "value2": "yes",
              "output": 2
            },
            {
              "value2": "11am",
              "output": 3
            },
            {
              "value2": "1pm",
              "output": 3
            },
            {
              "value2": "4pm",
              "output": 3
            }
          ]
        }
      },
      "id": "ce8ec214-6404-48a9-a3cb-d2004fcae8ea",
      "name": "Series2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        2280,
        1740
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json[\"body\"][\"Body\"].toLowerCase() }}",
        "rules": {
          "rules": [
            {
              "operation": "contains",
              "value2": "participate"
            },
            {
              "operation": "contains",
              "value2": "meal",
              "output": 1
            },
            {
              "operation": "contains",
              "value2": "uber",
              "output": 2
            },
            {
              "operation": "contains",
              "value2": "instacart",
              "output": 3
            }
          ]
        }
      },
      "id": "715edecf-f4c3-4453-8871-c08f56c4a47d",
      "name": "Series  1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        2260,
        880
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json[\"body\"][\"Body\"].toLowerCase() }}",
        "rules": {
          "rules": [
            {
              "value2": "4"
            },
            {
              "value2": "5",
              "output": 1
            },
            {
              "value2": "more",
              "output": 2
            },
            {
              "value2": "ok",
              "output": 3
            }
          ]
        }
      },
      "id": "9e3bd94c-7c46-42fc-94ee-cc5934ff4a7c",
      "name": "Series1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        3480,
        1280
      ]
    },
    {
      "parameters": {
        "amount": 4,
        "unit": "seconds"
      },
      "id": "45918b82-8f0f-4ac0-98a9-e5ce4291debb",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1800,
        660
      ],
      "webhookId": "10edf605-c193-4baa-a0cb-82dcfc11c876"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json[\"body\"][\"Body\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "/start"
            },
            {
              "value2": "1",
              "output": 1
            },
            {
              "value2": "2",
              "output": 2
            },
            {
              "value2": "3",
              "output": 3
            }
          ]
        }
      },
      "id": "1cf804a2-7fad-4a94-a8ec-c9cbb643f59e",
      "name": "Series 1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1000,
        920
      ]
    },
    {
      "parameters": {
        "collection": "Series 1",
        "options": {},
        "query": "={\n\"latching\": { \"$regex\": \"Below\" }\n}"
      },
      "id": "d581cc48-389f-4e12-bc53-9369bc7889f5",
      "name": "/1",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1220,
        840
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 1",
        "options": {},
        "query": "={\n\"Getting enough milk\": { \"$regex\": \"breastfeeding\" }\n}"
      },
      "id": "9336f600-0691-4e11-a394-e6808c890ac3",
      "name": "/2",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1220,
        1000
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 1",
        "options": {},
        "query": "={\n\"I'm in pain\": { \"$regex\": \"You'll\" }\n}"
      },
      "id": "74f50928-7198-40d9-8859-b73b7d6a1b26",
      "name": "/3",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1220,
        1180
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 1",
        "options": {},
        "query": "={\n\"Other\": { \"$regex\": \"The challenges of feeding\"}\n}"
      },
      "id": "752e2356-4d60-4198-a2b8-840f75c0914e",
      "name": "/4",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        3700,
        1000
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 1",
        "options": {},
        "query": "={\n\"I'm good\": { \"$regex\": \"That's amazing\" }\n}"
      },
      "id": "47c624e6-67b4-42a3-bcb5-9790f02f5473",
      "name": "/5",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        3700,
        1180
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 1",
        "options": {},
        "query": "={\n\"more support\": { \"$regex\": \"No sweat\" }\n}"
      },
      "id": "aebd5b17-b468-4652-97ee-42ecff6b3cff",
      "name": "/more",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        3700,
        1360
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "collection": "Meal_train",
        "options": {},
        "query": "={\n\"village invitation\": { \"$regex\": \"just\", \"$options\": \"i\" }\n}"
      },
      "id": "4878e30e-69d0-45ca-b4eb-cb7e8214f488",
      "name": "/participate",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        2520,
        660
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "collection": "Meal_train",
        "options": {},
        "query": "={\n\"village invitation\": { \"$regex\": \"just\", \"$options\": \"i\" }\n}"
      },
      "id": "9d663a8d-e2e5-4db9-9552-7d29dace6093",
      "name": "/meal",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        2520,
        820
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "collection": "Meal_train",
        "options": {},
        "query": "={\n\"village invitation\": { \"$regex\": \"just\", \"$options\": \"i\" }\n}"
      },
      "id": "b091ac41-876e-41c4-887b-382a9326b896",
      "name": "/uber",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        2520,
        980
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "collection": "Meal_train",
        "options": {},
        "query": "={\n\"village invitation\": { \"$regex\": \"just\", \"$options\": \"i\" }\n}"
      },
      "id": "22682f73-350d-4e9a-a5f1-1bf0fef7ec75",
      "name": "/instacart",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        2520,
        1160
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 2",
        "options": {},
        "query": "={\n\"We're on it\": { \"$regex\": \"We're on it!\" }\n}"
      },
      "id": "01aabdad-c9c3-4ec8-9f7d-afeb7da20607",
      "name": "/support",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        2520,
        1660
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 2",
        "options": {},
        "query": "={\n\"Village schedule\": { \"$regex\": \"PST\" }\n}"
      },
      "id": "8f8b6db5-c4f9-475f-966e-e3af5d356eed",
      "name": "/help",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        2520,
        1880
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 2",
        "options": {},
        "query": "={\n\"Village schedule\": { \"$regex\": \"PST\" }\n}"
      },
      "id": "6854506e-79f8-487a-af62-d5d09fbdfda4",
      "name": "/11am",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        2520,
        2080
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 5",
        "options": {},
        "query": "={\n\"Text 1\": { \"$regex\": \"Hey\", \"$options\": \"i\" }\n}"
      },
      "id": "f183b83d-b10d-45fa-922e-47416daee606",
      "name": "/series5",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        360,
        480
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook1\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook1\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $json[\"latching\"] }}",
        "options": {}
      },
      "id": "5478fcbd-eb20-4fd8-a49d-9b796831db94",
      "name": "Latching2",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1440,
        840
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook1\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook1\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $json[\"Getting enough milk\"] }}",
        "options": {}
      },
      "id": "f47c4853-984c-4ccd-992c-c57c5eb19133",
      "name": "Getting enough milk1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1440,
        1000
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook1\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook1\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $json[\"I'm in pain\"] }}",
        "options": {}
      },
      "id": "b8bb462b-4d58-4d2c-bc36-4b24176085b2",
      "name": "I'm in pain1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1440,
        1180
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook1\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook1\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $json[\"Other\"] }}",
        "options": {}
      },
      "id": "4902d1e7-4c19-4a3a-a48d-1737dca4be2b",
      "name": "Other1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        3920,
        1000
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook1\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook1\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $json[\"I'm good\"] }}",
        "options": {}
      },
      "id": "86725e3e-d227-4060-a7d5-62afb2a0a233",
      "name": "I'm good1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        3920,
        1180
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook1\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook1\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $json[\"more support\"] }}",
        "options": {}
      },
      "id": "b4949b05-11bf-454a-9adb-f105dcbda376",
      "name": "Latching help1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        3920,
        1360
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook1\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook1\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $json[\"options to send\"] }}",
        "options": {}
      },
      "id": "a6d39b3f-868b-424f-9481-4f3eb2cbd91c",
      "name": "Participate on a meal train1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        2700,
        660
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook1\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook1\"].json[\"body\"][\"From\"] }}",
        "message": "=Sounds great! We've let {{$node[\"Search sender name3\"].json[\"name\"]}}{{$node[\"/meal\"].json[\"answer for meal\"]}}",
        "options": {}
      },
      "id": "a468ff69-3f08-4b1e-a4d9-da9021a6a788",
      "name": "Meal1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        2880,
        820
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook1\"].json[\"body\"][\"To\"] }}",
        "to": "=whatsapp:{{$node[\"Search sender name3\"].json[\"phone\"]}}",
        "message": "=Hey {{$node[\"Search sender name3\"].json[\"name\"]}}, {{$node[\"Search sender name3\"].json[\"name village member 1\"]}} {{ $node[\"/meal\"].json[\"PM sms for meal\"] }}",
        "options": {}
      },
      "id": "dc6a37fd-697b-4b7a-9d4f-3f87c23623d3",
      "name": "PN notifications",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        3080,
        820
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook1\"].json[\"body\"][\"To\"] }}",
        "to": "=whatsapp:{{$node[\"Search sender name4\"].json[\"phone\"]}}",
        "message": "=Hey {{$node[\"Search sender name4\"].json[\"name\"]}}, {{$node[\"Search sender name4\"].json[\"name village member 1\"]}} {{ $node[\"/uber\"].json[\"PM sms for uber\"] }}",
        "options": {}
      },
      "id": "01dd81be-fdc5-4759-8e39-3f1a8a55677e",
      "name": "PN notifications1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        3080,
        980
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "=whatsapp:{{$node[\"Search sender name5\"].json[\"Village member phone\"]}}",
        "message": "=Hey {{$node[\"Search sender name5\"].json[\"Village member name\"]}}, {{$node[\"Search sender name5\"].json[\"name\"]}} {{ $node[\"/instacart\"].json[\"PM sms for instacart\"] }}",
        "options": {}
      },
      "id": "7119d9ed-7399-413a-ab6a-1cbf5ff19b57",
      "name": "PN notifications2",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        3080,
        1160
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook1\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook1\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $node[\"/uber\"].json[\"answer for uber\"] }}",
        "options": {}
      },
      "id": "4e9b9e15-c031-4abf-9f66-b17df1775630",
      "name": "uber",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        2880,
        980
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{$node[\"/instacart\"].json[\"answer for instacart\"]}}",
        "options": {}
      },
      "id": "e6291786-e243-4424-af0f-2df815f15338",
      "name": "instacart",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        2880,
        1160
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $('Webhook1').item.json.body.To }}",
        "to": "=whatsapp:+{{ $('Webhook1').item.json.body.WaId }}",
        "message": "={{ $json[\"We're on it\"] }}",
        "options": {}
      },
      "id": "7a607d85-83d2-48cb-845f-7f39fe55bb1f",
      "name": "Mama aceptede support",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        2720,
        1660
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook1\"].json[\"body\"][\"To\"] }}",
        "to": "=whatsapp:{{ $json[\"phone village member 1\"] }}",
        "message": "=Hey {{$node[\"MongoDB\"].json[\"name village member 1\"]}}!, {{$node[\"MongoDB\"].json[\"name\"]}} {{ $node[\"/support\"].json[\"Village Greeting\"] }}",
        "options": {}
      },
      "id": "bdc1b2db-628c-43b4-8e8e-95578b3f34f7",
      "name": "Village Notification1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        3100,
        1660
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook1\"].json[\"body\"][\"To\"] }}",
        "to": "=whatsapp:+{{ $('Webhook1').item.json.body.WaId }}",
        "message": "=Great! It's {{$json[\"horaActual\"]}} {{ $node[\"/help\"].json[\"Village schedule\"] }}",
        "options": {}
      },
      "id": "9b15f893-b5b9-4ae2-9747-d8fb3525553e",
      "name": "Village member accepted to help1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        2920,
        1880
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook1\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook1\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $('/11am').item.json[\"Confirmation sent to PM\"] }}{{ $json.name }} to confirm.",
        "options": {}
      },
      "id": "0174e1d0-5a27-4ee7-88f4-8b6de445b44d",
      "name": "Village member schedule block time",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        2920,
        2080
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook1\"].json[\"body\"][\"To\"] }}",
        "to": "=whatsapp:{{ $('MongoDB2').item.json.phone }}",
        "message": "=Hey {{ $('MongoDB2').item.json.name }}, {{ $('MongoDB2').item.json[\"name village member 1\"] }} is coming by at {{ $('Webhook1').item.json.body.Body }} {{ $node[\"/11am\"].json[\"PM receive confirmation\"] }}   ",
        "options": {}
      },
      "id": "28196047-a1b4-4844-96be-f39f5934a23d",
      "name": "PN Notification4",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        3100,
        2080
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $json[\"Text 1\"] }}",
        "options": {}
      },
      "id": "e87fc087-a1a7-4be3-a2f6-43d493b2a97a",
      "name": "Series 4 Greeting",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        560,
        280
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $node[\"/series4\"].json[\"Text 2\"] }}",
        "options": {}
      },
      "id": "1a6ac002-0bc5-4d8c-afb1-60c90e58639a",
      "name": "Aproaches2",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        960,
        280
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $json[\"Text 1\"] }}",
        "options": {}
      },
      "id": "d5343557-1aed-4717-9199-e4abb6217b91",
      "name": "Partner greeting1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        560,
        480
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $node[\"/series5\"].json[\"Text 2\"] }}",
        "options": {}
      },
      "id": "7425e3ef-d1ea-461a-b3b1-28b3aef70a4c",
      "name": "Aproaches",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        960,
        480
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "collection": "Mevi",
        "options": {},
        "query": "={\n  \"phone\": \"+{{ $('Webhook1').item.json.body.WaId}}\"\n} "
      },
      "id": "20170d6a-729e-4e23-a509-803176615535",
      "name": "MongoDB",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        2900,
        1660
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "collection": "Mevi",
        "options": {},
        "query": "={\n\"phone\": \"+{{$node[\"Webhook\"].json[\"body\"][\"WaId\"]}}\"\n}"
      },
      "id": "3177eedb-0a39-4536-b585-42b3f6030bb7",
      "name": "Search sender name",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1440,
        660
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "collection": "Mevi",
        "options": {},
        "query": "={\n\"phone\": \"+{{$node[\"Webhook1\"].json[\"body\"][\"WaId\"]}}\"\n}"
      },
      "id": "ce0897a8-7363-4080-952b-794258675de2",
      "name": "Search sender name1",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        2720,
        1480
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "collection": "Mevi",
        "options": {},
        "query": "={\n\"phone\": \"+{{$node[\"Webhook1\"].json[\"body\"][\"WaId\"]}}\"\n}"
      },
      "id": "7f78f4eb-63e3-4246-904a-6caa1de2c926",
      "name": "Search sender name2",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        3920,
        1580
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook1\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook1\"].json[\"body\"][\"From\"] }}",
        "message": "=Hey {{ $json[\"name\"] }}{{ $node[\"Day 7 automatic message for mama\"].json[\"Greetings Day 7\"] }}",
        "options": {}
      },
      "id": "c9dbdd87-45e3-4940-b4ab-d021be599769",
      "name": "Asking for support",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        2900,
        1480
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 2",
        "options": {},
        "query": "={\n\"Greetings Day 7\": { \"$regex\": \"we\", \"$options\": \"i\" }\n}"
      },
      "id": "851ba1e8-c292-4237-8a51-7b5f247dd5eb",
      "name": "Day 7 automatic message for mama",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        2520,
        1480
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 1",
        "options": {},
        "query": "={\n  \"greeting\": {\n    \"$regex\": \"hope\"\n  }\n}"
      },
      "id": "26ab46b1-4fe6-4b7e-bfc1-0f487264cb4a",
      "name": "Day 4 Automatic message",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1220,
        660
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "=Hey {{$node[\"Search sender name\"].json[\"name\"]}} {{ $node[\"Day 4 Automatic message\"].json[\"greeting\"] }}",
        "options": {}
      },
      "id": "fbeed10e-4f4d-4ea1-a963-a3f874e23187",
      "name": "Greetings before menu",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1620,
        660
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $node[\"Day 4 Automatic message\"].json[\"menu\"] }}",
        "options": {}
      },
      "id": "abbd2141-2204-4c5b-9a6b-2b544fb9ecf7",
      "name": "Menu",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1960,
        660
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "collection": "Meal_train",
        "options": {},
        "query": "={\n\"village invitation\": { \"$regex\": \"just\", \"$options\": \"i\" }\n}"
      },
      "id": "1845b2d1-9c15-42e6-aacc-a085f1a2c7d7",
      "name": "Day 9 Automatic message",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        3700,
        1580
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook1\"].json[\"body\"][\"To\"] }}",
        "to": "=whatsapp:{{ $('Search sender name2').item.json[\"phone village member 1\"] }}",
        "message": "=Hey {{$node[\"Search sender name2\"].json[\"name village member 1\"]}}, {{ $('Search sender name2').item.json.name }}{{ $node[\"Day 9 Automatic message\"].json[\"village invitation\"] }} ",
        "options": {}
      },
      "id": "f9ace7e0-24b6-42f8-a052-ba56b55b07f0",
      "name": "Meal train invitation to village",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        4260,
        1580
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "collection": "Mevi",
        "options": {},
        "query": "={\n\"phone village member 1\": \"+{{$node[\"Webhook1\"].json[\"body\"][\"WaId\"]}}\"\n}"
      },
      "id": "289860ec-9120-4621-8878-88a7bee5c2d4",
      "name": "Search sender name3",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        2700,
        820
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "collection": "Mevi",
        "options": {},
        "query": "={\n\"phone village member 1\": \"+{{$node[\"Webhook1\"].json[\"body\"][\"WaId\"]}}\"\n}"
      },
      "id": "41ec2c10-0824-4b2f-9a81-ce6c57490382",
      "name": "Search sender name4",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        2700,
        980
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "collection": "Mevi",
        "options": {},
        "query": "={\n\"phone\": \"+{{$node[\"Webhook\"].json[\"body\"][\"WaId\"]}}\"\n}"
      },
      "id": "229d9990-0a7b-4727-b60a-52c361212982",
      "name": "Search sender name5",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        2700,
        1160
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Calcula la hora en Vancouver\n//const vancouverOffset = -7; // Diferencia horaria de Vancouver respecto a UTC en horas (PST)\nconst now = new Date();\nconst horaVancouver = new Date(now.getTime() );\n\n// Formatea la hora en el formato deseado\nconst options = {\n  timeZone: 'America/Vancouver',\n  hour12: false,\n  hour: 'numeric',\n  minute: 'numeric',\n  second: 'numeric'\n};\n\nconst horaFormateada = horaVancouver.toLocaleTimeString('en-US', options);\n\n// Establece el valor de salida\nreturn { horaActual: horaFormateada };\n\n\n\n\n\n"
      },
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2720,
        1880
      ],
      "id": "48950ef7-5417-48cd-8497-afd4b6e9a502"
    },
    {
      "parameters": {
        "collection": "Series 4",
        "options": {},
        "query": "={\n\"Text 1\": { \"$regex\": \"!\", \"$options\": \"i\" }\n}\n"
      },
      "id": "055bce3a-5d1c-4132-a759-7a32528a81dc",
      "name": "/series4",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        360,
        280
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $json[\"body messages\"] }}",
        "options": {}
      },
      "id": "1fe46aea-a3e7-496d-98da-9995d1287c35",
      "name": "Participate on a meal train",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        960,
        680
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "body messages",
              "value": "={{ $json[\"body\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "19e3e99f-1695-4b24-8e81-4ce19cd8c82c",
      "name": "Set variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        760,
        680
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "db2e3ac3-01da-46fd-8f7e-ec1d25689110",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        560,
        680
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "messages",
        "options": {}
      },
      "id": "a0a6d00a-5491-4be8-81f4-37a9f300f0a9",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        360,
        680
      ]
    },
    {
      "parameters": {
        "url": "https://api.twilio.com/2010-04-01/Accounts/AC2b2e1730af8d0b5eab2bef01c67c8bc5/Messages.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "+14175413741"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic QUMyYjJlMTczMGFmOGQwYjVlYWIyYmVmMDFjNjdjOGJjNToxNzRjNjQ5ZWY2MzhhZDE2MDkxOWIwN2Q5YjYzZDMxNQ=="
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true
            }
          }
        }
      },
      "id": "e738ad4a-3a6a-471f-abbf-493be2faace9",
      "name": "Messages History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        180,
        680
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "0b29d594-bd6f-42ff-9081-fc66ec9af819",
        "options": {
          "noResponseBody": true
        }
      },
      "id": "da23664d-25c3-43ae-981c-3027936cef5d",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        520,
        1300
      ],
      "webhookId": "0b29d594-bd6f-42ff-9081-fc66ec9af819"
    },
    {
      "parameters": {
        "collection": "Mevi",
        "options": {},
        "query": "={\n  \"phone village member 1\": \"+{{$node[\"Webhook1\"].json[\"body\"][\"WaId\"]}}\"\n}"
      },
      "id": "537c1f3e-dc83-43e8-855d-78ab902a3f78",
      "name": "MongoDB2",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        2720,
        2080
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $('Webhook1').item.json.body.To }}",
        "to": "=whatsapp:+{{ $('Webhook1').item.json.body.WaId }}",
        "message": "=We're on it!",
        "options": {}
      },
      "id": "ffc8e71a-9888-40d2-9bdf-b3b5a0d9bc6d",
      "name": "Mama aceptede support1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        4080,
        1580
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Wait7": {
      "main": [
        [
          {
            "node": "Aproaches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "node": "Aproaches2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Series": {
      "main": [
        [
          {
            "node": "/series4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/series5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Messages History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Series2": {
      "main": [
        [
          {
            "node": "Day 7 automatic message for mama",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/support",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/help",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/11am",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Series  1": {
      "main": [
        [
          {
            "node": "/participate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/meal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/uber",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/instacart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Series1": {
      "main": [
        [
          {
            "node": "/4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/more",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Day 9 Automatic message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Series 1": {
      "main": [
        [
          {
            "node": "Day 4 Automatic message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/1": {
      "main": [
        [
          {
            "node": "Latching2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/2": {
      "main": [
        [
          {
            "node": "Getting enough milk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/3": {
      "main": [
        [
          {
            "node": "I'm in pain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/4": {
      "main": [
        [
          {
            "node": "Other1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/5": {
      "main": [
        [
          {
            "node": "I'm good1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/more": {
      "main": [
        [
          {
            "node": "Latching help1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/participate": {
      "main": [
        [
          {
            "node": "Participate on a meal train1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/meal": {
      "main": [
        [
          {
            "node": "Search sender name3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/uber": {
      "main": [
        [
          {
            "node": "Search sender name4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/instacart": {
      "main": [
        [
          {
            "node": "Search sender name5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/support": {
      "main": [
        [
          {
            "node": "Mama aceptede support",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/help": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/11am": {
      "main": [
        [
          {
            "node": "MongoDB2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/series5": {
      "main": [
        [
          {
            "node": "Partner greeting1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meal1": {
      "main": [
        [
          {
            "node": "PN notifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "uber": {
      "main": [
        [
          {
            "node": "PN notifications1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "instacart": {
      "main": [
        [
          {
            "node": "PN notifications2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mama aceptede support": {
      "main": [
        [
          {
            "node": "MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Village member schedule block time": {
      "main": [
        [
          {
            "node": "PN Notification4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Series 4 Greeting": {
      "main": [
        [
          {
            "node": "Wait6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Partner greeting1": {
      "main": [
        [
          {
            "node": "Wait7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB": {
      "main": [
        [
          {
            "node": "Village Notification1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search sender name": {
      "main": [
        [
          {
            "node": "Greetings before menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search sender name1": {
      "main": [
        [
          {
            "node": "Asking for support",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search sender name2": {
      "main": [
        [
          {
            "node": "Mama aceptede support1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Day 7 automatic message for mama": {
      "main": [
        [
          {
            "node": "Search sender name1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Day 4 Automatic message": {
      "main": [
        [
          {
            "node": "Search sender name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Greetings before menu": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Day 9 Automatic message": {
      "main": [
        [
          {
            "node": "Search sender name2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search sender name3": {
      "main": [
        [
          {
            "node": "Meal1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search sender name4": {
      "main": [
        [
          {
            "node": "uber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search sender name5": {
      "main": [
        [
          {
            "node": "instacart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "Village member accepted to help1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/series4": {
      "main": [
        [
          {
            "node": "Series 4 Greeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Participate on a meal train": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set variables": {
      "main": [
        [
          {
            "node": "Participate on a meal train",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "Set variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Messages History": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Series1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Series 1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Series  1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Series2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Series",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB2": {
      "main": [
        [
          {
            "node": "Village member schedule block time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mama aceptede support1": {
      "main": [
        [
          {
            "node": "Meal train invitation to village",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "61fe7d64-5735-43ff-aca3-ab54d62a5519",
  "id": "16",
  "meta": {
    "instanceId": "cd387a108e59f407338aaa3dd1fc1392753e7785132f8d58d189493b0d889a53"
  },
  "tags": [
    {
      "createdAt": "2023-07-04T01:41:57.686Z",
      "updatedAt": "2023-07-04T01:41:57.686Z",
      "id": "1",
      "name": "Twilio"
    }
  ]
}