Twilio_Flow.json
{
  "meta": {
    "instanceId": "99d68c1f0abc8c95b53a5d4a1f9ab40d270b55323018b60c597c3fdcee2d3663"
  },
  "nodes": [
    {
      "parameters": {
        "amount": 4,
        "unit": "seconds"
      },
      "id": "de3eec85-4f88-495c-9745-2232e862031b",
      "name": "Wait7",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -960,
        180
      ],
      "webhookId": "be80de20-681f-4a2f-9989-a4e58317d793"
    },
    {
      "parameters": {
        "amount": 4,
        "unit": "seconds"
      },
      "id": "e8ce3264-6c61-4dde-9c10-6e3af6387647",
      "name": "Wait6",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -960,
        -20
      ],
      "webhookId": "06670397-bc87-4bae-a627-3a6ae3ad3292"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json[\"body\"][\"Body\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "/series4"
            },
            {
              "value2": "/series5",
              "output": 1
            },
            {
              "value2": "/home",
              "output": 2
            }
          ]
        }
      },
      "id": "f1d7f5c2-379b-4791-8e14-a0d214331858",
      "name": "Series",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -1680,
        160
      ]
    },
    {
      "parameters": {
        "amount": 4,
        "unit": "seconds"
      },
      "id": "9e037e4f-fa73-4be7-8599-27c8f9543a3f",
      "name": "Wait5",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1180,
        1840
      ],
      "webhookId": "87ebb1ce-0630-47ab-8ec2-8af1d62ed0a5"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json[\"body\"][\"Body\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "/series2"
            },
            {
              "value2": "/support",
              "output": 1
            },
            {
              "value2": "/help",
              "output": 2
            },
            {
              "value2": "/11am",
              "output": 3
            }
          ]
        }
      },
      "id": "272e808d-9469-468f-a3b3-49ffa06573b9",
      "name": "Series2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        560,
        1440
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json[\"body\"][\"Body\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "/participate"
            },
            {
              "value2": "/meal",
              "output": 1
            },
            {
              "value2": "/uber",
              "output": 2
            },
            {
              "value2": "/instacart",
              "output": 3
            }
          ]
        }
      },
      "id": "68fbe434-d4f2-4d62-9a7a-da2e4960da85",
      "name": "Series  1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        540,
        580
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json[\"body\"][\"Body\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "/4"
            },
            {
              "value2": "/5",
              "output": 1
            },
            {
              "value2": "/more",
              "output": 2
            },
            {
              "value2": "/yes",
              "output": 2
            },
            {
              "value2": "/members",
              "output": 3
            }
          ]
        }
      },
      "id": "fa0dd436-a285-42bf-8040-12722ad6caa7",
      "name": "Series1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1760,
        960
      ]
    },
    {
      "parameters": {
        "amount": 4,
        "unit": "seconds"
      },
      "id": "92bceba3-31e3-4d58-ad04-5b6d1b6b0d9c",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        80,
        360
      ],
      "webhookId": "cd600a52-87d9-4265-a2aa-526dbc2ebd17"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json[\"body\"][\"Body\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "/start"
            },
            {
              "value2": "/1",
              "output": 1
            },
            {
              "value2": "/2",
              "output": 2
            },
            {
              "value2": "/3",
              "output": 3
            }
          ]
        }
      },
      "id": "0c8fd69d-b3be-42c3-87df-b43beae227c6",
      "name": "Series 1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -720,
        620
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "956e41f4-a666-43da-8825-464e4a1d0188",
        "options": {
          "noResponseBody": true
        }
      },
      "id": "e1d41341-2491-4cde-8b22-acd1ce52445d",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1100,
        960
      ],
      "webhookId": "956e41f4-a666-43da-8825-464e4a1d0188"
    },
    {
      "parameters": {
        "collection": "Series 1",
        "options": {},
        "query": "={\n\"latching\": { \"$regex\": \"Below\" }\n}"
      },
      "id": "5634d986-3be3-4b62-8def-35c1ee74dff3",
      "name": "/1",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        -500,
        540
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 1",
        "options": {},
        "query": "={\n\"Getting enough milk\": { \"$regex\": \"breastfeeding\" }\n}"
      },
      "id": "e4ea8d4a-f98b-4f5f-b1e6-a338a7d36f40",
      "name": "/2",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        -500,
        700
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 1",
        "options": {},
        "query": "={\n\"I'm in pain\": { \"$regex\": \"You'll\" }\n}"
      },
      "id": "41189396-072e-4765-b158-1cd37f823c76",
      "name": "/3",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        -500,
        880
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 1",
        "options": {},
        "query": "={\n\"Other\": { \"$regex\": \"The challenges of feeding\"}\n}"
      },
      "id": "94f4bade-968f-4b51-a5f2-9602af6ec027",
      "name": "/4",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1980,
        700
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 1",
        "options": {},
        "query": "={\n\"I'm good\": { \"$regex\": \"That's amazing\" }\n}"
      },
      "id": "3dabe65c-e715-4680-a03f-5082909be97a",
      "name": "/5",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1980,
        880
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 1",
        "options": {},
        "query": "={\n\"more support\": { \"$regex\": \"No sweat\" }\n}"
      },
      "id": "82d05f03-8ffb-49be-9fca-258ae2379f78",
      "name": "/more",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1980,
        1060
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Meal_train",
        "options": {},
        "query": "={\n\"village invitation\": { \"$regex\": \"just\", \"$options\": \"i\" }\n}"
      },
      "id": "ee86f3a1-1de8-4b56-983b-f99167b4df5e",
      "name": "/participate",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        800,
        360
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Meal_train",
        "options": {},
        "query": "={\n\"village invitation\": { \"$regex\": \"just\", \"$options\": \"i\" }\n}"
      },
      "id": "4667814c-d608-41c3-8878-3fd109e1884c",
      "name": "/meal",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        800,
        520
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Meal_train",
        "options": {},
        "query": "={\n\"village invitation\": { \"$regex\": \"just\", \"$options\": \"i\" }\n}"
      },
      "id": "19c01d61-5bee-400f-a64a-a1ead5864948",
      "name": "/uber",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        800,
        680
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Meal_train",
        "options": {},
        "query": "={\n\"village invitation\": { \"$regex\": \"just\", \"$options\": \"i\" }\n}"
      },
      "id": "e1b233b7-a175-49ae-83e4-9fd7b115122b",
      "name": "/instacart",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        800,
        860
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 2",
        "options": {},
        "query": "={\n\"We're on it\": { \"$regex\": \"We're on it!\" }\n}"
      },
      "id": "b761bf53-4ace-472d-8578-e7142823e8c6",
      "name": "/support",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        800,
        1360
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 2",
        "options": {},
        "query": "={\n\"Village schedule\": { \"$regex\": \"Great\" }\n}"
      },
      "id": "d3b74f3f-cea9-4891-bf9a-84f65f97b7b9",
      "name": "/help",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        800,
        1660
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 2",
        "options": {},
        "query": "={\n\"Greetings Day 7\": { \"$regex\": \"Hey\", \"$options\": \"i\" }\n}"
      },
      "id": "d4a28694-e968-437b-9b56-b0d2323cf4a2",
      "name": "/11am",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        800,
        1840
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 4",
        "options": {},
        "query": "={\n\"Text 1\": { \"$regex\": \"Hey\", \"$options\": \"i\" }\n}"
      },
      "id": "fca5215c-d660-442e-9bdd-431a87e29d78",
      "name": "/series4",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        -1360,
        -20
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 5",
        "options": {},
        "query": "={\n\"Text 1\": { \"$regex\": \"Hey\", \"$options\": \"i\" }\n}"
      },
      "id": "c0ab7946-2493-4d67-8567-b8c222c4cf75",
      "name": "/series5",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        -1360,
        180
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $json[\"latching\"] }}",
        "options": {}
      },
      "id": "4d5609fb-e5e6-4cab-8fe3-69881b51ba1a",
      "name": "Latching2",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -280,
        540
      ],
      "credentials": {
        "twilioApi": {
          "id": "5",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $json[\"Getting enough milk\"] }}",
        "options": {}
      },
      "id": "7f38cf05-5467-407f-9ebc-9fc7f4588bc6",
      "name": "Getting enough milk1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -280,
        700
      ],
      "credentials": {
        "twilioApi": {
          "id": "5",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $json[\"I'm in pain\"] }}",
        "options": {}
      },
      "id": "97873bdf-b533-4b19-b58f-a175551fb7f7",
      "name": "I'm in pain1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -280,
        880
      ],
      "credentials": {
        "twilioApi": {
          "id": "5",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $json[\"Other\"] }}",
        "options": {}
      },
      "id": "2bd00ad7-c271-47ec-a6f1-7746d972e30e",
      "name": "Other1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        2200,
        700
      ],
      "credentials": {
        "twilioApi": {
          "id": "5",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $json[\"I'm good\"] }}",
        "options": {}
      },
      "id": "86828c3e-8f46-4314-a8cc-a4a57f82a087",
      "name": "I'm good1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        2200,
        880
      ],
      "credentials": {
        "twilioApi": {
          "id": "5",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $json[\"more support\"] }}",
        "options": {}
      },
      "id": "20945e93-76fb-4900-9174-abc409b450d9",
      "name": "Latching help1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        2200,
        1060
      ],
      "credentials": {
        "twilioApi": {
          "id": "5",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $json[\"options to send\"] }}",
        "options": {}
      },
      "id": "fa6c854f-0b88-4181-8330-42da7206fe1b",
      "name": "Participate on a meal train1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        980,
        360
      ],
      "credentials": {
        "twilioApi": {
          "id": "5",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "=Sounds great! We've let {{$node[\"Search sender name3\"].json[\"Village member name\"]}}{{$node[\"/meal\"].json[\"answer for meal\"]}}",
        "options": {}
      },
      "id": "daccabfe-23b7-4504-b460-ffdbb5330563",
      "name": "Meal1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1160,
        520
      ],
      "credentials": {
        "twilioApi": {
          "id": "5",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "=whatsapp:+{{$node[\"Search sender name3\"].json[\"Village member phone\"]}}",
        "message": "=Hey {{$node[\"Search sender name3\"].json[\"Village member name\"]}}, {{$node[\"Search sender name3\"].json[\"name\"]}} {{ $node[\"/meal\"].json[\"PM sms for meal\"] }}",
        "options": {}
      },
      "id": "2136ca5c-a042-4598-9771-4b8c2b7daf1d",
      "name": "PN notifications",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1360,
        520
      ],
      "credentials": {
        "twilioApi": {
          "id": "5",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "=whatsapp:+{{$node[\"Search sender name4\"].json[\"Village member phone\"]}}",
        "message": "=Hey {{$node[\"Search sender name4\"].json[\"Village member name\"]}}, {{$node[\"Search sender name4\"].json[\"name\"]}} {{ $node[\"/uber\"].json[\"PM sms for uber\"] }}",
        "options": {}
      },
      "id": "eb5a7f14-63a6-41ca-84cf-a5e09d16f0e1",
      "name": "PN notifications1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1360,
        680
      ],
      "credentials": {
        "twilioApi": {
          "id": "5",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "=whatsapp:+{{$node[\"Search sender name5\"].json[\"Village member phone\"]}}",
        "message": "=Hey {{$node[\"Search sender name5\"].json[\"Village member name\"]}}, {{$node[\"Search sender name5\"].json[\"name\"]}} {{ $node[\"/instacart\"].json[\"PM sms for instacart\"] }}",
        "options": {}
      },
      "id": "79ad1f24-d5ae-403c-b6a5-38c38b2994c4",
      "name": "PN notifications2",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1360,
        860
      ],
      "credentials": {
        "twilioApi": {
          "id": "5",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $node[\"/uber\"].json[\"answer for uber\"] }}",
        "options": {}
      },
      "id": "68bd3e6b-49dc-474f-b2f6-6094aee7d45d",
      "name": "uber",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1160,
        680
      ],
      "credentials": {
        "twilioApi": {
          "id": "5",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{$node[\"/instacart\"].json[\"answer for instacart\"]}}",
        "options": {}
      },
      "id": "30f58ddb-2090-4a42-a1a6-3eb0c7fab08f",
      "name": "instacart",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1160,
        860
      ],
      "credentials": {
        "twilioApi": {
          "id": "5",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $json[\"We're on it\"] }}",
        "options": {}
      },
      "id": "b53f7287-eb45-4e91-a798-ec5edd9ea9d1",
      "name": "Mama aceptede support",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1000,
        1360
      ],
      "credentials": {
        "twilioApi": {
          "id": "5",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "=whatsapp:{{ $json[\"Village member phone\"] }}",
        "message": "=Hey {{$node[\"MongoDB\"].json[\"Village member name\"]}}!, {{$node[\"MongoDB\"].json[\"name\"]}} {{ $node[\"/support\"].json[\"Village Greeting\"] }}",
        "options": {}
      },
      "id": "f7018b95-b406-4578-8771-ad6f9686ecf2",
      "name": "Village Notification1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1380,
        1360
      ],
      "credentials": {
        "twilioApi": {
          "id": "5",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "=whatsapp:+{{ $json[\"phone\"] }}",
        "message": "=Great! It's {{ $node[\"/help\"].json[\"Village schedule\"] }}",
        "options": {}
      },
      "id": "ad0e04b6-0751-4f10-b47a-9617cc4f2159",
      "name": "Village member accepted to help1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1200,
        1660
      ],
      "credentials": {
        "twilioApi": {
          "id": "5",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $json[\"Confirmation sent to PM\"] }}",
        "options": {}
      },
      "id": "1759fbe3-738f-498d-88fd-eec90f9a6e1a",
      "name": "Village member schedule block time",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1000,
        1840
      ],
      "credentials": {
        "twilioApi": {
          "id": "5",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $node[\"/11am\"].json[\"PM receive confirmation\"] }}",
        "options": {}
      },
      "id": "45e3ec2b-87ba-4405-970b-ed8fb96f980a",
      "name": "PN Notification4",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1360,
        1840
      ],
      "credentials": {
        "twilioApi": {
          "id": "5",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $json[\"Text 1\"] }}",
        "options": {}
      },
      "id": "7ae64ba5-b05b-468b-9e7e-b7f982601004",
      "name": "Series 4 Greeting",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -1160,
        -20
      ],
      "credentials": {
        "twilioApi": {
          "id": "5",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $node[\"/series4\"].json[\"Text 2\"] }}",
        "options": {}
      },
      "id": "115066df-0790-473e-97eb-108994c93216",
      "name": "Aproaches2",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -760,
        -20
      ],
      "credentials": {
        "twilioApi": {
          "id": "5",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $json[\"Text 1\"] }}",
        "options": {}
      },
      "id": "7547e337-4e9d-46b0-8c83-b4b7e8f5ff03",
      "name": "Partner greeting1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -1160,
        180
      ],
      "credentials": {
        "twilioApi": {
          "id": "5",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $node[\"/series5\"].json[\"Text 2\"] }}",
        "options": {}
      },
      "id": "e7fcfdd1-1abe-44d9-baf3-1f5cc948d7a5",
      "name": "Aproaches",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -760,
        180
      ],
      "credentials": {
        "twilioApi": {
          "id": "5",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Mavi",
        "options": {},
        "query": "={\n  \"phone\": \"{{$node[\"Webhook\"].json[\"body\"][\"WaId\"]}}\"\n}"
      },
      "id": "f77cddd1-d911-4860-ab4c-7f074f2e3e29",
      "name": "MongoDB",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1180,
        1360
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 1",
        "options": {},
        "query": "={\n\"Welcome home\": { \"$regex\": \"Welcome\" }\n}"
      },
      "id": "6a10636f-b703-47f8-a197-cfec315f514d",
      "name": "/home",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        -1360,
        360
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $json[\"Welcome home\"] }}",
        "options": {}
      },
      "id": "b0106d6b-98a2-4514-bc88-ceb8fcafab86",
      "name": "Welcome",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -1160,
        360
      ],
      "credentials": {
        "twilioApi": {
          "id": "5",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "6fb57eec-b6a3-4f4c-8948-5a4021875b94",
      "name": "Wait until day 4",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -860,
        360
      ],
      "webhookId": "ea745c6a-bd0d-4f36-b1c8-e3ce31d291e8"
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "2d950007-317b-4f2f-a0a4-eee1a530c749",
      "name": "Wait until day 7",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        440,
        360
      ],
      "webhookId": "81046846-eac5-4452-bd84-5818649af7a0"
    },
    {
      "parameters": {
        "collection": "Mavi",
        "options": {},
        "query": "={\n  \"phone\": \"{{$node[\"Webhook\"].json[\"body\"][\"WaId\"]}}\"\n}"
      },
      "id": "46605025-f1d2-43c1-8bba-fa0e8cdc087b",
      "name": "MongoDB1",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1000,
        1660
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "07bd8829-fb5e-4555-b6ae-b90648f4c9db",
      "name": "Wait until day 9",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1580,
        1180
      ],
      "webhookId": "ac0d905e-0756-404e-88b7-15a3d33eb523"
    },
    {
      "parameters": {
        "collection": "Mavi",
        "options": {},
        "query": "={\n\"phone\": \"{{$node[\"Webhook\"].json[\"body\"][\"WaId\"]}}\"\n}"
      },
      "id": "44623795-86ee-426d-a3c6-d7f4ddba54dc",
      "name": "Search sender name",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        -280,
        360
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Mavi",
        "options": {},
        "query": "={\n\"phone\": \"{{$node[\"Webhook\"].json[\"body\"][\"WaId\"]}}\"\n}"
      },
      "id": "4dbf6084-a310-4564-b74f-3519514536d6",
      "name": "Search sender name1",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1000,
        1180
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Mavi",
        "options": {},
        "query": "={\n\"phone\": \"{{$node[\"Webhook\"].json[\"body\"][\"WaId\"]}}\"\n}"
      },
      "id": "94943d73-13ec-4bdb-bc3d-c9a459f457a0",
      "name": "Search sender name2",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        2200,
        1280
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "=Hey {{ $json[\"name\"] }}{{ $node[\"Day 7 automatic message for mama\"].json[\"Greetings Day 7\"] }}",
        "options": {}
      },
      "id": "fa0db9bf-a692-47d5-8dfb-3dc0ec038dae",
      "name": "Asking for support",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1180,
        1180
      ],
      "credentials": {
        "twilioApi": {
          "id": "5",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 2",
        "options": {},
        "query": "={\n\"Greetings Day 7\": { \"$regex\": \"we\", \"$options\": \"i\" }\n}"
      },
      "id": "3079fabd-cf71-44cc-8d39-a03ea072b595",
      "name": "Day 7 automatic message for mama",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        800,
        1180
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 1",
        "options": {},
        "query": "={\n  \"greeting\": {\n    \"$regex\": \"hope\"\n  }\n}"
      },
      "id": "61eee3f7-f6b4-4c29-b207-c47e1b3ce793",
      "name": "Day 4 Automatic message",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        -500,
        360
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "=Hey {{$node[\"Search sender name\"].json[\"name\"]}} {{ $node[\"Day 4 Automatic message\"].json[\"greeting\"] }}",
        "options": {}
      },
      "id": "2437422f-c93b-4f17-bff8-6bf459ba8171",
      "name": "Greetings before menu",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -100,
        360
      ],
      "credentials": {
        "twilioApi": {
          "id": "5",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $node[\"Day 4 Automatic message\"].json[\"menu\"] }}",
        "options": {}
      },
      "id": "e78375a4-2f40-47e0-95db-188f9ab5ec35",
      "name": "Menu",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        240,
        360
      ],
      "credentials": {
        "twilioApi": {
          "id": "5",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Meal_train",
        "options": {},
        "query": "={\n\"village invitation\": { \"$regex\": \"just\", \"$options\": \"i\" }\n}"
      },
      "id": "85364778-0d6b-453c-8062-4bdcd4f37ea4",
      "name": "Day 9 Automatic message",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1980,
        1280
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "=whatsapp:+{{ $json[\"Village member phone\"] }}",
        "message": "=Hey {{$node[\"Search sender name2\"].json[\"Village member name\"]}}, {{ $json[\"name\"] }}{{ $node[\"Day 9 Automatic message\"].json[\"village invitation\"] }}",
        "options": {}
      },
      "id": "8fba4a2a-3c4a-4f01-aca4-a54d31e9519d",
      "name": "Meal train invitation to village",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        2400,
        1280
      ],
      "credentials": {
        "twilioApi": {
          "id": "5",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Mavi",
        "options": {},
        "query": "={\n\"phone\": \"{{$node[\"Webhook\"].json[\"body\"][\"WaId\"]}}\"\n}"
      },
      "id": "8d04692b-12f9-4aef-8aa9-10145432c6ed",
      "name": "Search sender name3",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        980,
        520
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "content": "When user is at home starts the flow writing /home.",
        "height": 80
      },
      "id": "55e13a17-796f-490a-b78b-e7ae5cdcb44e",
      "name": "Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1680,
        360
      ]
    },
    {
      "parameters": {
        "collection": "Mavi",
        "options": {},
        "query": "={\n\"phone\": \"{{$node[\"Webhook\"].json[\"body\"][\"WaId\"]}}\"\n}"
      },
      "id": "f74c6b3a-5ca4-4e4c-8901-a2d65e5dc9c1",
      "name": "Search sender name4",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        980,
        680
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Mavi",
        "options": {},
        "query": "={\n\"phone\": \"{{$node[\"Webhook\"].json[\"body\"][\"WaId\"]}}\"\n}"
      },
      "id": "8789e6ea-be15-42ed-ad67-5c17fed18ff4",
      "name": "Search sender name5",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        980,
        860
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const fechaActual = new Date();\nconst hora = fechaActual.getHours();\nconst minutos = fechaActual.getMinutes();\nconst segundos = fechaActual.getSeconds();\n\nreturn {\n  horaActual: `${hora}:${minutos}:${segundos}`\n};\n"
      },
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        820,
        1500
      ],
      "id": "325298fd-eb87-471b-9374-21db61c906b1"
    },
    {
      "parameters": {
        "value": "={{$json[\"date\"]}}",
        "dataPropertyName": "horaActual",
        "custom": true,
        "toFormat": "DD/MM/YYYY",
        "options": {
          "fromFormat": "="
        }
      },
      "name": "Date & Time1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        1020,
        1500
      ],
      "id": "bd9adac4-ed96-4b8a-a96b-f757c38e8b58"
    }
  ],
  "connections": {
    "Wait7": {
      "main": [
        [
          {
            "node": "Aproaches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "node": "Aproaches2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Series": {
      "main": [
        [
          {
            "node": "/series4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/series5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/home",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "PN Notification4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Series2": {
      "main": [
        [
          {
            "node": "Day 7 automatic message for mama",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/support",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/help",
            "type": "main",
            "index": 0
          },
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/11am",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Series  1": {
      "main": [
        [
          {
            "node": "/participate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/meal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/uber",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/instacart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Series1": {
      "main": [
        [
          {
            "node": "/4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/more",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Day 9 Automatic message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Series 1": {
      "main": [
        [
          {
            "node": "Day 4 Automatic message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Series 1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Series1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Series  1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Series2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Series",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/1": {
      "main": [
        [
          {
            "node": "Latching2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/2": {
      "main": [
        [
          {
            "node": "Getting enough milk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/3": {
      "main": [
        [
          {
            "node": "I'm in pain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/4": {
      "main": [
        [
          {
            "node": "Other1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/5": {
      "main": [
        [
          {
            "node": "I'm good1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/more": {
      "main": [
        [
          {
            "node": "Latching help1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/participate": {
      "main": [
        [
          {
            "node": "Participate on a meal train1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/meal": {
      "main": [
        [
          {
            "node": "Search sender name3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/uber": {
      "main": [
        [
          {
            "node": "Search sender name4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/instacart": {
      "main": [
        [
          {
            "node": "Search sender name5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/support": {
      "main": [
        [
          {
            "node": "Mama aceptede support",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/help": {
      "main": [
        [
          {
            "node": "MongoDB1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/11am": {
      "main": [
        [
          {
            "node": "Village member schedule block time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/series4": {
      "main": [
        [
          {
            "node": "Series 4 Greeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/series5": {
      "main": [
        [
          {
            "node": "Partner greeting1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meal1": {
      "main": [
        [
          {
            "node": "PN notifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "uber": {
      "main": [
        [
          {
            "node": "PN notifications1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "instacart": {
      "main": [
        [
          {
            "node": "PN notifications2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mama aceptede support": {
      "main": [
        [
          {
            "node": "MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Village member schedule block time": {
      "main": [
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Series 4 Greeting": {
      "main": [
        [
          {
            "node": "Wait6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Partner greeting1": {
      "main": [
        [
          {
            "node": "Wait7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB": {
      "main": [
        [
          {
            "node": "Village Notification1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/home": {
      "main": [
        [
          {
            "node": "Welcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Welcome": {
      "main": [
        [
          {
            "node": "Wait until day 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait until day 4": {
      "main": [
        [
          {
            "node": "Day 4 Automatic message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB1": {
      "main": [
        [
          {
            "node": "Village member accepted to help1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait until day 9": {
      "main": [
        [
          {
            "node": "Day 9 Automatic message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search sender name": {
      "main": [
        [
          {
            "node": "Greetings before menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search sender name1": {
      "main": [
        [
          {
            "node": "Asking for support",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search sender name2": {
      "main": [
        [
          {
            "node": "Meal train invitation to village",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Day 7 automatic message for mama": {
      "main": [
        [
          {
            "node": "Search sender name1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Day 4 Automatic message": {
      "main": [
        [
          {
            "node": "Search sender name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Greetings before menu": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menu": {
      "main": [
        [
          {
            "node": "Wait until day 7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Day 9 Automatic message": {
      "main": [
        [
          {
            "node": "Search sender name2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search sender name3": {
      "main": [
        [
          {
            "node": "Meal1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search sender name4": {
      "main": [
        [
          {
            "node": "uber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search sender name5": {
      "main": [
        [
          {
            "node": "instacart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "Village member accepted to help1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}