Twilio_Flow_new_credential.json
{
  "name": "Twilio Flow new credential",
  "nodes": [
    {
      "parameters": {
        "amount": 4,
        "unit": "seconds"
      },
      "id": "0e0e84c9-880b-4861-86e2-b1d026b50b07",
      "name": "Wait7",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -960,
        180
      ],
      "webhookId": "936c2ccb-a674-45b3-80fa-b43494a3ce9e"
    },
    {
      "parameters": {
        "amount": 4,
        "unit": "seconds"
      },
      "id": "d368bbb7-574c-4bff-8270-b6225371b1ee",
      "name": "Wait6",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -960,
        -20
      ],
      "webhookId": "029c804e-2fa3-4251-bece-56bed57784ee"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json[\"body\"][\"Body\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "/series4"
            },
            {
              "value2": "/series5",
              "output": 1
            },
            {
              "value2": "/home",
              "output": 2
            }
          ]
        }
      },
      "id": "e215d928-e028-47b5-a546-58f63e06adef",
      "name": "Series",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -1680,
        160
      ]
    },
    {
      "parameters": {
        "amount": 4,
        "unit": "seconds"
      },
      "id": "892c3afa-6bc1-4b49-9ed3-de6102a09f02",
      "name": "Wait5",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1180,
        1780
      ],
      "webhookId": "e32bd055-6b85-4020-ac8e-893abf1b548f"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json[\"body\"][\"Body\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "/series2"
            },
            {
              "value2": "/support",
              "output": 1
            },
            {
              "value2": "/help",
              "output": 2
            },
            {
              "value2": "/11am",
              "output": 3
            }
          ]
        }
      },
      "id": "dbaff94b-e6de-4f1a-9865-80e1f00c1a2b",
      "name": "Series2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        560,
        1440
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json[\"body\"][\"Body\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "/participate"
            },
            {
              "value2": "/meal",
              "output": 1
            },
            {
              "value2": "/uber",
              "output": 2
            },
            {
              "value2": "/instacart",
              "output": 3
            }
          ]
        }
      },
      "id": "a351768c-57bf-41f3-8857-0c2bfdfce066",
      "name": "Series  1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        540,
        580
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json[\"body\"][\"Body\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "/4"
            },
            {
              "value2": "/5",
              "output": 1
            },
            {
              "value2": "/more",
              "output": 2
            },
            {
              "value2": "/yes",
              "output": 2
            },
            {
              "value2": "/members",
              "output": 3
            }
          ]
        }
      },
      "id": "534717ae-be65-4897-839e-07b224ffa345",
      "name": "Series1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1760,
        960
      ]
    },
    {
      "parameters": {
        "amount": 4,
        "unit": "seconds"
      },
      "id": "a73a9924-b848-442b-bbf6-acacf3ade554",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        80,
        360
      ],
      "webhookId": "fa589951-e4eb-468c-ab3e-7bfdcf4e1b56"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json[\"body\"][\"Body\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "/start"
            },
            {
              "value2": "/1",
              "output": 1
            },
            {
              "value2": "/2",
              "output": 2
            },
            {
              "value2": "/3",
              "output": 3
            }
          ]
        }
      },
      "id": "60f84143-1ade-4ab7-863f-90109fe29259",
      "name": "Series 1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -720,
        620
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "956e41f4-a666-43da-8825-464e4a1d0188",
        "options": {
          "noResponseBody": true
        }
      },
      "id": "aad8af39-3ea3-4c21-bccd-810cfb3b123f",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1100,
        960
      ],
      "webhookId": "ee0f871a-0b1e-49a9-bf91-0fbb7a720144"
    },
    {
      "parameters": {
        "collection": "Series 1",
        "options": {},
        "query": "={\n\"latching\": { \"$regex\": \"Below\" }\n}"
      },
      "id": "1e470e02-91e9-4307-bcc7-ee418a2619e9",
      "name": "/1",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        -500,
        540
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 1",
        "options": {},
        "query": "={\n\"Getting enough milk\": { \"$regex\": \"breastfeeding\" }\n}"
      },
      "id": "bfbb7d3b-be65-442e-85a5-8c0b600b4dfb",
      "name": "/2",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        -500,
        700
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 1",
        "options": {},
        "query": "={\n\"I'm in pain\": { \"$regex\": \"You'll\" }\n}"
      },
      "id": "d8496e3a-9add-4dca-a440-acc908a49a69",
      "name": "/3",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        -500,
        880
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 1",
        "options": {},
        "query": "={\n\"Other\": { \"$regex\": \"The challenges of feeding\"}\n}"
      },
      "id": "08b7ba0e-bd24-4f92-9226-e972e8e93d94",
      "name": "/4",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1980,
        700
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 1",
        "options": {},
        "query": "={\n\"I'm good\": { \"$regex\": \"That's amazing\" }\n}"
      },
      "id": "09e879ba-fa6d-452a-99e6-1a46d6f51a87",
      "name": "/5",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1980,
        880
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 1",
        "options": {},
        "query": "={\n\"more support\": { \"$regex\": \"No sweat\" }\n}"
      },
      "id": "639ded26-7498-4571-b769-05a136e1de9c",
      "name": "/more",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1980,
        1060
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Meal_train",
        "options": {},
        "query": "={\n\"village invitation\": { \"$regex\": \"just\", \"$options\": \"i\" }\n}"
      },
      "id": "ece7b6f5-53eb-4834-aea3-dcb927869844",
      "name": "/participate",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        800,
        360
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Meal_train",
        "options": {},
        "query": "={\n\"village invitation\": { \"$regex\": \"just\", \"$options\": \"i\" }\n}"
      },
      "id": "8ee3a1a6-9cd3-43da-8ee4-8d5459ed80a2",
      "name": "/meal",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        800,
        520
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Meal_train",
        "options": {},
        "query": "={\n\"village invitation\": { \"$regex\": \"just\", \"$options\": \"i\" }\n}"
      },
      "id": "d8206388-9cfc-41c6-9a57-c9c713cf17a3",
      "name": "/uber",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        800,
        680
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Meal_train",
        "options": {},
        "query": "={\n\"village invitation\": { \"$regex\": \"just\", \"$options\": \"i\" }\n}"
      },
      "id": "91062c68-17dd-47ae-bd46-1f164fc6670d",
      "name": "/instacart",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        800,
        860
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 2",
        "options": {},
        "query": "={\n\"We're on it\": { \"$regex\": \"We're on it!\" }\n}"
      },
      "id": "a64a1047-1ff7-4462-8ef7-ccab8f2f4366",
      "name": "/support",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        800,
        1360
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 2",
        "options": {},
        "query": "={\n\"Village schedule\": { \"$regex\": \"PST\" }\n}"
      },
      "id": "b9d32b35-8691-4d43-b689-59d4584b1a32",
      "name": "/help",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        800,
        1580
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 2",
        "options": {},
        "query": "={\n\"Greetings Day 7\": { \"$regex\": \"Hey\", \"$options\": \"i\" }\n}"
      },
      "id": "d0c884dc-14dc-4002-92fc-2a4429153a14",
      "name": "/11am",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        800,
        1780
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 4",
        "options": {},
        "query": "={\n\"Text 1\": { \"$regex\": \"Hey\", \"$options\": \"i\" }\n}"
      },
      "id": "d2b6a06c-cdc4-4f99-9ed2-fc35a7f26ca4",
      "name": "/series4",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        -1360,
        -20
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 5",
        "options": {},
        "query": "={\n\"Text 1\": { \"$regex\": \"Hey\", \"$options\": \"i\" }\n}"
      },
      "id": "6645463a-dd21-4bd0-aaaa-027a64e07159",
      "name": "/series5",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        -1360,
        180
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $json[\"latching\"] }}",
        "options": {}
      },
      "id": "4375ce6e-f63c-4193-9b0b-2beb0ade54e5",
      "name": "Latching2",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -280,
        540
      ],
      "credentials": {
        "twilioApi": {
          "id": "14",
          "name": "Twilio Zamina account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $json[\"Getting enough milk\"] }}",
        "options": {}
      },
      "id": "a7fb5464-78d5-4484-a664-122e684e7fe2",
      "name": "Getting enough milk1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -280,
        700
      ],
      "credentials": {
        "twilioApi": {
          "id": "14",
          "name": "Twilio Zamina account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $json[\"I'm in pain\"] }}",
        "options": {}
      },
      "id": "3a16e968-672d-4c3c-9b2e-6cdc22860924",
      "name": "I'm in pain1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -280,
        880
      ],
      "credentials": {
        "twilioApi": {
          "id": "14",
          "name": "Twilio Zamina account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $json[\"Other\"] }}",
        "options": {}
      },
      "id": "722cab48-415d-4dbf-95ca-56747024bdb0",
      "name": "Other1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        2200,
        700
      ],
      "credentials": {
        "twilioApi": {
          "id": "14",
          "name": "Twilio Zamina account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $json[\"I'm good\"] }}",
        "options": {}
      },
      "id": "52a083aa-9182-4faa-ad64-a0f919904d43",
      "name": "I'm good1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        2200,
        880
      ],
      "credentials": {
        "twilioApi": {
          "id": "14",
          "name": "Twilio Zamina account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $json[\"more support\"] }}",
        "options": {}
      },
      "id": "2fb9dac9-cd6b-453e-a97a-218673652cf2",
      "name": "Latching help1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        2200,
        1060
      ],
      "credentials": {
        "twilioApi": {
          "id": "14",
          "name": "Twilio Zamina account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $json[\"options to send\"] }}",
        "options": {}
      },
      "id": "d4eac1ec-382a-4358-aee3-ddce6cdd22d1",
      "name": "Participate on a meal train1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        980,
        360
      ],
      "credentials": {
        "twilioApi": {
          "id": "14",
          "name": "Twilio Zamina account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "=Sounds great! We've let {{$node[\"Search sender name3\"].json[\"Village member name\"]}}{{$node[\"/meal\"].json[\"answer for meal\"]}}",
        "options": {}
      },
      "id": "10f4c553-f205-4b4d-8f81-1e3c2a0ae1d2",
      "name": "Meal1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1160,
        520
      ],
      "credentials": {
        "twilioApi": {
          "id": "14",
          "name": "Twilio Zamina account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "=whatsapp:+{{$node[\"Search sender name3\"].json[\"Village member phone\"]}}",
        "message": "=Hey {{$node[\"Search sender name3\"].json[\"Village member name\"]}}, {{$node[\"Search sender name3\"].json[\"name\"]}} {{ $node[\"/meal\"].json[\"PM sms for meal\"] }}",
        "options": {}
      },
      "id": "8c2e94fe-0346-417d-9945-220c2724d1bd",
      "name": "PN notifications",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1360,
        520
      ],
      "credentials": {
        "twilioApi": {
          "id": "14",
          "name": "Twilio Zamina account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "=whatsapp:+{{$node[\"Search sender name4\"].json[\"Village member phone\"]}}",
        "message": "=Hey {{$node[\"Search sender name4\"].json[\"Village member name\"]}}, {{$node[\"Search sender name4\"].json[\"name\"]}} {{ $node[\"/uber\"].json[\"PM sms for uber\"] }}",
        "options": {}
      },
      "id": "a635f659-01a6-4584-ac21-423f48614f5b",
      "name": "PN notifications1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1360,
        680
      ],
      "credentials": {
        "twilioApi": {
          "id": "14",
          "name": "Twilio Zamina account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "=whatsapp:+{{$node[\"Search sender name5\"].json[\"Village member phone\"]}}",
        "message": "=Hey {{$node[\"Search sender name5\"].json[\"Village member name\"]}}, {{$node[\"Search sender name5\"].json[\"name\"]}} {{ $node[\"/instacart\"].json[\"PM sms for instacart\"] }}",
        "options": {}
      },
      "id": "cb747cb9-dfa9-4ed1-8d7d-1466f50397a3",
      "name": "PN notifications2",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1360,
        860
      ],
      "credentials": {
        "twilioApi": {
          "id": "14",
          "name": "Twilio Zamina account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $node[\"/uber\"].json[\"answer for uber\"] }}",
        "options": {}
      },
      "id": "e4aa9e87-0b73-4baa-9af3-7ee506de569b",
      "name": "uber",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1160,
        680
      ],
      "credentials": {
        "twilioApi": {
          "id": "14",
          "name": "Twilio Zamina account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{$node[\"/instacart\"].json[\"answer for instacart\"]}}",
        "options": {}
      },
      "id": "132d7c7a-2c94-4d93-b59f-a3d7674d06e1",
      "name": "instacart",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1160,
        860
      ],
      "credentials": {
        "twilioApi": {
          "id": "14",
          "name": "Twilio Zamina account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $json[\"We're on it\"] }}",
        "options": {}
      },
      "id": "af463f2b-7bf2-45f1-8802-1bb788b35f5a",
      "name": "Mama aceptede support",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1000,
        1360
      ],
      "credentials": {
        "twilioApi": {
          "id": "14",
          "name": "Twilio Zamina account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "=whatsapp:{{ $json[\"Village member phone\"] }}",
        "message": "=Hey {{$node[\"MongoDB\"].json[\"Village member name\"]}}!, {{$node[\"MongoDB\"].json[\"name\"]}} {{ $node[\"/support\"].json[\"Village Greeting\"] }}",
        "options": {}
      },
      "id": "935655dc-5f9d-4d3c-b4c7-ac7e913c868c",
      "name": "Village Notification1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1380,
        1360
      ],
      "credentials": {
        "twilioApi": {
          "id": "14",
          "name": "Twilio Zamina account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "=whatsapp:+{{ $node[\"MongoDB1\"].json[\"phone\"] }}",
        "message": "=Great! It's {{$json[\"horaActual\"]}} {{ $node[\"/help\"].json[\"Village schedule\"] }}",
        "options": {}
      },
      "id": "cf6f3acf-f610-4c4d-803a-f4d2481b77e4",
      "name": "Village member accepted to help1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1360,
        1580
      ],
      "credentials": {
        "twilioApi": {
          "id": "14",
          "name": "Twilio Zamina account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $json[\"Confirmation sent to PM\"] }}",
        "options": {}
      },
      "id": "fc13a429-9e27-4c5a-950f-7694d9893838",
      "name": "Village member schedule block time",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1000,
        1780
      ],
      "credentials": {
        "twilioApi": {
          "id": "14",
          "name": "Twilio Zamina account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $node[\"/11am\"].json[\"PM receive confirmation\"] }}",
        "options": {}
      },
      "id": "4973e6e6-afda-4195-a798-cb38b26137c1",
      "name": "PN Notification4",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1360,
        1780
      ],
      "credentials": {
        "twilioApi": {
          "id": "14",
          "name": "Twilio Zamina account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $json[\"Text 1\"] }}",
        "options": {}
      },
      "id": "eefdc48e-1d5d-480c-901c-79c1a1264f50",
      "name": "Series 4 Greeting",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -1160,
        -20
      ],
      "credentials": {
        "twilioApi": {
          "id": "14",
          "name": "Twilio Zamina account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $node[\"/series4\"].json[\"Text 2\"] }}",
        "options": {}
      },
      "id": "561b1be1-43b0-4f1f-bfb4-baa11b5f6b6b",
      "name": "Aproaches2",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -760,
        -20
      ],
      "credentials": {
        "twilioApi": {
          "id": "14",
          "name": "Twilio Zamina account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $json[\"Text 1\"] }}",
        "options": {}
      },
      "id": "9ef42c49-3a37-4942-91e6-4642dafe2107",
      "name": "Partner greeting1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -1160,
        180
      ],
      "credentials": {
        "twilioApi": {
          "id": "14",
          "name": "Twilio Zamina account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $node[\"/series5\"].json[\"Text 2\"] }}",
        "options": {}
      },
      "id": "e7c3aad7-6abc-4b3d-bd07-6511506d4d9c",
      "name": "Aproaches",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -760,
        180
      ],
      "credentials": {
        "twilioApi": {
          "id": "14",
          "name": "Twilio Zamina account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Mavi",
        "options": {},
        "query": "={\n  \"phone\": \"+{{$node[\"Webhook\"].json[\"body\"][\"WaId\"]}}\"\n}"
      },
      "id": "c45c5675-542a-49b1-9693-3dafc7dbdf56",
      "name": "MongoDB",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1180,
        1360
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 1",
        "options": {},
        "query": "={\n\"Welcome home\": { \"$regex\": \"Welcome\" }\n}"
      },
      "id": "2cfd2ba0-8bb4-4a07-ae42-319fcb12082c",
      "name": "/home",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        -1360,
        360
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $json[\"Welcome home\"] }}",
        "options": {}
      },
      "id": "604471f8-1f06-4466-92a5-5976774dfb4a",
      "name": "Welcome",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -1160,
        360
      ],
      "credentials": {
        "twilioApi": {
          "id": "14",
          "name": "Twilio Zamina account"
        }
      }
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "e07d969f-f930-49f9-8078-d8dfdbd87a24",
      "name": "Wait until day 4",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -860,
        360
      ],
      "webhookId": "f222d29c-82c6-4d9a-a27b-4ef7be9a35d2"
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "49dbbafc-18b2-445c-9d02-40ad0bf0de05",
      "name": "Wait until day 7",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        440,
        360
      ],
      "webhookId": "a37bdeb9-c2d5-4d07-abdb-b15b8f59eb59"
    },
    {
      "parameters": {
        "collection": "Mavi",
        "options": {},
        "query": "={\n  \"phone\": \"+{{$node[\"Webhook\"].json[\"body\"][\"WaId\"]}}\"\n}"
      },
      "id": "4c5053f8-6ed3-4e69-94ec-4e22aef56a85",
      "name": "MongoDB1",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1000,
        1580
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "4f5eb610-c575-4d17-ac31-4e265156a50d",
      "name": "Wait until day 9",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1580,
        1180
      ],
      "webhookId": "3d044362-bd5a-4b95-8dd3-051a7b3b1a8f"
    },
    {
      "parameters": {
        "collection": "Mavi",
        "options": {},
        "query": "={\n\"phone\": \"+{{$node[\"Webhook\"].json[\"body\"][\"WaId\"]}}\"\n}"
      },
      "id": "08805fc2-b10d-46b9-bb13-615c793fff9e",
      "name": "Search sender name",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        -280,
        360
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Mavi",
        "options": {},
        "query": "={\n\"phone\": \"+{{$node[\"Webhook\"].json[\"body\"][\"WaId\"]}}\"\n}"
      },
      "id": "6e1c5cbd-7b20-48af-a3ce-51eed76066fd",
      "name": "Search sender name1",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1000,
        1180
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Mavi",
        "options": {},
        "query": "={\n\"phone\": \"{{$node[\"Webhook\"].json[\"body\"][\"WaId\"]}}\"\n}"
      },
      "id": "b7d1d422-0de9-4b39-9c42-075655cca82d",
      "name": "Search sender name2",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        2200,
        1280
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "=Hey {{ $json[\"name\"] }}{{ $node[\"Day 7 automatic message for mama\"].json[\"Greetings Day 7\"] }}",
        "options": {}
      },
      "id": "851c8a79-4511-483c-8317-009b58683b5d",
      "name": "Asking for support",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1180,
        1180
      ],
      "credentials": {
        "twilioApi": {
          "id": "14",
          "name": "Twilio Zamina account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 2",
        "options": {},
        "query": "={\n\"Greetings Day 7\": { \"$regex\": \"we\", \"$options\": \"i\" }\n}"
      },
      "id": "8cef1af6-5865-4de7-9749-d35ebdb4a5d5",
      "name": "Day 7 automatic message for mama",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        800,
        1180
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Series 1",
        "options": {},
        "query": "={\n  \"greeting\": {\n    \"$regex\": \"hope\"\n  }\n}"
      },
      "id": "fd3e1b98-35a0-4d5f-bd84-9da1a81316ae",
      "name": "Day 4 Automatic message",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        -500,
        360
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "=Hey {{$node[\"Search sender name\"].json[\"name\"]}} {{ $node[\"Day 4 Automatic message\"].json[\"greeting\"] }}",
        "options": {}
      },
      "id": "c9271880-5d78-4520-89a2-13d4d432ac5c",
      "name": "Greetings before menu",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -100,
        360
      ],
      "credentials": {
        "twilioApi": {
          "id": "14",
          "name": "Twilio Zamina account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "={{ $node[\"Webhook\"].json[\"body\"][\"From\"] }}",
        "message": "={{ $node[\"Day 4 Automatic message\"].json[\"menu\"] }}",
        "options": {}
      },
      "id": "07560444-21db-42fc-8e23-7eb832238c63",
      "name": "Menu",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        240,
        360
      ],
      "credentials": {
        "twilioApi": {
          "id": "14",
          "name": "Twilio Zamina account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Meal_train",
        "options": {},
        "query": "={\n\"village invitation\": { \"$regex\": \"just\", \"$options\": \"i\" }\n}"
      },
      "id": "f8b81807-74e1-42c9-a27a-850bd237b706",
      "name": "Day 9 Automatic message",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1980,
        1280
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $node[\"Webhook\"].json[\"body\"][\"To\"] }}",
        "to": "=whatsapp:+{{ $json[\"Village member phone\"] }}",
        "message": "=Hey {{$node[\"Search sender name2\"].json[\"Village member name\"]}}, {{ $json[\"name\"] }}{{ $node[\"Day 9 Automatic message\"].json[\"village invitation\"] }}",
        "options": {}
      },
      "id": "d864a09c-244b-4bfa-bc71-a370ab1f7b6a",
      "name": "Meal train invitation to village",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        2400,
        1280
      ],
      "credentials": {
        "twilioApi": {
          "id": "14",
          "name": "Twilio Zamina account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Mavi",
        "options": {},
        "query": "={\n\"phone\": \"{{$node[\"Webhook\"].json[\"body\"][\"WaId\"]}}\"\n}"
      },
      "id": "fe8ea086-c157-4df2-98b3-faecfc3093ae",
      "name": "Search sender name3",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        980,
        520
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "content": "When user is at home starts the flow writing /home.",
        "height": 80
      },
      "id": "01a6f7d6-18ab-4fad-9a83-3703e2b9b6e0",
      "name": "Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1680,
        360
      ]
    },
    {
      "parameters": {
        "collection": "Mavi",
        "options": {},
        "query": "={\n\"phone\": \"{{$node[\"Webhook\"].json[\"body\"][\"WaId\"]}}\"\n}"
      },
      "id": "9314f56e-c19c-4385-9aa5-3c17014c7f28",
      "name": "Search sender name4",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        980,
        680
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "Mavi",
        "options": {},
        "query": "={\n\"phone\": \"{{$node[\"Webhook\"].json[\"body\"][\"WaId\"]}}\"\n}"
      },
      "id": "5cf2b961-a305-4f4f-ad6b-a359ce31020f",
      "name": "Search sender name5",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        980,
        860
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const fechaActual = new Date();\nconst hora = fechaActual.getHours();\nconst minutos = fechaActual.getMinutes();\n\nreturn {\n  horaActual: `${hora}:${minutos}`\n};\n\n\n\n\n"
      },
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1180,
        1580
      ],
      "id": "24b2da4b-d5cc-4014-a7d9-a0951adf1713"
    }
  ],
  "pinData": {},
  "connections": {
    "Series": {
      "main": [
        [
          {
            "node": "/series4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/series5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/home",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Series2": {
      "main": [
        [
          {
            "node": "Day 7 automatic message for mama",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/support",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/help",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/11am",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Series  1": {
      "main": [
        [
          {
            "node": "/participate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/meal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/uber",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/instacart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Series1": {
      "main": [
        [
          {
            "node": "/4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/more",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Day 9 Automatic message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Series 1": {
      "main": [
        [
          {
            "node": "Day 4 Automatic message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Series 1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Series1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Series  1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Series",
            "type": "main",
            "index": 0
          },
          {
            "node": "Series2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/1": {
      "main": [
        [
          {
            "node": "Latching2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/2": {
      "main": [
        [
          {
            "node": "Getting enough milk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/3": {
      "main": [
        [
          {
            "node": "I'm in pain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/4": {
      "main": [
        [
          {
            "node": "Other1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/5": {
      "main": [
        [
          {
            "node": "I'm good1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/more": {
      "main": [
        [
          {
            "node": "Latching help1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/participate": {
      "main": [
        [
          {
            "node": "Participate on a meal train1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/meal": {
      "main": [
        [
          {
            "node": "Search sender name3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/uber": {
      "main": [
        [
          {
            "node": "Search sender name4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/instacart": {
      "main": [
        [
          {
            "node": "Search sender name5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/support": {
      "main": [
        [
          {
            "node": "Mama aceptede support",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/help": {
      "main": [
        [
          {
            "node": "MongoDB1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/11am": {
      "main": [
        [
          {
            "node": "Village member schedule block time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/series4": {
      "main": [
        [
          {
            "node": "Series 4 Greeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/series5": {
      "main": [
        [
          {
            "node": "Partner greeting1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meal1": {
      "main": [
        [
          {
            "node": "PN notifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "uber": {
      "main": [
        [
          {
            "node": "PN notifications1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "instacart": {
      "main": [
        [
          {
            "node": "PN notifications2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mama aceptede support": {
      "main": [
        [
          {
            "node": "MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Village member schedule block time": {
      "main": [
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "PN Notification4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Series 4 Greeting": {
      "main": [
        [
          {
            "node": "Wait6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "node": "Aproaches2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Partner greeting1": {
      "main": [
        [
          {
            "node": "Wait7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait7": {
      "main": [
        [
          {
            "node": "Aproaches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB": {
      "main": [
        [
          {
            "node": "Village Notification1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/home": {
      "main": [
        [
          {
            "node": "Welcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Welcome": {
      "main": [
        [
          {
            "node": "Wait until day 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait until day 4": {
      "main": [
        [
          {
            "node": "Day 4 Automatic message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB1": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait until day 9": {
      "main": [
        [
          {
            "node": "Day 9 Automatic message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search sender name": {
      "main": [
        [
          {
            "node": "Greetings before menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search sender name1": {
      "main": [
        [
          {
            "node": "Asking for support",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search sender name2": {
      "main": [
        [
          {
            "node": "Meal train invitation to village",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Day 7 automatic message for mama": {
      "main": [
        [
          {
            "node": "Search sender name1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Day 4 Automatic message": {
      "main": [
        [
          {
            "node": "Search sender name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Greetings before menu": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menu": {
      "main": [
        [
          {
            "node": "Wait until day 7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Day 9 Automatic message": {
      "main": [
        [
          {
            "node": "Search sender name2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search sender name3": {
      "main": [
        [
          {
            "node": "Meal1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search sender name4": {
      "main": [
        [
          {
            "node": "uber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search sender name5": {
      "main": [
        [
          {
            "node": "instacart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "Village member accepted to help1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait until day 7": {
      "main": [
        [
          {
            "node": "Day 7 automatic message for mama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "timezone": "America/Vancouver",
    "saveManualExecutions": true,
    "callerPolicy": "any"
  },
  "hash": "ca384b6906e36a3ba0b8d5bf0032feae",
  "id": 15,
  "meta": {
    "instanceId": "99d68c1f0abc8c95b53a5d4a1f9ab40d270b55323018b60c597c3fdcee2d3663"
  },
  "tags": [
    {
      "createdAt": "2023-07-03T19:30:17.396Z",
      "updatedAt": "2023-07-03T19:30:17.396Z",
      "id": "2",
      "name": "Twilio"
    }
  ]
}