Typeform_Welcome.json
{
  "meta": {
    "instanceId": "cd387a108e59f407338aaa3dd1fc1392753e7785132f8d58d189493b0d889a53"
  },
  "nodes": [
    {
      "parameters": {
        "from": "+14175413741",
        "to": "={{ $('MongoDB1').item.json.phone }}",
        "message": "={{ $('Busca pre-birth messages').item.json[\"Pregnant Messages\"][$('MongoDB1').item.json.weeks] }}   ",
        "options": {}
      },
      "id": "45d8a787-8076-4d58-a108-a07f84d983a4",
      "name": "Week Message",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1640,
        280
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "from": "+14175413741",
        "to": "={{ $('Set variables').item.json[\"What's [field:2dca9f1d-c416-42f6-8637-6ccc6e9ceeea]'s phone number?\"] }}",
        "message": "= Hey {{ $('Set variables').item.json[\"name village member 2\"] }}, it's Mevi! We are the first ever mental load solution for new moms. {{ $('Set variables').item.json[\"What's your first name?\"] }} {{ $('Busca pre-birth messages').item.json[\"Village Welcomme\"] }}     ",
        "options": {}
      },
      "id": "3b2e05aa-ff86-4bff-8e8f-05b8f74aaf72",
      "name": "Village 2 Welcome",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        2300,
        280
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "from": "+14175413741",
        "to": "={{ $('Set variables').item.json[\"What's [field:363eeaf8-baf1-4040-b4ba-b36f9c7cdb70]'s phone number?\"] }}",
        "message": "=Hey {{ $('Set variables').item.json[\"Enter the name of the closest person in your village?\"] }}, it's Mevi! We are the first ever mental load solution for new moms. {{ $('Set variables').item.json[\"What's your first name?\"] }} {{ $('Busca pre-birth messages').item.json[\"Village Welcomme\"] }}   ",
        "options": {}
      },
      "id": "15a6d8f4-daeb-4927-bab3-62bd2937eff0",
      "name": "Village 1 Welcome",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        2100,
        280
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "from": "+14175413741",
        "to": "={{ $('MongoDB1').item.json[\"spouse phone\"] }}",
        "message": "=Hey {{ $('Set variables').item.json[\"What's their name?\"] }}{{ $('Busca pre-birth messages').item.json[\"Spouse Welcome message\"] }} ",
        "options": {}
      },
      "id": "f0644fa9-1f0e-4846-98e7-370446d8b0e2",
      "name": "Spouse Welcome",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1900,
        280
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $('Typeform Welcome').item.json[\"Do you have a partner / spouse? \"] }}",
              "value2": "={{ true }}"
            }
          ]
        }
      },
      "id": "07a90e2e-f6de-46f9-bb0b-c04b5044409a",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1760,
        60
      ]
    },
    {
      "parameters": {},
      "id": "401a5496-efcd-4958-a3ee-fcb14f30f1e8",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1560,
        60
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $('Set variables').item.json['Have you given birth yet [field:01GYR7CS6QHA9EG2F5ZGD2C95E]?'] }}",
              "value2": "={{ true }}"
            }
          ]
        }
      },
      "id": "5b14dd12-edc3-48e7-b025-23764c972b05",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1360,
        280
      ]
    },
    {
      "parameters": {
        "from": "+14175413741",
        "to": "={{ $('Set variables').item.json[\"Nice to meet you, [field:01GYR7CS6QHA9EG2F5ZGD2C95E], we'll need your phone number to get started\"] }}",
        "message": "=Hey {{ $('Set variables').item.json[\"What's your first name?\"] }}! {{ $json[\"Welcome message\"] }}  ",
        "options": {}
      },
      "id": "8c1954df-42ec-4b6c-b261-e92209d0ba88",
      "name": "Welcome",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1200,
        280
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "collection": "Pre-Birth",
        "options": {},
        "query": "={\n  \"Pregnant Messages\": {\"$in\":[\"\"]}\n  \n}"
      },
      "id": "c9e2060a-8493-42ab-8b82-4fee45af9fec",
      "name": "Busca pre-birth messages",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1020,
        280
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "Mevi",
        "fields": "name, email, phone, due date, spouse name, spouse phone, relationship, spouse email, name village member 1, phone village member 1, relationship village member 1, email village member 1, given birth, other children, primary parent, weeks, name village member 2, phone village member 2, relationship village member 2, email village member 2, partner",
        "options": {}
      },
      "id": "1a5fcf01-7b2c-4f62-9c05-41941150d78a",
      "name": "MongoDB1",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        820,
        280
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "name",
              "value": "={{ $json[\"What's your first name?\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $json[\"What's your email?\"] }}"
            },
            {
              "name": "phone",
              "value": "={{$node[\"Typeform Welcome\"].json[\"Nice to meet you, [field:01GYR7CS6QHA9EG2F5ZGD2C95E], we'll need your phone number to get started\"]}}"
            },
            {
              "name": "due date",
              "value": "={{ $json[\"What's your *due *date?\"] }}"
            },
            {
              "name": "spouse name",
              "value": "={{ $json[\"What's their name?\"] }}"
            },
            {
              "name": "spouse phone",
              "value": "={{ $json[\"What's [field:61bb0ee3-3c71-41f3-8383-5972c67a932e]'s phone number?\"] }}"
            },
            {
              "name": "relationship",
              "value": "={{ $json[\"What's [field:61bb0ee3-3c71-41f3-8383-5972c67a932e]'s relationship to you?\"] }}"
            },
            {
              "name": "spouse email",
              "value": "={{ $json['What\\'s [field:61bb0ee3-3c71-41f3-8383-5972c67a932e]\\'s email address?'] }}"
            },
            {
              "name": "name village member 1",
              "value": "={{ $json['Enter the name of the closest person in your village?'] }}"
            },
            {
              "name": "phone village member 1",
              "value": "={{ $json['What\\'s [field:363eeaf8-baf1-4040-b4ba-b36f9c7cdb70]\\'s phone number?'] }}"
            },
            {
              "name": "relationship village member 1",
              "value": "={{ $json['What\\'s [field:363eeaf8-baf1-4040-b4ba-b36f9c7cdb70]\\'s relationship to you?'] }}"
            },
            {
              "name": "email village member 1",
              "value": "={{ $json['What\\'s [field:363eeaf8-baf1-4040-b4ba-b36f9c7cdb70]\\'s email address?'] }}"
            },
            {
              "name": "name village member 2",
              "value": "={{ $json['Who\\'s another person in your close village?'] }}"
            },
            {
              "name": "phone village member 2",
              "value": "={{ $json['What\\'s [field:2dca9f1d-c416-42f6-8637-6ccc6e9ceeea]\\'s phone number?'] }}"
            },
            {
              "name": "relationship village member 2",
              "value": "={{ $json['What\\'s [field:2dca9f1d-c416-42f6-8637-6ccc6e9ceeea]\\'s relationship to you?'] }}"
            },
            {
              "name": "email village member 2",
              "value": "={{ $json['What\\'s [field:2dca9f1d-c416-42f6-8637-6ccc6e9ceeea]\\'s email address?'] }}"
            }
          ],
          "boolean": [
            {
              "name": "given birth",
              "value": "={{$node[\"Typeform Welcome\"].json[\"Have you given birth yet [field:01GYR7CS6QHA9EG2F5ZGD2C95E]?\"]}}"
            },
            {
              "name": "other children",
              "value": "={{$node[\"Typeform Welcome\"].json[\"Do you have other children?\"]}}"
            },
            {
              "name": "primary parent",
              "value": "={{$node[\"Typeform Welcome\"].json[\"Are you the birthing or primary parent? \"]}}"
            },
            {
              "name": "partner",
              "value": "={{ $json[\"Do you have a partner / spouse? \"] }}"
            }
          ],
          "number": [
            {
              "name": "weeks",
              "value": "={{ $json[\"How many weeks pregnant are you?\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fd1262bf-debc-4e89-b47b-ca6a94199859",
      "name": "Set variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        640,
        280
      ]
    },
    {
      "parameters": {
        "formId": "LfSgCyGd"
      },
      "id": "10b03ed6-9fdd-4004-baf1-f1da8fba9b45",
      "name": "Typeform Welcome",
      "type": "n8n-nodes-base.typeformTrigger",
      "typeVersion": 1,
      "position": [
        380,
        280
      ],
      "webhookId": "da883f5c-28ad-4aa9-8243-07bc6ba17928",
      "executeOnce": true,
      "credentials": {
        "typeformApi": {
          "id": "15",
          "name": "Typeform account"
        }
      }
    }
  ],
  "connections": {
    "Week Message": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Village 1 Welcome": {
      "main": [
        [
          {
            "node": "Village 2 Welcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spouse Welcome": {
      "main": [
        [
          {
            "node": "Village 1 Welcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Spouse Welcome",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Village 1 Welcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Week Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Welcome": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca pre-birth messages": {
      "main": [
        [
          {
            "node": "Welcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB1": {
      "main": [
        [
          {
            "node": "Busca pre-birth messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set variables": {
      "main": [
        [
          {
            "node": "MongoDB1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Typeform Welcome": {
      "main": [
        [
          {
            "node": "Set variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}