Typeform_Welcome.json
{
  "meta": {
    "instanceId": "cd387a108e59f407338aaa3dd1fc1392753e7785132f8d58d189493b0d889a53"
  },
  "nodes": [
    {
      "parameters": {
        "from": "+14175413741",
        "to": "={{ $('Set variables').item.json[\"What's [field:2dca9f1d-c416-42f6-8637-6ccc6e9ceeea]'s phone number?\"] }}",
        "message": "= Hey {{ $('Set variables').item.json[\"Enter the name of another person in your village\"] }}, it's Mevi! We are the first ever mental load solution for new moms.{{ $('Busca pre-birth messages').item.json[\"Village Welcomme\"] }}  ",
        "options": {}
      },
      "id": "3b2e05aa-ff86-4bff-8e8f-05b8f74aaf72",
      "name": "Village 2 Welcome",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        2100,
        280
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "from": "+14175413741",
        "to": "={{ $('Set variables').item.json[\"What's [field:363eeaf8-baf1-4040-b4ba-b36f9c7cdb70]'s phone number?\"] }}",
        "message": "=Hey {{ $('Set variables').item.json[\"Enter the name of the next person in your village\"] }}, it's Mevi! We are the first ever mental load solution for new moms.{{ $('Busca pre-birth messages').item.json[\"Village Welcomme\"] }} ",
        "options": {}
      },
      "id": "15a6d8f4-daeb-4927-bab3-62bd2937eff0",
      "name": "Village 1 Welcome",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1920,
        280
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "from": "+14175413741",
        "to": "={{ $('MongoDB1').item.json[\"spouse phone\"] }}",
        "message": "=Hey {{ $('Busca pre-birth messages').item.json[\"Spouse Welcome message\"] }}",
        "options": {}
      },
      "id": "f0644fa9-1f0e-4846-98e7-370446d8b0e2",
      "name": "Spouse Welcome",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1740,
        280
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "from": "+14175413741",
        "to": "={{ $('MongoDB1').item.json.phone }}",
        "message": "={{ $('Busca pre-birth messages').item.json[\"Pregnant Messages\"][$('MongoDB1').item.json.weeks] }}   ",
        "options": {}
      },
      "id": "45d8a787-8076-4d58-a108-a07f84d983a4",
      "name": "Week Message",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1560,
        280
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "from": "+14175413741",
        "to": "={{ $('Set variables').item.json[\"Nice to meet you, [field:01GYR7CS6QHA9EG2F5ZGD2C95E], we'll need your phone number to get started\"] }}",
        "message": "=Hey {{ $('Set variables').item.json[\"What's your first name?\"] }}! {{ $json[\"Welcome message\"] }}  ",
        "options": {}
      },
      "id": "8c1954df-42ec-4b6c-b261-e92209d0ba88",
      "name": "Welcome",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1380,
        280
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "collection": "Pre-Birth",
        "options": {},
        "query": "={\n  \"Pregnant Messages\": {\"$in\":[\"\"]}\n  \n}"
      },
      "id": "c9e2060a-8493-42ab-8b82-4fee45af9fec",
      "name": "Busca pre-birth messages",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1200,
        280
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "Mevi",
        "fields": "name, email, phone, due date, spouse name, spouse phone, relationship, spouse email, name village member 1, phone village member 1, relationship village member 1, email village member 1, given birth, other children, primary parent, weeks, name village member 2, phone village member 2, relationship village member 2, email village member 2",
        "options": {}
      },
      "id": "1a5fcf01-7b2c-4f62-9c05-41941150d78a",
      "name": "MongoDB1",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1000,
        280
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "name",
              "value": "={{ $json[\"What's your first name?\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $json[\"What's your email?\"] }}"
            },
            {
              "name": "phone",
              "value": "={{$node[\"Typeform Welcome\"].json[\"Nice to meet you, [field:01GYR7CS6QHA9EG2F5ZGD2C95E], we'll need your phone number to get started\"]}}"
            },
            {
              "name": "due date",
              "value": "={{ $json[\"What's your *due *date?\"] }}"
            },
            {
              "name": "spouse name",
              "value": "={{ $json[\"Enter the name of the first person in your village\"] }}"
            },
            {
              "name": "spouse phone",
              "value": "={{ $json[\"What's [field:61bb0ee3-3c71-41f3-8383-5972c67a932e]'s phone number?\"] }}"
            },
            {
              "name": "relationship",
              "value": "={{ $json[\"What's [field:61bb0ee3-3c71-41f3-8383-5972c67a932e]'s relationship to you?\"] }}"
            },
            {
              "name": "spouse email",
              "value": "={{ $json['What\\'s [field:61bb0ee3-3c71-41f3-8383-5972c67a932e]\\'s email address?'] }}"
            },
            {
              "name": "name village member 1",
              "value": "={{ $json['Enter the name of the next person in your village'] }}"
            },
            {
              "name": "phone village member 1",
              "value": "={{ $json['What\\'s [field:363eeaf8-baf1-4040-b4ba-b36f9c7cdb70]\\'s phone number?'] }}"
            },
            {
              "name": "relationship village member 1",
              "value": "={{ $json['What\\'s [field:363eeaf8-baf1-4040-b4ba-b36f9c7cdb70]\\'s relationship to you?'] }}"
            },
            {
              "name": "email village member 1",
              "value": "={{ $json['What\\'s [field:363eeaf8-baf1-4040-b4ba-b36f9c7cdb70]\\'s email address?'] }}"
            },
            {
              "name": "name village member 2",
              "value": "={{ $json['Enter the name of another person in your village'] }}"
            },
            {
              "name": "phone village member 2",
              "value": "={{ $json['What\\'s [field:2dca9f1d-c416-42f6-8637-6ccc6e9ceeea]\\'s phone number?'] }}"
            },
            {
              "name": "relationship village member 2",
              "value": "={{ $json['What\\'s [field:2dca9f1d-c416-42f6-8637-6ccc6e9ceeea]\\'s relationship to you?'] }}"
            },
            {
              "name": "email village member 2",
              "value": "={{ $json['What\\'s [field:2dca9f1d-c416-42f6-8637-6ccc6e9ceeea]\\'s email address?'] }}"
            }
          ],
          "boolean": [
            {
              "name": "given birth",
              "value": "={{$node[\"Typeform Welcome\"].json[\"Have you given birth yet [field:01GYR7CS6QHA9EG2F5ZGD2C95E]?\"]}}"
            },
            {
              "name": "other children",
              "value": "={{$node[\"Typeform Welcome\"].json[\"Do you have other children?\"]}}"
            },
            {
              "name": "primary parent",
              "value": "={{$node[\"Typeform Welcome\"].json[\"Are you the birthing or primary parent? \"]}}"
            }
          ],
          "number": [
            {
              "name": "weeks",
              "value": "={{ $json[\"How many weeks pregnant are you?\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fd1262bf-debc-4e89-b47b-ca6a94199859",
      "name": "Set variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        800,
        280
      ]
    },
    {
      "parameters": {
        "formId": "LfSgCyGd"
      },
      "id": "10b03ed6-9fdd-4004-baf1-f1da8fba9b45",
      "name": "Typeform Welcome",
      "type": "n8n-nodes-base.typeformTrigger",
      "typeVersion": 1,
      "position": [
        620,
        280
      ],
      "webhookId": "da883f5c-28ad-4aa9-8243-07bc6ba17928",
      "executeOnce": true,
      "credentials": {
        "typeformApi": {
          "id": "15",
          "name": "Typeform account"
        }
      }
    }
  ],
  "connections": {
    "Village 1 Welcome": {
      "main": [
        [
          {
            "node": "Village 2 Welcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spouse Welcome": {
      "main": [
        [
          {
            "node": "Village 1 Welcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Week Message": {
      "main": [
        [
          {
            "node": "Spouse Welcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Welcome": {
      "main": [
        [
          {
            "node": "Week Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca pre-birth messages": {
      "main": [
        [
          {
            "node": "Welcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB1": {
      "main": [
        [
          {
            "node": "Busca pre-birth messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set variables": {
      "main": [
        [
          {
            "node": "MongoDB1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Typeform Welcome": {
      "main": [
        [
          {
            "node": "Set variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}