Typeform_village.json
{
  "meta": {
    "instanceId": "99d68c1f0abc8c95b53a5d4a1f9ab40d270b55323018b60c597c3fdcee2d3663"
  },
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "id": "90b533f2-6d6c-46f5-8452-ee77526e05bf",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -140,
        880
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "id": "79031d65-7b59-42c8-838e-1e275feb037e",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        180,
        880
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "6f468203-da96-4fc1-9f1d-373c01fdaa1d",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        380,
        880
      ]
    },
    {
      "parameters": {
        "url": "https://api.typeform.com/forms/WP4sjM5m/responses?page_size=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer tfp_FXNLSurP62Ri7YLBm5rEdPbR5a7YCNY4PmeRD5U7YPZt_3pbK9x8Emv1P3Q"
            },
            {
              "name": "cookie",
              "value": "AWSALBTG=zttAr2mXAeknTkRRx4One4bsybL29QuygLz7lUPSgQc0rBu1v3VT4Jup/98tP75B/XS9ZJmj9jH7lBSnFpsCFAFHggO28C1tPWwbh3B8vb4qwFboW6TIHniU/2gTvPBT9mvCTZEpyKk4jh5yNTgFLyCal5aCBAxFBCAm3vKTp+tR;AWSALBTGCORS=zttAr2mXAeknTkRRx4One4bsybL29QuygLz7lUPSgQc0rBu1v3VT4Jup/98tP75B/XS9ZJmj9jH7lBSnFpsCFAFHggO28C1tPWwbh3B8vb4qwFboW6TIHniU/2gTvPBT9mvCTZEpyKk4jh5yNTgFLyCal5aCBAxFBCAm3vKTp+tR;device_view=full;"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 0,
              "batchInterval": 0
            }
          }
        }
      },
      "id": "4df74667-7ab5-4ce5-9627-cc1fb544a04b",
      "name": "Get form answers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        20,
        880
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "name",
              "value": "={{ $json[\"answers\"][\"0\"][\"text\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $json[\"answers\"][\"1\"][\"text\"] }}"
            },
            {
              "name": "phone",
              "value": "={{ $json[\"answers\"][\"2\"][\"text\"] }}"
            },
            {
              "name": "location",
              "value": "={{ $json[\"answers\"][\"3\"][\"text\"] }}"
            },
            {
              "name": "responseId",
              "value": "={{ $json[\"response_id\"] }}"
            },
            {
              "name": "Village member phone",
              "value": "+573226159348"
            }
          ]
        },
        "options": {}
      },
      "id": "26a3e1dd-4158-4a24-a1b0-a3af058acd75",
      "name": "Set variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        540,
        880
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "Mavi",
        "fields": "name, email, phone, location, responseId, Village member phone",
        "options": {
          "dateFields": ""
        }
      },
      "id": "276e19e5-1d8d-4b82-a192-0e769eff10a1",
      "name": "MongoDB1",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        800,
        880
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "Series 1",
        "fields": "Welcome home",
        "options": {}
      },
      "id": "203147b3-3a8c-47cc-89ed-b1557878d0d2",
      "name": "MongoDB",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1100,
        700
      ],
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json[\"email\"] }}",
        "subject": "Hello from Mavi",
        "message": "Your email has been approved and you can now start using littl.  Before you login, we'd like to remind you that our solution is in Beta and has a few limitations:  ⚠️ Limitations ⚠️  While we have safeguards in place, our platform may occasionally generate outdated, incorrect, misleading or biased information. Please report issues you might come across. Littl does not replace professional medical advice.   CALL 911 IF YOU THINK YOU HAVE A MEDICAL EMERGENCY  Your feedback is extremely important to help us grow and build something truly valuable for you.   Please reply to this email if you have any questions or feedback you'd like to share. We'd love to hear from you! 🙏  Our goal is to create the ideal tech companion for anything parents need, anytime, anywhere.  Thank you for supporting our mission,",
        "options": {}
      },
      "id": "3338bdda-bb49-4c5a-9489-8317e973498d",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        820,
        700
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "13",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "=+542494554293",
        "toWhatsapp": true,
        "message": "=Welcome{{ $json[\"name\"] }}let us know when you are at home replying /home",
        "options": {}
      },
      "id": "5f7230da-84a7-4bf5-a27b-402adf36d08f",
      "name": "Twilio",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1000,
        880
      ],
      "credentials": {
        "twilioApi": {
          "id": "5",
          "name": "Twilio account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get form answers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "Set variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get form answers": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set variables": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          },
          {
            "node": "MongoDB1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB1": {
      "main": [
        [
          {
            "node": "Twilio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}