Typeform_waitlist.json
{
  "meta": {
    "instanceId": "cd387a108e59f407338aaa3dd1fc1392753e7785132f8d58d189493b0d889a53"
  },
  "nodes": [
    {
      "parameters": {
        "operation": "insert",
        "collection": "Waitlist",
        "fields": "name, email, phone, village agreement",
        "options": {}
      },
      "id": "d5837256-cad8-4d9a-a087-352e17a4c7ea",
      "name": "MongoDB1",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1080,
        340
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "10",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "name",
              "value": "={{ $json[\"What's your first name?\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $json[\"What's your email?\"] }}"
            },
            {
              "name": "phone",
              "value": "={{$node[\"Typeform Trigger\"].json[\"Nice to meet you, [field:01GYR7CS6QHA9EG2F5ZGD2C95E], we'll need your phone number to get started\"]}}"
            },
            {
              "name": "village agreement",
              "value": "={{$node[\"Typeform Trigger\"].json[\"Mevi is designed to tap into your village. Will you feel comfortable signing them up to support your postpartum journey?\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "44111eee-0304-4101-a4aa-11fcbc1b19e4",
      "name": "Set variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        760,
        340
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "formId": "h8F0rsem"
      },
      "id": "a7823eda-35f8-4405-b66b-fbbb5fa91aa4",
      "name": "Typeform Trigger",
      "type": "n8n-nodes-base.typeformTrigger",
      "typeVersion": 1,
      "position": [
        400,
        340
      ],
      "webhookId": "8116dd07-3b62-4436-bf2d-18792a888b1f",
      "credentials": {}
    }
  ],
  "connections": {
    "Set variables": {
      "main": [
        [
          {
            "node": "MongoDB1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Typeform Trigger": {
      "main": [
        [
          {
            "node": "Set variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}