Weeks_Messages_Pre_Birth__Pregnants_.json
{
  "meta": {
    "instanceId": "cd387a108e59f407338aaa3dd1fc1392753e7785132f8d58d189493b0d889a53"
  },
  "nodes": [
    {
      "parameters": {
        "from": "+14175413741",
        "to": "={{ $('SplitInBatches').item.json.phone }}",
        "message": "=Hey {{ $('SplitInBatches').item.json.name }}! {{ $('Busca pre-birth messages').item.json[\"Pregnant Messages\"][ $('SplitInBatches').item.json.weeks ] }}  ",
        "options": {}
      },
      "id": "57f0a25c-d6cc-494a-ab82-24a7bc8ffd61",
      "name": "Pregnant personal messages",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1460,
        560
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b2364a26-ee9c-42ed-9bc8-4e22cb580549",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1260,
        560
      ]
    },
    {
      "parameters": {
        "from": "+14175413741",
        "to": "=  {{ $('SplitInBatches').item.json.phone }}",
        "message": "={{ $('Busca pre-birth messages').item.json[\"Pregnant Messages\"][$('SplitInBatches').item.json.weeks ]}} ",
        "options": {}
      },
      "id": "f9bb5709-10e2-4edd-8342-8a30a063f2f3",
      "name": "Pregnant1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1460,
        280
      ],
      "credentials": {
        "twilioApi": {
          "id": "16",
          "name": "Twilio Zamina trial"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e19a19c8-504e-47e8-8639-c27051c1677c",
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1260,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $('SplitInBatches').item.json.weeks }}",
              "operation": "notEqual",
              "value2": 6
            },
            {
              "value1": "={{ $('SplitInBatches').item.json.weeks }}",
              "operation": "notEqual",
              "value2": 10
            },
            {
              "value1": "={{ $('SplitInBatches').item.json.weeks }}",
              "operation": "notEqual",
              "value2": 19
            },
            {
              "value1": "={{ $('SplitInBatches').item.json.weeks }}",
              "operation": "notEqual",
              "value2": 31
            },
            {
              "value1": "={{ $('SplitInBatches').item.json.weeks }}",
              "operation": "notEqual",
              "value2": 32
            }
          ]
        }
      },
      "id": "8426139a-a48d-46fd-af4d-8174aa6b7646",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1040,
        420
      ]
    },
    {
      "parameters": {},
      "id": "08904762-c238-449d-912b-50edf5b06207",
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1040,
        180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.message }}"
            }
          ]
        }
      },
      "id": "c66d5542-716e-4aff-86d3-110bf79ece6b",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        860,
        280
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "pregnant phone",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "message",
              "value": "={{$('Busca pre-birth messages').item.json[\"Pregnant Messages\"][ $json.weeks]}} \n"
            }
          ]
        },
        "options": {}
      },
      "id": "b3b4255c-513c-427d-b754-7c36884e3cf6",
      "name": "Set2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        620,
        280
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "d830c7b5-6e5d-4317-9aed-f92202fb9136",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        400,
        280
      ]
    },
    {
      "parameters": {
        "collection": "Mevi",
        "options": {},
        "query": "={\"weeks\": {\"$in\": [4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40]}}"
      },
      "id": "f01529e8-3ea0-4481-91e3-9cdd978cf139",
      "name": "Busca primary parent",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        140,
        280
      ],
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "collection": "Pre-Birth",
        "options": {},
        "query": "={\n  \"Pregnant Messages\": {\"$in\":[\"\"]}\n  \n}"
      },
      "id": "bd8b30df-ddb8-4a78-ab0c-0cf5576d5a25",
      "name": "Busca pre-birth messages",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        -100,
        280
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "13",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "b1176c0a-58a6-4205-9e23-1b368c830184",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -360,
        280
      ]
    }
  ],
  "connections": {
    "Set": {
      "main": [
        [
          {
            "node": "Pregnant personal messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "Pregnant1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set2": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "Busca primary parent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca primary parent": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca pre-birth messages": {
      "main": [
        [
          {
            "node": "Busca primary parent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Busca pre-birth messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}