Weeks_Messages.json
{
  "name": "Weeks Messages Pre-Birth",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 7,
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "c812251c-5149-4591-938b-3cadbb7201d0",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -2260,
        1080
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "f5e9b2dc-3248-4475-9275-280c8231391a",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        -1620,
        1080
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "caf2bb51-1b29-43a3-b70a-2c1464bb3860",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1420,
        1080
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "message ",
              "value": "={{ $node[\"Busca pre-birth messages\"].json[\"Weeks Messages\"][ $node[\"Set\"].json[\"Weeks\"] ] }}"
            }
          ],
          "number": [
            {
              "name": "semanas de embarazo",
              "value": "={{ $node[\"Set\"].json[\"Weeks\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3a8d9e2f-2ffd-4919-922e-a394c55aec9b",
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1180,
        1080
      ]
    },
    {
      "parameters": {
        "collection": "Mevi",
        "options": {},
        "query": "={\"Weeks\": {\"$in\": [13]}}"
      },
      "id": "76ef1120-23ae-4c7c-bbc8-458f4a4b0e40",
      "name": "Busca primary parent",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        -1840,
        1080
      ],
      "credentials": {
        "mongoDb": {
          "id": "20",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "collection": "Pre-Birth",
        "options": {},
        "query": "={\n  \"Weeks Messages\": {\"$in\":[\"0\"]}\n  \n}"
      },
      "id": "5e8068f3-2fea-4910-b4b3-437e351f056b",
      "name": "Busca pre-birth messages",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        -2060,
        1080
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "20",
          "name": "MongoDB Atlas"
        }
      }
    },
    {
      "parameters": {
        "from": "+13613664267",
        "to": "={{ $node[\"Busca primary parent\"].json[\"phone\"] }}",
        "message": "={{ $json[\"message \"] }}",
        "options": {}
      },
      "id": "cb61e9d4-7ea3-4b98-b93c-a97c6193111c",
      "name": "Pregnant",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -940,
        1160
      ],
      "credentials": {
        "twilioApi": {
          "id": "22",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "+13613664267",
        "to": "={{ $node[\"Busca primary parent\"].json[\"spouse phone\"] }}",
        "message": "={{ $node[\"Busca pre-birth messages\"].json[\"Spouse SMSs\"][$node[\"Set\"].json[\"Weeks\"]] }}",
        "options": {}
      },
      "id": "3c89da8e-2b78-4d9c-924e-37b506833398",
      "name": "Spouse",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -740,
        1160
      ],
      "credentials": {
        "twilioApi": {
          "id": "22",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "+13613664267",
        "to": "={{ $node[\"Busca primary parent\"].json[\"Village member phone\"] }}",
        "message": "={{ $node[\"Busca pre-birth messages\"].json[\"Village SMSs\"][$node[\"Set\"].json[\"Weeks\"]] }}",
        "options": {}
      },
      "id": "8193d81d-65f3-45ba-98d5-6af3a3f09c71",
      "name": "Village1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -540,
        1160
      ],
      "credentials": {
        "twilioApi": {
          "id": "22",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "pregnant phone",
              "value": "={{ $node[\"Busca primary parent\"].json[\"phone\"] }}"
            },
            {
              "name": "message",
              "value": "={{ $json[\"message \"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6e972f43-f296-481d-bedb-8b9946d6b3db",
      "name": "Pregnant2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -960,
        880
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "pregnant phone",
              "value": "={{ $node[\"Busca primary parent\"].json[\"spouse phone\"] }}"
            },
            {
              "name": "message",
              "value": "={{ $node[\"Busca pre-birth messages\"].json[\"Spouse SMSs\"][$node[\"Set\"].json[\"Weeks\"]] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f44ef070-0755-4cef-aa7a-7bf2dc40e0cb",
      "name": "Spouse1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -540,
        880
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "pregnant phone",
              "value": "={{ $node[\"Busca primary parent\"].json[\"Village member phone\"] }}"
            },
            {
              "name": "message",
              "value": "={{ $node[\"Busca pre-birth messages\"].json[\"Village SMSs\"][$node[\"Set\"].json[\"Weeks\"]] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1cf9b5b-5f94-48a0-b01e-d732b944300d",
      "name": "Village",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -100,
        880
      ]
    },
    {
      "parameters": {},
      "id": "060f72c8-bbe0-4950-8d39-2230bffe71b3",
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -540,
        660
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Busca pre-birth messages\"].json[\"Spouse SMSs\"][$node[\"Set\"].json[\"Weeks\"]] }}"
            }
          ]
        }
      },
      "id": "f7af8aac-232e-456f-b8dc-538d47e803c0",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -760,
        880
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Busca pre-birth messages\"].json[\"Village SMSs\"][$node[\"Set\"].json[\"Weeks\"]] }}"
            }
          ]
        }
      },
      "id": "b2d7b6e4-64b1-4ebd-a5eb-4914e316a426",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -340,
        880
      ]
    },
    {
      "parameters": {},
      "id": "2b1fd441-7529-4e68-9bcb-2bb70d1fd456",
      "name": "NoOp1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -200,
        680
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Busca pre-birth messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca primary parent": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca pre-birth messages": {
      "main": [
        [
          {
            "node": "Busca primary parent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "Pregnant2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pregnant": {
      "main": [
        [
          {
            "node": "Spouse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spouse": {
      "main": [
        [
          {
            "node": "Village1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pregnant2": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spouse1": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NoOp": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Spouse1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "NoOp1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Village",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "hash": "8496c47f8666d903c5f8d768c1018631",
  "id": 18,
  "meta": {
    "instanceId": "99d68c1f0abc8c95b53a5d4a1f9ab40d270b55323018b60c597c3fdcee2d3663"
  },
  "tags": []
}